openapi: 3.0.1
info:
  title: Fatture in Cloud API v2 - API Reference
  description: "## Request informations\nIn every request description you will be able to find some additional informations about context, permissions and supported functionality:\n\n| Parameter | Description |\n|-----------|-------------|\n| \U0001F465 Context | Indicate the subject of the request. Can be `company`, `user` or `accountant`.  |\n| \U0001F512 Required scope | If present, indicates the required scope to fulfill the request. |\n| \U0001F50D Filtering | If present, indicates which fields support the filtering feature. |\n| ↕️ Sorting | If present, indicates which fields support the sorting feature. |\n| \U0001F4C4 Paginated results | If present, indicate that the results are paginated. |\n| \U0001F3A9 Customized responses supported | If present, indicate that you can use `field` or `fieldset` to customize the response body. |\n\nFor example the request `GET /entities/{entityRole}` have tis informations: \\\n\U0001F465 Company context \\\n\U0001F512 Required scope: `entity.clients:r` or `entity.suppliers:r` (depending on `entityRole`) \\\n\U0001F50D Filtering: `id`, `name` \\\n↕️ Sorting: `id`, `name` \\\n\U0001F4C4 Paginated results \\\n\U0001F3A9 Customized responses supported\n\nKeep in mind that if you are making **company realted requests**, you will need to specify the company id in the requests:\n```\nGET /c/{companyId}/issued_documents\n```"
  contact:
    name: Fatture in Cloud
    url: 'https://www.fattureincloud.it'
    email: info@fattureincloud.it
  license:
    name: ''
  version: v1.0
servers:
  - url: 'https://api-v2.fattureincloud.it/'
tags:
  - name: Auth
    description: Autenticazione
  - name: User
    description: Utente
  - name: Company
    description: Azienda
  - name: Clients and suppliers
    description: Clienti e fornitori
  - name: Products
    description: Prodotti
  - name: Issued documents
  - name: Issued e-invoices
  - name: Received documents
  - name: Received e-invoices
  - name: E-invoices
  - name: Receipts
  - name: Taxes
  - name: Archive
  - name: Info
  - name: Settings
  - name: Cashbook
  - name: Search
  - name: Dashboard
  - name: Calendar
  - name: Notifications
  - name: No authentication
  - name: Entities
  - name: TEST
paths:
  /auth/access_token:
    post:
      tags:
        - Auth
      summary: User authentication
      description: Retrieve the UserAuthentication access token for the given credentials and client id.
      operationId: userAuthentication
      requestBody:
        content:
          application/json:
            schema:
              required:
                - client_id
                - email
                - password
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
                client_id:
                  type: string
        required: false
      responses:
        '200':
          description: Authenticated.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      access_token:
                        type: string
                        description: UserAuthentication access token.
                        example: 7c497968c6b30ed17bb5a9b8362f159352a92aab2e68a994f1c96ba5c596560da0c535510e8b94933a47c88b99b9fcaf
              example: |-
                {
                  "data": {
                    "access_token": "7c497968c6b30ed17bb5a9b8362f159352a92aab2e68a994f1c96ba5c596560da0c535510e8b94933a47c88b99b9fcaf"
                  }
                }
        '400':
          description: Not authenticated.
          content: {}
      x-private: true
      x-codegen-request-body-name: body
  /user/info:
    get:
      tags:
        - User
      summary: Get user info
      description: "\U0001F464 Person context\n\nGet user email, name and id."
      operationId: userInfo
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      responses:
        '200':
          description: User info.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: User unique identifier.
                        example: 12345
                      name:
                        type: string
                        description: User name.
                        example: Mario Rossi
                      first_name:
                        type: string
                        example: Mario
                      last_name:
                        type: string
                        example: Rossi
                      email:
                        type: string
                        example: mario@rossi-example.it
              example: |-
                {
                  "data": {
                    "id": 123,
                    "name": "Mario Rossi",
                    "first_name": "Mario",
                    "last_name": "Rossi",
                    "email": "mario.rossi@example.it"
                  }
                }
        '401':
          description: Unauthorized.
          content: {}
      security:
        - OAuth2Authentication:
            - no scope required
  /user/companies:
    get:
      tags:
        - User
      summary: Get controlled companies
      description: "\U0001F464 Person context\n\nGet a list of the controlled companies and their CompanyAuthentication tokens."
      operationId: userCompanies
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      responses:
        '200':
          description: Companies list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      companies:
                        type: array
                        items:
                          $ref: '#/components/schemas/CompanyData'
              example: "{\n  \"data\": {\n    \"companies\": [\n      {\n        \"id\": 2,\n        \"name\": \"Studio Rossi\",\n        \"type\": \"accountant\",\n        \"controlled_companies\": [\n\t      {\n            \"id\": 2,\n            \"name\": \"Studio Rossi\",\n            \"type\": \"company\",\n            \"access_token\": \"cd015011d2dbf8a9d38e810b325b11b56d02e51688e5261a245933b8e677b8b44ff5f0fe5ccaaf1d7157fa13ca72ab62b6183db0667a576a0e19164801c18c4fd81273fc1f95bf460b869015cf99acbe\",\n            \"permissions\": {\n              \"fic_situation\": \"write\",\n              \"fic_clients\": \"write\",\n              \"fic_suppliers\": \"write\",\n              \"fic_products\": \"write\",\n              \"fic_issued_docs\": \"write\",\n              \"fic_received_docs\": \"write\",\n              \"fic_receipts\": \"write\",\n              \"fic_calendar\": \"write\",\n              \"fic_archive\": \"write\",\n              \"fic_taxes\": \"write\",\n              \"fic_stock\": \"write\",\n              \"fic_cashbook\": \"write\",\n              \"fic_settings\": \"write\"\n\t\t\t}\n          },\n          {\n            \"id\": 5,\n            \"name\": \"Giuseppe Verdi S.r.l.\",\n            \"type\": \"company\",\n            \"access_token\": \"fd015011d2dbf8a9d38e810b325b11b56d02e51688e5261a245933b8e677b8b44ff5f0fe5ccaaf1d7157fa13ca72ab62b6183db0667a576a0e19164801c18c4fd81273fc1f95bf460b869015cf99acbe\",\n            \"permissions\": {\n              \"fic_situation\": \"write\",\n              \"fic_clients\": \"write\",\n              \"fic_suppliers\": \"write\",\n              \"fic_products\": \"write\",\n              \"fic_issued_docs\": \"read\",\n              \"fic_received_docs\": \"read\",\n              \"fic_receipts\": \"write\",\n              \"fic_calendar\": \"write\",\n              \"fic_archive\": \"write\",\n              \"fic_taxes\": \"write\",\n              \"fic_stock\": \"write\",\n              \"fic_cashbook\": \"write\",\n              \"fic_settings\": \"none\"\n\t\t\t}\n          }\n        ]\n      },\n      {\n        \"id\": 8,\n        \"name\": \"Azienda 2 S.n.c.\",\n        \"type\": \"company\",\n        \"access_token\": \"ad015011d2dbf8a9d38e810b325b11b56d02e51688e5261a245933b8e677b8b44ff5f0fe5ccaaf1d7157fa13ca72ab62b6183db0667a576a0e19164801c18c4fd81273fc1f95bf460b869015cf99acbe\",\n        \"permissions\": {\n          \"fic_situation\": \"write\",\n          \"fic_clients\": \"write\",\n          \"fic_suppliers\": \"write\",\n          \"fic_products\": \"write\",\n          \"fic_issued_docs\": \"write\",\n          \"fic_received_docs\": \"write\",\n          \"fic_receipts\": \"write\",\n          \"fic_calendar\": \"write\",\n          \"fic_archive\": \"write\",\n          \"fic_taxes\": \"write\",\n          \"fic_stock\": \"write\",\n          \"fic_cashbook\": \"write\",\n          \"fic_settings\": \"write\"\n\t\t}\n      }\n    ]\n  }\n}"
        '401':
          description: Unauthorized.
          content: {}
      security:
        - OAuth2Authentication:
            - no scope required
  /user/password:
    put:
      tags:
        - User
      summary: Modify user password
      description: "\U0001F464 Person context\n\nEdit user's password."
      operationId: userPasswordEdit
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  required:
                    - password
                  type: object
                  properties:
                    password:
                      type: string
        required: true
      responses:
        '200':
          description: Password changed successfully.
          content: {}
        '401':
          description: Unauthorized.
          content: {}
      security:
        - OAuth2Authentication:
            - no scope required
      x-private: true
      x-codegen-request-body-name: body
  '/c/{companyId}/company/info':
    get:
      tags:
        - Company
      summary: Get company info
      description: 'Get company info like email, license expire date and access info for each document and section'
      operationId: companyInfo
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      responses:
        '200':
          description: Company info.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: Company unique identifier.
                        example: 12345
                      name:
                        type: string
                        description: Company name.
                        example: Mario Rossi S.r.l.
                      email:
                        type: string
                        description: Company email.
                        example: mario@rossi-example.it
                      type:
                        type: string
                        description: Company type.
                        enum:
                          - company
                          - accountant
                      fic:
                        type: boolean
                        description: Determine if the company has a FIC account.
                      fic_plan:
                        type: string
                        description: Company FIC account plan.
                        enum:
                          - trial
                          - standard
                          - premium
                          - premium_plus
                      fic_license_expire:
                        type: string
                        description: Company FIC license expire date.
                        format: date
                      use_fic:
                        type: boolean
                        description: 'Determine if the FIC account is actually used. If type="company" this is always true; if type="accountant" it can be true or false. If false, it means that the accountant uses FIC only to control other companies and not to control itself.'
                      fic_need_setup:
                        type: boolean
                        description: Indicate that the initial setup for FIC is required.
                      dic:
                        type: boolean
                        description: Determine if the company has a DIC account.
                      dic_plan:
                        type: string
                        description: Company DIC account plan.
                        enum:
                          - trial
                      dic_license_expire:
                        type: string
                        description: Company FIC license expire date.
                        format: date
                      use_dic:
                        type: boolean
                        description: 'Determine if the DIC account is actually used. If type=“company” this is always true; if type=“accountant” it can be true or false. If false, it means that the accountant uses DIC only to control other companies and not to control itself.'
                      dic_need_setup:
                        type: boolean
                        description: Indicate that the initial setup for DIC is required.
                      access_info:
                        type: object
                        properties:
                          role:
                            type: string
                            description: Role of the user in this company.
                            enum:
                              - master
                              - subaccount
                              - employee
                          permissions:
                            type: object
                            properties:
                              fic_situation:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_clients:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_suppliers:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_products:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_issued_documents:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_received_documents:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_receipts:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_calendar:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_archive:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_taxes:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_stock:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_cashbook:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_settings:
                                $ref: '#/components/schemas/PermissionLevel'
                            description: Permissions on the company.
                      plan_info:
                        type: object
                        properties:
                          limits:
                            type: object
                            properties:
                              clients:
                                type: integer
                              suppliers:
                                type: integer
                              products:
                                type: integer
                              documents:
                                type: integer
                            description: Limits for this company.
                          functions:
                            type: object
                            properties:
                              example_function:
                                type: boolean
                            description: Access to functions for this company.
              example: |-
                {
                  "data": {
                    "id": 12345,
                    "name": "Mario Rossi S.r.l.",
                    "email": "mario.rossi@example.it",
                    "type": "accountant",
                    "fic": true,
                    "fic_plan": "premium",
                    "fic_license_expire": "2019-04-19",
                    "use_fic": true,
                    "fic_need_setup": false,
                    "dic": true,
                    "dic_plan": "trial",
                    "dic_license_expire": "2018-06-15",
                    "use_dic": false,
                    "dic_need_setup": true,
                    "access_info": {
                      "role": "master",
                      "permissions": {
                        "fic_situation": "write",
                        "fic_clients": "write",
                        "fic_suppliers": "write",
                        "fic_products": "write",
                        "fic_issued_documents": "write",
                        "fic_received_documents": "write",
                        "fic_receipts": "write",
                        "fic_calendar": "write",
                        "fic_archive": "write",
                        "fic_taxes": "write",
                        "fic_stock": "write",
                        "fic_cashbook": "write",
                        "fic_settings": "write",
                        "dic_employees": "write",
                        "dic_timesheet": "write",
                        "dic_settings": "write"
                      }
                    }
                  }
                }
        '401':
          description: Unauthorized.
          content: {}
      security:
        - OAuth2Authentication:
            - no scope required
      x-private: true
  /register/account:
    post:
      tags:
        - No authentication
      summary: Account registration
      description: Register a new account (user+company).
      operationId: registerCreate
      requestBody:
        content:
          application/json:
            schema:
              required:
                - client_id
                - consents
                - email
                - name
                - password
              type: object
              properties:
                email:
                  type: string
                  description: User and company email.
                  example: mario@rossi.example.it
                password:
                  type: string
                  description: User password.
                  example: qwerty123
                client_id:
                  type: string
                  description: Client id.
                  example: A21ZGnEbycHR6xIKJ9MOLJtavXjfihu9
                name:
                  type: string
                  description: Company name.
                  example: Mario Rossi S.r.l.
                type:
                  type: string
                  description: Type of the company.
                  default: company
                  enum:
                    - company
                    - accountant
                company_type:
                  type: string
                  description: Legal type of the company.
                  default: independent_contractor
                  enum:
                    - independent_contractor
                    - individual
                    - partnership
                    - corporation
                consents:
                  required:
                    - offers
                    - surveys
                  type: object
                  properties:
                    offers:
                      type: boolean
                      description: Consent to receive offers.
                    surveys:
                      type: boolean
                      description: Consent to receive surveys.
                  description: Status of the accepted consents.
        required: true
      responses:
        '200':
          description: Registered.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user_access_token:
                        type: string
                        description: UserAuthentication access token.
                        example: 7c497968c6b30ed17bb5a9b8362f159352a92aab2e68a994f1c96ba5c596560da0c535510e8b94933a47c88b99b9fcaf
                      company_access_token:
                        type: string
                        description: CompanyAuthentication access token.
                        example: 7c497968c6b30ed17bb5a9b8362f159352a92aab2e68a994f1c96ba5c596560d4ff5f0fe5ccaaf1d7157fa13ca72ab62b6183db0667a576a0e19164801c18c4f8d74b6388c314752b2ad57e35bd23399
              example: |-
                {
                  "data": {
                    "user_access_token": "7c497968c6b30ed17bb5a9b8362f159352a92aab2e68a994f1c96ba5c596560da0c535510e8b94933a47c88b99b9fcaf",
                    "company_access_token": "7c497968c6b30ed17bb5a9b8362f159352a92aab2e68a994f1c96ba5c596560d4ff5f0fe5ccaaf1d7157fa13ca72ab62b6183db0667a576a0e19164801c18c4f8d74b6388c314752b2ad57e35bd23399"
                  }
                }
        '400':
          description: Not registered.
          content: {}
      x-private: true
      x-codegen-request-body-name: body
  /register/availability:
    post:
      tags:
        - No authentication
      summary: Check email availability
      description: Check if is it possible to register a new account with a specific email.
      operationId: registerAvailability
      requestBody:
        content:
          application/json:
            schema:
              required:
                - client_id
                - email
              type: object
              properties:
                email:
                  type: string
                  description: User and company email.
                  example: mario@rossi.example.it
                client_id:
                  type: string
                  description: Client id.
                  example: A21ZGnEbycHR6xIKJ9MOLJtavXjfihu9
        required: true
      responses:
        '200':
          description: Registered.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    required:
                      - availability
                    type: object
                    properties:
                      availability:
                        type: boolean
                        description: Tells if the email is avaliable.
                        example: true
              example: |-
                {
                  "data": {
                    "available": true
                  }
                }
        '400':
          description: Not registered.
          content: {}
      x-private: true
      x-codegen-request-body-name: body
  /register/preview/logo:
    get:
      tags:
        - No authentication
      summary: Preview logo image
      description: Preview logo image
      operationId: registerPreviewLogo
      parameters:
        - name: logo_token
          in: query
          description: Token of the uploaded logo
          required: true
          schema:
            type: string
          example: ynUYGjn7hhbYy7y87HJbjHBKj
      responses:
        '200':
          description: Logo preview
          content:
            image/jpeg:
              schema:
                type: string
                description: Image in JPEG/PNG format
                format: binary
            image/png:
              schema:
                type: string
                description: Image in JPEG/PNG format
                format: binary
        '400':
          description: Status 400
          content: {}
      x-private: true
    post:
      tags:
        - No authentication
      summary: Upload preview logo
      description: Upload the temporary logo for the on-boarding preview.
      operationId: registerLogoPreview
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - filename
                - logo
              properties:
                filename:
                  type: string
                  description: File name.
                  example: logo.png
                logo:
                  type: string
                  description: Logo image file (png/jpg).
                  format: binary
        required: true
      responses:
        '200':
          description: Uploaded.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      logo_token:
                        type: string
                        description: Logo token needed for the preview.
              example: |-
                {
                  "data": {
                    "logo_token": "ynUYGjn7hhbYy7y87HJbjHBKj"
                  }
                }
        '400':
          description: Not uploaded.
          content: {}
      x-private: true
  /register/preview:
    get:
      tags:
        - No authentication
      summary: Get invoice preview
      description: Retrieve the on-boarding HTML preview of the invoice.
      operationId: registerInvoicePreview
      parameters:
        - name: name
          in: query
          description: Company name.
          required: true
          schema:
            type: string
        - name: template_id
          in: query
          description: Template unique identifier.
          required: true
          schema:
            type: integer
        - name: main_color
          in: query
          description: Main color of the invoice (RGB 6-chars hex value).
          required: true
          schema:
            type: string
          example: ef3412
        - name: logo_token
          in: query
          description: Token of the uploaded logo.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Preview.
          content:
            text/html:
              schema:
                type: object
                description: Invoice HTML preview.
        '400':
          description: Not registered.
          content: {}
      x-private: true
  '/c/{companyId}/dashboard/cards':
    get:
      tags:
        - Dashboard
      summary: Get dashboard basic info
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `situation:r`\n\nGet basic info from your dashboard"
      operationId: dashboardCards
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: year
          in: query
          description: Year of interest
          schema:
            type: integer
          example: 2018
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      responses:
        '200':
          description: Status 200
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      revenues:
                        type: object
                        properties:
                          trends:
                            type: object
                            properties:
                              <year-1>:
                                type: array
                                example:
                                  - 120
                                  - 100
                                  - 20
                                  - 120
                                  - 100
                                  - 20
                                  - 120
                                  - 100
                                  - 20
                                  - 120
                                  - 100
                                  - 20
                                items:
                                  type: number
                              <year>:
                                type: array
                                example:
                                  - 120
                                  - 100
                                  - 20
                                  - 120
                                  - 100
                                  - 20
                                  - 120
                                  - 100
                                  - 20
                                  - 120
                                  - 100
                                  - 20
                                items:
                                  type: number
                          current_year:
                            type: number
                            description: Revenue amount of the current year
                            example: 9000
                          increasing:
                            type: boolean
                            description: Indication of revenues growth
                            example: true
                      costs:
                        type: object
                        properties:
                          trends:
                            type: object
                            properties:
                              <year>:
                                type: array
                                example:
                                  - 120
                                  - 100
                                  - 20
                                  - 120
                                  - 100
                                  - 20
                                  - 120
                                  - 100
                                  - 20
                                  - 120
                                  - 100
                                  - 20
                                items:
                                  type: number
                              <year-1>:
                                type: array
                                example:
                                  - 120
                                  - 100
                                  - 20
                                  - 120
                                  - 100
                                  - 20
                                  - 120
                                  - 100
                                  - 20
                                  - 120
                                  - 100
                                  - 20
                                items:
                                  type: number
                          current_year:
                            type: number
                            description: Costs amount of the current year
                            example: 9000
                          increasing:
                            type: boolean
                            description: Indication of costs growth
                            example: false
                      vat:
                        type: object
                        properties:
                          quarter:
                            type: number
                            description: Current quarter vat due amount.
                            example: 440
                          quarter_detail:
                            type: array
                            description: Current quarter vat due amount by month
                            example:
                              - 120
                              - 120
                              - 200
                            items:
                              type: number
              example:
                data:
                  revenues:
                    trends:
                      <year-1>:
                        - 120
                        - 100
                        - 20
                      <year>:
                        - 120
                        - 100
                        - 20
                    current_year: 9000
                    increasing: true
                  costs:
                    trends:
                      <year>:
                        - 120
                        - 100
                        - 20
                      <year-1>:
                        - 120
                        - 100
                        - 20
                    current_year: 9000
                    increasing: false
                  vat:
                    quarter: 440
                    quarter_detail:
                      - 120
                      - 200
      security:
        - OAuth2Authentication:
            - 'situation:r'
      x-private: true
  '/c/{companyId}/dashboard/deadlines':
    get:
      tags:
        - Dashboard
      summary: Get dashboard deadlines
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `situation:r` or `calendar:r`\n\nGet the list of all documents deadlines (or expiring date????)"
      operationId: dashboardDeadlines
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: date_from
          in: query
          description: Date from filter.
          required: true
          schema:
            type: string
            format: date
        - name: limit_to
          in: query
          description: Limit results for each type to this number.
          required: true
          schema:
            type: integer
        - name: limit_expired_to
          in: query
          description: Limit expired items to this number.
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      responses:
        '200':
          description: Status 200
          content:
            application/json:
              schema:
                required:
                  - credits
                  - debts
                  - other
                  - taxes
                type: object
                properties:
                  credits:
                    type: array
                    description: List of income deadlines
                    items:
                      $ref: '#/components/schemas/CalendarItemCredit'
                  debts:
                    type: array
                    description: List of outgoing deadlines
                    items:
                      $ref: '#/components/schemas/CalendarItemDebt'
                  taxes:
                    type: array
                    description: List of taxes
                    items:
                      $ref: '#/components/schemas/CalendarItemTax'
                  other:
                    type: array
                    description: List of other deadlines
                    items:
                      $ref: '#/components/schemas/CalendarItemOther'
              example:
                data:
                  credits:
                    - date: '2017-05-08'
                      title: Parziale fattura nr. 5
                      amount: 30
                      status: not paid
                      expired: true
                      entity:
                        name: Mario Rossi
                      document:
                        id: 8005950
                        type: invoice
                        path: issued_documents/8005950
                    - date: '2017-05-08'
                      title: Fattura nr. 5
                      amount: 105
                      status: paid
                      expired: true
                      entity:
                        id: 234234
                        name: Mario Rossi 2
                        path: clients/234234
                      document:
                        id: 8005950
                        type: invoice
                        path: issued_documents/8005950
                  debts:
                    - date: '2017-02-18'
                      title: Parziale acquisto nr. 5
                      amount: 105
                      status: not paid
                      expired: true
                      entity:
                        id: 765432
                        name: Mario Rossi 3
                        path: suppliers/765432
                      document:
                        id: 12323554
                        type: expense
                        path: expenses/12323554
                  taxes:
                    - date: '2017-01-31'
                      title: Tassa
                      amount: 100
                      status: not paid
                      expired: true
                      document:
                        id: 4369
                        path: taxes/4369
                    - date: '2017-03-31'
                      title: ciao
                      amount: 23
                      status: paid
                      expired: true
                      document:
                        id: 4378
                        path: taxes/4378
                  other:
                    - date: '2017-01-31'
                      title: Promemoria random
                      expired: true
                    - date: '2017-02-06'
                      title: Prova
                      expired: true
      security:
        - OAuth2Authentication:
            - 'situation:r'
            - 'calendar:r'
      x-private: true
  '/c/{companyId}/search':
    get:
      tags:
        - Search
      summary: Search all data
      description: "\U0001F465 Company context\n\nSearch all data (Omnisearch)"
      operationId: searchAll
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: context
          in: query
          description: Context of the search.
          allowEmptyValue: true
          schema:
            type: string
            enum:
              - <empty>
              - clients
              - suppliers
              - issued_documents
              - received_documents
              - invoice
              - credit_note
              - receipt
              - quote
              - order
              - proforma
              - delivery_note
              - work_report
              - supplier_order
              - expense
              - passive_credit_note
              - passive_delivery_note
        - name: entity_id
          in: query
          description: Client or supplier identifier (only for clients/suppliers contexts).
          schema:
            type: integer
        - name: 'filter[0][field]'
          in: query
          description: |-
            ```
            filter[1]
            filter[2]
            ...
            filter[n]
            ```
          schema:
            type: string
        - name: 'filter[0][op]'
          in: query
          schema:
            type: string
            enum:
              - '='
              - '>'
              - <
              - '>='
              - <=
              - contains
              - like
        - name: 'filter[0][value]'
          in: query
          schema:
            type: string
        - name: query
          in: query
          description: Raw search query.
          schema:
            type: string
        - name: sort
          in: query
          description: Tells how to sort the results.
          schema:
            type: string
          example: 'name,-date'
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      responses:
        '200':
          description: Status 200
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      clients:
                        type: array
                        items:
                          $ref: '#/components/schemas/LegalEntity'
                      suppliers:
                        type: array
                        items:
                          $ref: '#/components/schemas/LegalEntity'
                      issued_documents:
                        type: array
                        items:
                          $ref: '#/components/schemas/IssuedDocument'
                      received_documents:
                        type: array
                        items:
                          $ref: '#/components/schemas/ReceivedDocument'
      security:
        - OAuth2Authentication:
            - no scope required
      x-private: true
  '/c/{companyId}/entities/{entityRole}':
    get:
      tags:
        - Clients and suppliers
      summary: List and search entities
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `entity.clients:r` or `entity.suppliers:r` (depending on `entityRole`) \\\n\U0001F50D Filtering: `id`, `code`, `name`, `type`, `vat_number`, `tax_code`, `address_street`, `address_postal_code`, `address_city`, `address_province`, `country`, `email`, `certified_email`, `phone`, `fax`, `notes`, `imported`, `atoka_show`, `e_invoice`, `ei_code`, `created_at`, `updated_at` \\\n↕️ Sorting: `code`, `name`, `type`, `vat_number`, `tax_code`, `address_street`, `address_postal_code`, `address_city`, `address_province`, `country`, `email`, `certified_email`, `phone`, `fax`, `notes`, `e_invoice`, `ei_code`, `created_at`, `updated_at` \\\n\U0001F4C4 Paginated results \\\n\U0001F3A9 Customized responses supported\n\nGet a list of entities that match the filters."
      operationId: entitiesList
      parameters:
        - name: entityRole
          in: path
          required: true
          schema:
            type: string
            enum:
              - clients
              - suppliers
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: 'filter[0][field]'
          in: query
          description: |-
            ```
            filter[1]
            filter[2]
            ...
            filter[n]
            ```
          schema:
            type: string
        - name: 'filter[0][op]'
          in: query
          schema:
            type: string
            enum:
              - '='
              - '>'
              - <
              - '>='
              - <=
              - contains
              - like
        - name: 'filter[0][value]'
          in: query
          schema:
            type: string
        - name: fieldset
          in: query
          description: Name of the fieldset
          schema:
            type: string
          example: basic
        - name: sort
          in: query
          description: List of comma-separated fields for result sorting (minus for desc sorting)
          schema:
            type: string
          example: 'name,-country'
        - name: page
          in: query
          description: Requested page
          schema:
            type: string
            default: '1'
        - name: by_id
          in: query
          description: 'If 1, return an object instead of an array'
          schema:
            type: integer
            default: 0
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      responses:
        '200':
          description: Results list.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    type: array
                    description: List of entities.
                    items:
                      $ref: '#/components/schemas/LegalEntity'
              example: |-
                {
                  "data": [
                    {
                      "id": 2906095,
                      "code": "123",
                      "name": "Pippo Topolino",
                      "vat_number": "IT01234567890",
                      "tax_code": "",
                      "email": ""
                    },
                    {
                      "id": 2906111,
                      "code": "124",
                      "name": "Pippo Pluto",
                      "vat_number": "",
                      "tax_code": "RSSMRA12A23A324Q",
                      "email": "pippo.pluto@example.it"
                    }
                  ],
                  "current_page": 1,
                  "per_page": 5,
                  "from": 1,
                  "last_page": 2,
                  "to": 5,
                  "total": 6
                }
      security:
        - OAuth2Authentication:
            - 'entity.clients:r'
            - 'entity.suppliers:r'
    post:
      tags:
        - Clients and suppliers
      summary: Create entity
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `entity.clients:a` or `entity.suppliers:a` (depending on `entityRole` parameter)\n\nCreate a new entity (client or supplier)."
      operationId: entitiesCreate
      parameters:
        - name: entityRole
          in: path
          required: true
          schema:
            type: string
            enum:
              - clients
              - suppliers
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/LegalEntity'
        required: true
      responses:
        '200':
          description: Entity created.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LegalEntity'
              example: |-
                {
                  "data": {
                    "id": 2906214,
                    "name": "Mario Bianchi",
                    "country": "Italia"
                  }
                }
      security:
        - OAuth2Authentication:
            - 'entity.clients:a'
            - 'entity.suppliers:a'
      x-codegen-request-body-name: body
  '/c/{companyId}/entities/{entityRole}/{entityId}':
    get:
      tags:
        - Clients and suppliers
      summary: Get entity details
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `entity.clients:r` or `entity.suppliers:r` (depending on `entityRole` parameter) \\\n\U0001F3A9 Customized responses supported\n\nGet details of an existing entity by its unique id."
      operationId: entitiesDetails
      parameters:
        - name: entityRole
          in: path
          required: true
          schema:
            type: string
            enum:
              - clients
              - suppliers
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: entityId
          in: path
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of comma-separated fields
          schema:
            type: string
          example: 'id,name,code'
        - name: fieldset
          in: query
          description: Name of the fieldset
          schema:
            type: string
          example: detailed
      responses:
        '200':
          description: Entity details.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LegalEntity'
              example: |-
                {
                  "data": {
                    "id": 2906095,
                      "code": "1234",
                      "name": "Mario Bianchi S.r.l.",
                      "type": "company",
                      "first_name": "Mario",
                      "last_name": "Bianchi",
                      "contact_person": "Gianluca Bianchi",
                      "vat_number": "12345678901",
                      "tax_code": "",
                      "address_street": "Via dei Tigli, 123",
                      "address_postal_code": "24010",
                      "address_city": "Sorisole",
                      "address_province": "BG",
                      "address_extra": "",
                      "country": "Italia",
                      "email": "mario.bianchi@mbsrl.example.it",
                      "certified_email": "mario.bianchi@pec.example.it",
                      "phone": "0234423523",
                      "fax": "",
                      "notes": ""
                  }
                }
        '404':
          description: Status 404
          content: {}
      security:
        - OAuth2Authentication:
            - 'entity.clients:r'
            - 'entity.suppliers:r'
    put:
      tags:
        - Clients and suppliers
      summary: Edit an entity
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `entity.clients:a` or `entity.suppliers:a` (depending on `entityRole` parameter)\n\nEdit an existing entity by its unique id."
      operationId: entitiesEdit
      parameters:
        - name: entityRole
          in: path
          required: true
          schema:
            type: string
            enum:
              - clients
              - suppliers
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: entityId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/LegalEntity'
        required: true
      responses:
        '200':
          description: Entity edited.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LegalEntity'
              example: |-
                {
                  "data": {
                    "id": 2906214,
                    "name": "Mario Bianchi",
                    "country": "Francia"
                  }
                }
        '404':
          description: Status 404
          content: {}
      security:
        - OAuth2Authentication:
            - 'entity.clients:a'
            - 'entity.suppliers:a'
      x-codegen-request-body-name: body
    delete:
      tags:
        - Clients and suppliers
      summary: Remove an entity
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `entity.clients:a` or `entity.suppliers:a` (depending on `entityRole` parameter)\n\nDelete an existing entity by its unique id."
      operationId: entitiesRemove
      parameters:
        - name: entityRole
          in: path
          required: true
          schema:
            type: string
            enum:
              - clients
              - suppliers
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: entityId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Entity removed.
          content: {}
        '404':
          description: Status 404
          content: {}
      security:
        - OAuth2Authentication:
            - 'entity.clients:a'
            - 'entity.suppliers:a'
  '/c/{companyId}/entities/{entityRole}/recent':
    get:
      tags:
        - Clients and suppliers
      summary: Recently used entities
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `entity.clients:r` or `entity.suppliers:r` (depending on `entityRole` parameter) \\\n\U0001F3A9 Customized responses supported\n\nGet a list of the last used entities matching with entityRole parameter."
      operationId: entitiesRecentlyUsed
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: entityRole
          in: path
          required: true
          schema:
            type: string
            enum:
              - clients
              - suppliers
        - name: fields
          in: query
          description: List of comma-separated fields
          schema:
            type: string
          example: 'id,name,code'
        - name: fieldset
          in: query
          description: Name of the fieldset
          schema:
            type: string
          example: basic
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      responses:
        '200':
          description: Results list.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    type: array
                    description: List of entities.
                    items:
                      $ref: '#/components/schemas/LegalEntity'
              example: |-
                {
                  "data": [
                    {
                      "id": 2906095,
                      "code": "123",
                      "name": "Pippo Topolino",
                      "vat_number": "IT01234567890",
                      "tax_code": "",
                      "email": ""
                    },
                    {
                      "id": 2906111,
                      "code": "124",
                      "name": "Pippo Pluto",
                      "vat_number": "",
                      "tax_code": "RSSMRA12A23A324Q",
                      "email": "pippo.pluto@example.it"
                    }
                  ]
                }
      security:
        - OAuth2Authentication:
            - 'entity.clients:r'
            - 'entity.suppliers:r'
      x-private: true
  '/c/{companyId}/entities/{entityRole}/{entityId}/counters':
    get:
      tags:
        - Clients and suppliers
      summary: Get the documents count by type
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `entity.clients:r` or `entity.suppliers:r` (depending on `entityRole` parameter)\n\nGet the number of the documents of the entity"
      operationId: entitiesCount
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: entityRole
          in: path
          required: true
          schema:
            type: string
            enum:
              - clients
              - suppliers
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: entityId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Status 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      required:
                        - count
                        - type
                      type: object
                      properties:
                        type:
                          type: string
                          description: document type
                        count:
                          type: string
                          description: number of documents
              example: |-
                {
                  "data": [
                    {
                      "type": "invoice",
                      "count": "13"
                    },
                    {
                      "type": "proforma",
                      "count": "4"
                    }
                  ]
                }
      security:
        - OAuth2Authentication:
            - 'entity.clients:r'
            - 'entity.suppliers:r'
      x-private: true
  '/c/{companyId}/entities/{entityRole}/{entityId}/mobile_analysis':
    get:
      tags:
        - Clients and suppliers
      summary: Get the analysis info (for mobile)
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `entity.clients:r` or `entity.suppliers:r` (depending on `entityRole` parameter)\n\nGet the analysis info (for mobile)"
      operationId: entiesMobileAnalysis
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: entityRole
          in: path
          required: true
          schema:
            type: string
            enum:
              - clients
              - suppliers
        - name: entityId
          in: path
          required: true
          schema:
            type: integer
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      responses:
        '200':
          description: Status 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      indexes:
                        type: object
                        properties:
                          total:
                            type: number
                          paid:
                            type: number
                          not_paid:
                            type: string
                        description: General indexes for this entity.
                      upcoming_deadlines:
                        type: array
                        description: Upcoming deadlines for this entity. For suppliers the type is CalendarItemDebt.
                        items:
                          $ref: '#/components/schemas/CalendarItemCredit'
              example: |-
                {
                  "data": {
                    "indexes": {
                      "total": 144.34,
                      "paid": 10,
                      "not_paid": 134.34
                    },
                    "upcoming_deadlines": [
                      {
                        "date": "2018-10-08",
                        "title": "Fattura nr. 133",
                        "amount": 9.34,
                        "expired": false,
                        "status": "not_paid",
                        "entity": {
                          "id": 2906113,
                          "name": "Mario Rossi",
                          "path": "clients\/2906113"
                        },
                        "document": {
                          "id": 8006313,
                          "type": "invoice",
                          "path": "issued_documents\/8006313"
                        }
                      }
                    ]
                  }
                }
      security:
        - OAuth2Authentication:
            - 'entity.clients:r'
            - 'entity.suppliers:r'
      x-private: true
  '/c/{companyId}/products':
    get:
      tags:
        - Products
      summary: List and search products
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `products:r` \\\n\U0001F50D Filtering: `id`, `name`, `code`, `net_price`, `gross_price`, `net_cost`, `description`, `category`, `notes`, `in_stock`, `created_at`, `updated_at` \\\n↕️ Sorting: `name`, `code`, `net_price`, `gross_price`, `net_cost`, `description`, `category`, `notes`, `in_stock`, `created_at`, `updated_at` \\\n\U0001F4C4 Paginated results \\\n\U0001F3A9 Customized responses supported\n\nGet a list of products that match the filters."
      operationId: productsList
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: 'filter[0][field]'
          in: query
          description: |-
            ```
            filter[1]
            filter[2]
            ...
            filter[n]
            ```
          schema:
            type: string
        - name: 'filter[0][op]'
          in: query
          schema:
            type: string
            enum:
              - '='
              - '>'
              - <
              - '>='
              - <=
              - contains
              - like
        - name: 'filter[0][value]'
          in: query
          schema:
            type: string
        - name: fields
          in: query
          description: List of comma-separated fields
          schema:
            type: string
          example: 'id,name,code'
        - name: fieldset
          in: query
          description: Name of the fieldset
          schema:
            type: string
          example: basic
        - name: sort
          in: query
          description: List of comma-separated fields for result sorting (minus for desc sorting)
          schema:
            type: string
          example: 'name,-code'
        - name: page
          in: query
          description: Requested page
          schema:
            type: string
            default: '1'
        - name: by_id
          in: query
          description: 'If 1, return an object instead of an array'
          schema:
            type: integer
            default: 0
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      responses:
        '200':
          description: Results list.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    type: array
                    description: List of products.
                    items:
                      $ref: '#/components/schemas/Product'
              example: |-
                {
                  "data": [
                    {
                      "id": 1584515,
                      "name": "Prodotto A",
                      "code": "123324",
                      "net_price": 10,
                      "gross_price": 12.2,
                      "default_vat": {
                        "id": 0,
                        "value": 22,
                        "description": ""
                      },
                      "use_gross_price": false,
                      "measure": "pezzi",
                      "description": "Prodotto con prezzo netto e IVA predefinita",
                      "category": "",
                      "in_stock": false
                    },
                    {
                      "id": 1584516,
                      "name": "Prodotto B",
                      "code": "123326",
                      "net_price": 20,
                      "gross_price": 24.4,
                      "use_gross_price": true,
                      "default_vat": {
                        "id": 0,
                        "value": 22,
                        "description": ""
                      },
                      "measure": "",
                      "description": "Prodotto con prezzo lordo e IVA predefinita",
                      "category": "",
                      "in_stock": false
                    },
                    {
                      "id": 1584517,
                      "name": "Prodotto C",
                      "code": "123327",
                      "net_price": 16,
                      "gross_price": null,
                      "use_gross_price": false,
                      "default_vat": null,
                      "measure": "",
                      "description": "Prodotto con prezzo netto senza IVA predefinita",
                      "category": "",
                      "in_stock": false
                    }
                  ],
                  "current_page": 1,
                  "per_page": 5,
                  "from": 1,
                  "last_page": 2,
                  "to": 5,
                  "total": 6
                }
      security:
        - OAuth2Authentication:
            - 'products:r'
    post:
      tags:
        - Products
      summary: Create product
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `products:a`\n\nCreate a new product."
      operationId: productsCreate
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/Product'
        required: true
      responses:
        '200':
          description: Product created.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Product'
              example:
                data:
                  id: 1584547
                  name: Biscotti
                  code: '123324'
                  net_price: 10
                  gross_price: 10.4
                  use_gross_price: true
                  default_vat:
                    id: 4
                    value: 4
                    description: ''
                  cost: 20
                  measure: ''
                  description: Biscotti alla crema
                  category: ''
                  notes: ''
                  in_stock: true
                  stock_initial: 123
                  stock_current: 10
      security:
        - OAuth2Authentication:
            - 'products:a'
      x-codegen-request-body-name: body
  '/c/{companyId}/products/{productId}':
    get:
      tags:
        - Products
      summary: Product details
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `products:r` \\\n\U0001F3A9 Customized responses supported\n\nGet product details"
      operationId: productsDetails
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: productId
          in: path
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of comma-separated fields
          schema:
            type: string
          example: 'id,name,code'
        - name: fieldset
          in: query
          description: Name of the fieldset
          schema:
            type: string
          example: detailed
      responses:
        '200':
          description: Product details.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Product'
              example:
                data:
                  id: 1584547
                  name: Biscotti
                  code: '123324'
                  net_price: 10
                  gross_price: 10.4
                  use_gross_price: true
                  default_vat:
                    id: 4
                    value: 4
                    description: ''
                  cost: 20
                  measure: ''
                  description: Biscotti alla crema
                  category: ''
                  notes: ''
                  in_stock: true
                  stock_initial: 123
                  stock_current: 10
        '404':
          description: Status 404
          content: {}
      security:
        - OAuth2Authentication:
            - 'products:r'
    put:
      tags:
        - Products
      summary: Edit a product
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `products:a`\n\nEdit an existing product by its unique id."
      operationId: productsEdit
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: productId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/Product'
        required: true
      responses:
        '200':
          description: Product edited.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EditProduct'
              example:
                data:
                  id: 1584547
                  name: Biscotti
                  code: '123324'
                  net_price: 10
                  gross_price: 10.4
                  use_gross_price: true
                  default_vat:
                    id: 4
                    value: 4
                    description: ''
                  cost: 20
                  measure: ''
                  description: Biscotti alla crema
                  category: ''
                  notes: ''
                  in_stock: true
                  stock_initial: 123
                  stock_current: 10
        '404':
          description: Status 404
          content: {}
      security:
        - OAuth2Authentication:
            - 'products:a'
      x-codegen-request-body-name: body
    delete:
      tags:
        - Products
      summary: Remove a product
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `products:a`\n\nDelete an existing product by its unique id."
      operationId: productsRemove
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: productId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Product removed.
          content: {}
        '404':
          description: Status 404
          content: {}
      security:
        - OAuth2Authentication:
            - 'products:a'
  '/c/{companyId}/products/recent':
    get:
      tags:
        - Products
      summary: Recently used products
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `products:r` \\\n\U0001F3A9 Customized responses supported\n\nGet a list of the last used products."
      operationId: productsRecentlyUsed
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of comma-separated fields
          schema:
            type: string
          example: 'id,name,code'
        - name: fieldset
          in: query
          description: Name of the fieldset
          schema:
            type: string
          example: basic
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      responses:
        '200':
          description: Results list.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    type: array
                    description: List of products.
                    items:
                      $ref: '#/components/schemas/Product'
              example: |-
                {
                  "data": [
                    {
                      "id": 1584515,
                      "name": "Prodotto A",
                      "code": "123324",
                      "net_price": 10,
                      "gross_price": 12.2,
                      "default_vat": {
                        "id": 0,
                        "value": 22,
                        "description": ""
                      },
                      "use_gross_price": false,
                      "measure": "pezzi",
                      "description": "Prodotto con prezzo netto e IVA predefinita",
                      "category": "",
                      "in_stock": false
                    },
                    {
                      "id": 1584516,
                      "name": "Prodotto B",
                      "code": "123326",
                      "net_price": 20,
                      "gross_price": 24.4,
                      "use_gross_price": true,
                      "default_vat": {
                        "id": 0,
                        "value": 22,
                        "description": ""
                      },
                      "measure": "",
                      "description": "Prodotto con prezzo lordo e IVA predefinita",
                      "category": "",
                      "in_stock": false
                    },
                    {
                      "id": 1584517,
                      "name": "Prodotto C",
                      "code": "123327",
                      "net_price": 16,
                      "gross_price": null,
                      "use_gross_price": false,
                      "default_vat": null,
                      "measure": "",
                      "description": "Prodotto con prezzo netto senza IVA predefinita",
                      "category": "",
                      "in_stock": false
                    }
                  ]
                }
      security:
        - OAuth2Authentication:
            - 'products:r'
      x-private: true
  '/c/{companyId}/products/{productId}/stock_movements':
    get:
      tags:
        - Products
      summary: Product stock movements list
      description: "\U0001F465 Company context\n\nGet product stock movements list"
      operationId: productsStockMovements
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: productId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Status 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StockMovement'
      security:
        - OAuth2Authentication:
            - no scope required
    post:
      tags:
        - Products
      summary: Add product movement
      description: "\U0001F465 Company context\n\nAdd product movement"
      operationId: productsAddMovements
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: productId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/StockMovement'
        required: true
      responses:
        '200':
          description: Status 200
          content: {}
      security:
        - OAuth2Authentication:
            - no scope required
      x-codegen-request-body-name: body
  '/c/{companyId}/products/{productId}/stock_movements/{movementId}':
    put:
      tags:
        - Products
      summary: Edit product stock movement
      description: "\U0001F465 Company context\n\nEdit an existing product stock movement by its unique id."
      operationId: productsStockMovementEdit
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: productId
          in: path
          required: true
          schema:
            type: string
        - name: movementId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/StockMovement'
        required: true
      responses:
        '200':
          description: Status 200
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/StockMovement'
      security:
        - OAuth2Authentication:
            - no scope required
      x-codegen-request-body-name: body
    delete:
      tags:
        - Products
      summary: Delete product stock movement
      description: "\U0001F465 Company context\n\nDelete an existing product stock movement by its unique id."
      operationId: productsStockMovementDelete
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: productId
          in: path
          required: true
          schema:
            type: string
        - name: movementId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Status 200
          content: {}
      security:
        - OAuth2Authentication:
            - no scope required
  '/c/{companyId}/products/{productId}/stock_info':
    get:
      tags:
        - Products
      summary: Product stock info
      description: "\U0001F465 Company context\n\nGet product stock info"
      operationId: productsStockInfo
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: productId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Status 200
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    required:
                      - average_cost
                      - average_price
                      - stock_cost
                      - stock_current
                      - stock_initial
                    type: object
                    properties:
                      stock_initial:
                        type: string
                      stock_current:
                        type: string
                      average_cost:
                        type: number
                      average_price:
                        type: number
                      stock_cost:
                        type: number
                      monthly_data:
                        type: array
                        description: TODO
                        items:
                          type: string
      security:
        - OAuth2Authentication:
            - no scope required
  '/c/{companyId}/issued_documents':
    get:
      tags:
        - Issued documents
      summary: List and search documents
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `issued_documents.[documentType]:r` \\\n\U0001F50D Filtering: `type`, `entity.id`, `entity.name`, `entity.vat_number`, `entity.tax_code`, `entity.city`, `entity.province`, `entity.country`, `date`, `number`, `numeration`, `any_subject`, `amount_net`, `amount_vat`, `amount_gross`, `next_due_date`, `created_at`, `updated_at`  \\\n↕️ Sorting: `entity.id`, `entity.name`, `entity.vat_number`, `entity.tax_code`, `entity.city`, `entity.province`, `entity.country`, `date`, `number`, `numeration`, `amount_net`, `amount_vat`, `amount_gross`, `next_due_date`, `created_at`, `updated_at`  \\\n\U0001F4C4 Paginated results \\\n\U0001F3A9 Customized responses supported\n\nGet a list of documents that match the filters."
      operationId: issuedDocumentsList
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum:
              - invoice
              - credit_note
              - receipt
              - order
              - quote
              - proforma
              - delivery_note
        - name: 'filter[0][field]'
          in: query
          description: |-
            ```
            filter[1]
            filter[2]
            ...
            filter[n]
            ```
          schema:
            type: string
        - name: 'filter[0][op]'
          in: query
          schema:
            type: string
            enum:
              - '='
              - '>'
              - <
              - '>='
              - <=
              - contains
              - like
        - name: 'filter[0][value]'
          in: query
          schema:
            type: string
        - name: filter_type
          in: query
          description: Boolean operator used by the filter.
          schema:
            type: string
            default: and
            enum:
              - and
              - or
        - name: fields
          in: query
          description: List of comma-separated fields
          schema:
            type: string
        - name: fieldset
          in: query
          description: Name of the fieldset
          schema:
            type: string
        - name: sort
          in: query
          description: List of comma-separated fields for result sorting (minus for desc sorting)
          schema:
            type: string
        - name: page
          in: query
          description: Requested page
          schema:
            type: integer
            default: 1
        - name: by_id
          in: query
          description: 'If 1, return an object instead of an array'
          schema:
            type: integer
            default: 0
        - name: per_page
          in: query
          description: Items to be shown per page
          schema:
            type: integer
            default: 5
      responses:
        '200':
          description: Results list.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    type: array
                    description: List of documents.
                    items:
                      $ref: '#/components/schemas/IssuedDocument'
      security:
        - OAuth2Authentication:
            - 'issued_documents.[documentType]:r'
    post:
      tags:
        - Issued documents
      summary: Create new document
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `issued_documents.[documentType]:a`\n\nCreate a new document."
      operationId: issuedDocumentsCreate
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/IssuedDocument'
                options:
                  type: object
                  properties:
                    entity_search_fields:
                      type: string
                      example: 'entity.id,tax_code,vat_number,code'
                    entity_autocomplete:
                      type: boolean
                    entity_create:
                      type: boolean
                    entity_update:
                      type: string
        required: true
      responses:
        '200':
          description: Document created.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IssuedDocument'
      security:
        - OAuth2Authentication:
            - 'issued_documents.[documentType]:a'
      x-codegen-request-body-name: body
  '/c/{companyId}/issued_documents/{documentId}':
    get:
      tags:
        - Issued documents
      summary: Get document details
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `issued_documents.[documentType]:r` \\\n\U0001F3A9 Customized responses supported\n\nGet details of an existing document by its unique id."
      operationId: issuedDocumentDetails
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: documentId
          in: path
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of comma-separated fields
          schema:
            type: string
          example: 'id,name,code'
        - name: fieldset
          in: query
          description: Name of the fieldset
          schema:
            type: string
          example: detailed
      responses:
        '200':
          description: Document details.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IssuedDocument'
        '404':
          description: Status 404
          content: {}
      security:
        - OAuth2Authentication:
            - 'issued_documents.[documentType]:r'
    put:
      tags:
        - Issued documents
      summary: Edit a document
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `issued_documents.[documentType]:a`\n\nEdit an existing document by its unique id."
      operationId: issuedDocumentEdit
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/IssuedDocument'
        required: true
      responses:
        '200':
          description: Document edited.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IssuedDocument'
        '404':
          description: Status 404
          content: {}
      security:
        - OAuth2Authentication:
            - 'issued_documents.[documentType]:a'
      x-codegen-request-body-name: body
    delete:
      tags:
        - Issued documents
      summary: Remove a document
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `issued_documents.[documentType]:a`\n\nDelete an existing document by its unique id."
      operationId: issuedDocumentRemove
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Document removed.
          content: {}
        '404':
          description: Status 404
          content: {}
      security:
        - OAuth2Authentication:
            - 'issued_documents.[documentType]:a'
  '/c/{companyId}/issued_documents/totals':
    post:
      tags:
        - Issued documents
      summary: Get new document totals
      description: "\U0001F465 Company context\n\nGet the totals of a document"
      operationId: issuedDocumentTotals
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/IssuedDocument'
        required: true
      responses:
        '200':
          description: Totals.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IssuedDocumentTotals'
              example:
                data:
                  amount_net: 30
                  amount_rivalsa: 1.5
                  amount_net_with_rivalsa: 31.5
                  amount_cassa: 1.58
                  taxable_amount: 33.08
                  not_taxable_amount: 0
                  vat_list:
                    '10':
                      net: 10
                      vat: 1
                    '20':
                      net: 23.08
                      vat: 4.62
                  amount_vat: 5.62
                  amount_gross: 36.41
[...]
