openapi: 3.0.3
info:
  title: Fatture in Cloud API v2 - API Reference
  description: >-
    Connect your software with Fatture in Cloud, the invoicing platform chosen
    by more than 500.000 businesses in Italy. 


    The Fatture in Cloud API is based on REST, and makes possible to interact
    with the user related data prior authorization via OAuth2 protocol.
  contact:
    name: Fatture in Cloud
    url: https://www.fattureincloud.it
    email: info@fattureincloud.it
  license:
    name: MIT
    url: >-
      https://github.com/fattureincloud/openapi-fattureincloud/blob/master/LICENSE
  version: 2.0.28
servers:
  - url: https://api-v2.fattureincloud.it
tags:
  - name: Archive
  - name: Cashbook
  - name: Clients
  - name: Companies
  - name: Info
  - name: Issued Documents
  - name: Issued e-invoices
  - name: Products
  - name: Receipts
  - name: Received Documents
  - name: Suppliers
  - name: Taxes
  - name: User
paths:
  /user/info:
    get:
      tags:
        - User
      summary: Get User Info
      responses:
        '200':
          $ref: '#/components/responses/GetUserInfoResponse'
        '401':
          description: Unauthorized.
      operationId: getUserInfo
      description: Gets the current user's info.
      security:
        - OAuth2AuthenticationCodeFlow: []
        - ManualAuth: []
      parameters: []
  /user/companies:
    get:
      summary: List User Companies
      tags:
        - User
      responses:
        '200':
          $ref: '#/components/responses/ListUserCompaniesResponse'
        '401':
          description: Unauthorized
      operationId: listUserCompanies
      description: Lists the companies controlled by the current user.
      security:
        - OAuth2AuthenticationCodeFlow: []
        - ManualAuth: []
      parameters: []
  /c/{company_id}/company/info:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: Get Company Info
      responses:
        '200':
          $ref: '#/components/responses/GetCompanyInfoResponse'
        '401':
          description: Unauthorized.
      operationId: getCompanyInfo
      description: Gets the company detailed info.
      security:
        - OAuth2AuthenticationCodeFlow: []
        - ManualAuth: []
      tags:
        - Companies
  /c/{company_id}/entities/clients:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List Clients
      tags:
        - Clients
      responses:
        '200':
          $ref: '#/components/responses/ListClientsResponse'
        '401':
          description: Unauthorized
      operationId: listClients
      description: Lists the clients.
      security:
        - OAuth2AuthenticationCodeFlow:
            - entity.clients:r
        - ManualAuth: []
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/q'
    post:
      summary: Create Client
      operationId: createClient
      responses:
        '200':
          $ref: '#/components/responses/CreateClientResponse'
      description: Creates a new client.
      security:
        - OAuth2AuthenticationCodeFlow:
            - entity.clients:a
        - ManualAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              title: CreateClientRequest
              type: object
              properties:
                data:
                  type: object
                  description: ''
                  properties:
                    id:
                      type: integer
                      description: Unique identifier
                    code:
                      type: string
                      example: '123'
                      description: Client code.
                    name:
                      type: string
                      example: Rossi S.r.l.
                      description: Client name
                    type:
                      title: ClientType
                      type: string
                      default: null
                      enum:
                        - company
                        - person
                        - pa
                        - condo
                      description: Client type.
                      nullable: true
                    first_name:
                      type: string
                      description: Client first name.
                    last_name:
                      type: string
                      description: Client last name.
                    contact_person:
                      type: string
                    vat_number:
                      type: string
                      example: IT01234567890
                      description: Client vat number
                    tax_code:
                      type: string
                      example: RSSMRA44A12E890Q
                      description: Client tax code.
                    address_street:
                      type: string
                      example: Via dei tigli, 12
                      description: Client street address.
                    address_postal_code:
                      type: string
                      example: '24010'
                      description: Client postal code.
                    address_city:
                      type: string
                      example: Bergamo
                      description: Client city.
                    address_province:
                      type: string
                      example: BG
                      description: Client province.
                    address_extra:
                      type: string
                      description: Client address extra info.
                    country:
                      type: string
                      example: Italia
                      description: Client country
                      default: Italia
                    email:
                      type: string
                      example: mario.rossi@example.it
                      description: Client email.
                    certified_email:
                      type: string
                      example: mario.rossi@pec.example.it
                      description: Client certified email.
                    phone:
                      type: string
                      description: Client phone.
                    fax:
                      type: string
                      description: Client fax.
                    notes:
                      type: string
                      description: Extra notes.
                    default_vat:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Unique identifier
                        value:
                          type: number
                          description: '[Read Only] Percentual value.'
                          example: 22
                          maximum: 100
                          minimum: 0
                        description:
                          type: string
                          description: Short description.
                          example: Non imponibile art. 123
                        notes:
                          type: string
                          description: Long description and notes shown in documents.
                          example: >-
                            IVA non imponibile ai sensi dell'articolo 123, comma
                            2
                        e_invoice:
                          type: boolean
                          description: Usable for e-invoices.
                        ei_type:
                          type: string
                          description: E-invoice type (natura).
                          example: 2
                        ei_description:
                          type: string
                          description: E-invoice description.
                        editable:
                          type: boolean
                          description: |-
                            [Read Only]
                            Determine if this vat type is editable.
                          readOnly: true
                          default: true
                        is_disabled:
                          type: boolean
                          description: Determine if the vat type is disabled.
                      title: VatType
                      description: ''
                      nullable: true
                      required:
                        - value
                    default_payment_terms:
                      type: integer
                      example: 30
                    default_payment_terms_type:
                      title: PaymentTermsType
                      type: string
                      default: standard
                      enum:
                        - standard
                        - end_of_month
                      description: Payment terms Type.
                    default_payment_method:
                      type: object
                      title: PaymentMethod
                      properties:
                        id:
                          type: integer
                          description: Unique identifier
                          nullable: true
                        name:
                          type: string
                          description: Name of the payment method
                        type:
                          title: PaymentMethodType
                          type: string
                          description: Method type.
                          default: standard
                          enum:
                            - standard
                            - riba
                        is_default:
                          type: boolean
                          description: Determines if this is the default payment method.
                        default_payment_account:
                          type: object
                          description: ''
                          properties:
                            id:
                              type: integer
                              description: Unique identifier
                            name:
                              type: string
                              description: Payment account name.
                              example: Conto Banca Intesa
                            type:
                              title: PaymentAccountType
                              type: string
                              default: standard
                              enum:
                                - standard
                                - bank
                              description: Payment account type.
                            iban:
                              type: string
                              description: Payment account iban.
                              nullable: true
                            sia:
                              type: string
                              description: Payment account sia.
                              nullable: true
                            cuc:
                              type: string
                              description: Payment account cuc.
                            virtual:
                              type: boolean
                              description: Determine if the payment method is virtual.
                          title: PaymentAccount
                          nullable: true
                          required:
                            - name
                        details:
                          maxItems: 5
                          type: array
                          description: Method details rows
                          items:
                            title: PaymentMethodDetails
                            type: object
                            properties:
                              title:
                                type: string
                                description: Details title.
                                nullable: true
                              description:
                                type: string
                                description: Details description.
                                nullable: true
                          nullable: true
                        bank_iban:
                          type: string
                          description: Bank iban
                          nullable: true
                        bank_name:
                          type: string
                          description: Bank name
                          nullable: true
                        bank_beneficiary:
                          type: string
                          description: Bank beneficiary
                          nullable: true
                        ei_payment_method:
                          type: string
                          description: E-invoice payment method
                      required:
                        - name
                      nullable: true
                    bank_name:
                      type: string
                      description: Client bank name.
                    bank_iban:
                      type: string
                      description: Client iban.
                    bank_swift_code:
                      type: string
                      description: Client bank swift code.
                    shipping_address:
                      type: string
                      description: Client shipping address.
                    e_invoice:
                      type: boolean
                      description: Use e-invoices for this entity
                      default: false
                    ei_code:
                      type: string
                      description: E-invoice code
                    discount_highlight:
                      type: boolean
                      description: Discount Highlight.
                    default_discount:
                      type: number
                      description: Default discount.
                    has_intent_declaration:
                      type: boolean
                      description: Has intent declaration.
                    intent_declaration_protocol_number:
                      type: string
                      description: Intent declaration protocol number.
                    intent_declaration_protocol_date:
                      type: string
                      format: date
                      description: Intent declaration protocol date.
                    created_at:
                      type: string
                      nullable: true
                    updated_at:
                      type: string
                      nullable: true
                  title: Client
                  required:
                    - name
            examples:
              example-1:
                value:
                  data:
                    code: AE86
                    name: Avv. Maria Rossi
                    type: person
                    first_name: Maria
                    last_name: Rossi
                    contact_person: ''
                    vat_number: IT12345640962
                    tax_code: BLTGNI5ABCDA794E
                    address_street: Via Roma, 1
                    address_postal_code: '20900'
                    address_city: Milano
                    address_province: MI
                    address_extra: ''
                    country: Italia
                    email: maria.rossi@example.com
                    certified_email: maria.rossi@pec.example.com
                    phone: '1234567890'
                    fax: ''
                    notes: ''
                    default_payment_terms: 1
                    default_payment_terms_type: standard
                    bank_name: Indesa
                    bank_iban: IT40P123456781000000123456
                    bank_swift_code: AK86PCT
                    shipping_address: Corso Magellano 4
                    e_invoice: true
                    ei_code: '111111'
                    default_vat:
                      id: 54321
                      value: 45
                      description: ''
                      is_disabled: false
        description: The client to create
      tags:
        - Clients
  /c/{company_id}/entities/clients/{client_id}:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/client_id'
    get:
      summary: Get Client
      tags:
        - Clients
      responses:
        '200':
          $ref: '#/components/responses/GetClientResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: getClient
      security:
        - OAuth2AuthenticationCodeFlow:
            - entity.clients:r
        - ManualAuth: []
      description: Gets the specified client.
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
    put:
      summary: Modify Client
      operationId: modifyClient
      responses:
        '200':
          $ref: '#/components/responses/ModifyClientResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Modifies the specified client.
      security:
        - OAuth2AuthenticationCodeFlow:
            - entity.clients:a
        - ManualAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              title: ModifyClientRequest
              type: object
              properties:
                data:
                  type: object
                  description: ''
                  properties:
                    id:
                      type: integer
                      description: Unique identifier
                    code:
                      type: string
                      example: '123'
                      description: Client code.
                    name:
                      type: string
                      example: Rossi S.r.l.
                      description: Client name
                    type:
                      title: ClientType
                      type: string
                      default: null
                      enum:
                        - company
                        - person
                        - pa
                        - condo
                      description: Client type.
                      nullable: true
                    first_name:
                      type: string
                      description: Client first name.
                    last_name:
                      type: string
                      description: Client last name.
                    contact_person:
                      type: string
                    vat_number:
                      type: string
                      example: IT01234567890
                      description: Client vat number
                    tax_code:
                      type: string
                      example: RSSMRA44A12E890Q
                      description: Client tax code.
                    address_street:
                      type: string
                      example: Via dei tigli, 12
                      description: Client street address.
                    address_postal_code:
                      type: string
                      example: '24010'
                      description: Client postal code.
                    address_city:
                      type: string
                      example: Bergamo
                      description: Client city.
                    address_province:
                      type: string
                      example: BG
                      description: Client province.
                    address_extra:
                      type: string
                      description: Client address extra info.
                    country:
                      type: string
                      example: Italia
                      description: Client country
                      default: Italia
                    email:
                      type: string
                      example: mario.rossi@example.it
                      description: Client email.
                    certified_email:
                      type: string
                      example: mario.rossi@pec.example.it
                      description: Client certified email.
                    phone:
                      type: string
                      description: Client phone.
                    fax:
                      type: string
                      description: Client fax.
                    notes:
                      type: string
                      description: Extra notes.
                    default_vat:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Unique identifier
                        value:
                          type: number
                          description: '[Read Only] Percentual value.'
                          example: 22
                          maximum: 100
                          minimum: 0
                        description:
                          type: string
                          description: Short description.
                          example: Non imponibile art. 123
                        notes:
                          type: string
                          description: Long description and notes shown in documents.
                          example: >-
                            IVA non imponibile ai sensi dell'articolo 123, comma
                            2
                        e_invoice:
                          type: boolean
                          description: Usable for e-invoices.
                        ei_type:
                          type: string
                          description: E-invoice type (natura).
                          example: 2
                        ei_description:
                          type: string
                          description: E-invoice description.
                        editable:
                          type: boolean
                          description: |-
                            [Read Only]
                            Determine if this vat type is editable.
                          readOnly: true
                          default: true
                        is_disabled:
                          type: boolean
                          description: Determine if the vat type is disabled.
                      title: VatType
                      description: ''
                      nullable: true
                      required:
                        - value
                    default_payment_terms:
                      type: integer
                      example: 30
                    default_payment_terms_type:
                      title: PaymentTermsType
                      type: string
                      default: standard
                      enum:
                        - standard
                        - end_of_month
                      description: Payment terms Type.
                    default_payment_method:
                      type: object
                      title: PaymentMethod
                      properties:
                        id:
                          type: integer
                          description: Unique identifier
                          nullable: true
                        name:
                          type: string
                          description: Name of the payment method
                        type:
                          title: PaymentMethodType
                          type: string
                          description: Method type.
                          default: standard
                          enum:
                            - standard
                            - riba
                        is_default:
                          type: boolean
                          description: Determines if this is the default payment method.
                        default_payment_account:
                          type: object
                          description: ''
                          properties:
                            id:
                              type: integer
                              description: Unique identifier
                            name:
                              type: string
                              description: Payment account name.
                              example: Conto Banca Intesa
                            type:
                              title: PaymentAccountType
                              type: string
                              default: standard
                              enum:
                                - standard
                                - bank
                              description: Payment account type.
                            iban:
                              type: string
                              description: Payment account iban.
                              nullable: true
                            sia:
                              type: string
                              description: Payment account sia.
                              nullable: true
                            cuc:
                              type: string
                              description: Payment account cuc.
                            virtual:
                              type: boolean
                              description: Determine if the payment method is virtual.
                          title: PaymentAccount
                          nullable: true
                          required:
                            - name
                        details:
                          maxItems: 5
                          type: array
                          description: Method details rows
                          items:
                            title: PaymentMethodDetails
                            type: object
                            properties:
                              title:
                                type: string
                                description: Details title.
                                nullable: true
                              description:
                                type: string
                                description: Details description.
                                nullable: true
                          nullable: true
                        bank_iban:
                          type: string
                          description: Bank iban
                          nullable: true
                        bank_name:
                          type: string
                          description: Bank name
                          nullable: true
                        bank_beneficiary:
                          type: string
                          description: Bank beneficiary
                          nullable: true
                        ei_payment_method:
                          type: string
                          description: E-invoice payment method
                      required:
                        - name
                      nullable: true
                    bank_name:
                      type: string
                      description: Client bank name.
                    bank_iban:
                      type: string
                      description: Client iban.
                    bank_swift_code:
                      type: string
                      description: Client bank swift code.
                    shipping_address:
                      type: string
                      description: Client shipping address.
                    e_invoice:
                      type: boolean
                      description: Use e-invoices for this entity
                      default: false
                    ei_code:
                      type: string
                      description: E-invoice code
                    discount_highlight:
                      type: boolean
                      description: Discount Highlight.
                    default_discount:
                      type: number
                      description: Default discount.
                    has_intent_declaration:
                      type: boolean
                      description: Has intent declaration.
                    intent_declaration_protocol_number:
                      type: string
                      description: Intent declaration protocol number.
                    intent_declaration_protocol_date:
                      type: string
                      format: date
                      description: Intent declaration protocol date.
                    created_at:
                      type: string
                      nullable: true
                    updated_at:
                      type: string
                      nullable: true
                  title: Client
                  required:
                    - name
              description: ''
            examples:
              example-1:
                value:
                  data:
                    code: AE86
                    name: Avv. Maria Rossi
                    type: person
                    first_name: Maria
                    last_name: Rossi
                    contact_person: ''
                    vat_number: IT12345640962
                    tax_code: BLTGNI5ABCDA794E
                    address_street: Via Roma, 1
                    address_postal_code: '20900'
                    address_city: Milano
                    address_province: MI
                    address_extra: ''
                    country: Italia
                    email: maria.rossi@example.com
                    certified_email: maria.rossi@pec.example.com
                    phone: '1234567890'
                    fax: ''
                    notes: ''
                    default_payment_terms: 1
                    default_payment_terms_type: standard
                    bank_name: Indesa
                    bank_iban: IT40P123456781000000123456
                    bank_swift_code: AK86PCT
                    shipping_address: Corso Magellano 4
                    e_invoice: true
                    ei_code: '111111'
                    default_vat:
                      id: 54321
                      value: 45
                      description: ''
                      is_disabled: false
        description: The modified Client. First level parameters are managed in delta mode.
      tags:
        - Clients
    delete:
      summary: Delete Client
      operationId: deleteClient
      responses:
        '200':
          description: Entity Removed
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Deletes the specified client.
      parameters: []
      security:
        - OAuth2AuthenticationCodeFlow:
            - entity.clients:a
        - ManualAuth: []
      tags:
        - Clients
  /c/{company_id}/entities/suppliers:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List Suppliers
      responses:
        '200':
          $ref: '#/components/responses/ListSuppliersResponse'
        '401':
          description: Unauthorized
      operationId: listSuppliers
      description: Lists the suppliers.
      security:
        - OAuth2AuthenticationCodeFlow:
            - entity.suppliers:r
        - ManualAuth: []
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/q'
      tags:
        - Suppliers
    post:
      summary: Create Supplier
      operationId: createSupplier
      responses:
        '200':
          $ref: '#/components/responses/CreateSupplierResponse'
      description: Creates a new supplier.
      security:
        - OAuth2AuthenticationCodeFlow:
            - entity.suppliers:a
        - ManualAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              title: CreateSupplierRequest
              type: object
              properties:
                data:
                  type: object
                  description: ''
                  properties:
                    id:
                      type: integer
                      description: Unique identifier
                    code:
                      type: string
                      example: '123'
                      description: Supplier code.
                    name:
                      type: string
                      example: Rossi S.r.l.
                      description: Supplier name.
                    type:
                      title: SupplierType
                      type: string
                      default: null
                      enum:
                        - company
                        - person
                        - pa
                        - condo
                      description: Supplier type.
                      nullable: true
                    first_name:
                      type: string
                      description: Supplier first name.
                    last_name:
                      type: string
                      description: Supplier last name.
                    contact_person:
                      type: string
                    vat_number:
                      type: string
                      example: IT01234567890
                      description: Supplier vat number.
                    tax_code:
                      type: string
                      example: RSSMRA44A12E890Q
                      description: Supplier tax code.
                    address_street:
                      type: string
                      example: Via dei tigli, 12
                      description: Supplier street address.
                    address_postal_code:
                      type: string
                      example: '24010'
                      description: Supplier postal code.
                    address_city:
                      type: string
                      example: Bergamo
                      description: Supplier city.
                    address_province:
                      type: string
                      example: BG
                      description: Supplier province.
                    address_extra:
                      type: string
                      description: Supplier address extra info.
                    country:
                      type: string
                      example: Italia
                      description: Supplier country.
                      default: Italia
                    email:
                      type: string
                      example: mario.rossi@example.it
                      description: Supplier email.
                    certified_email:
                      type: string
                      example: mario.rossi@pec.example.it
                      description: Supplier certified email.
                    phone:
                      type: string
                      description: Supplier phone.
                    fax:
                      type: string
                      description: Supplier fax.
                    notes:
                      type: string
                      description: Supplier extra notes.
                    bank_iban:
                      type: string
                      description: Supplier bank IBAN.
                    created_at:
                      type: string
                      nullable: true
                    updated_at:
                      type: string
                      nullable: true
                  title: Supplier
                  required:
                    - name
            examples:
              example-1:
                value:
                  data:
                    id: 12345
                    code: AE86
                    name: Mario Rossi S.R.L.
                    type: company
                    first_name: Mario
                    last_name: Rossi
                    contact_person: ''
                    vat_number: '111222333'
                    tax_code: '111122233'
                    address_street: Corso Magellano, 46
                    address_postal_code: '20146'
                    address_city: Milano
                    address_province: MI
                    address_extra: ''
                    country: Italia
                    email: mario.rossi@example.com
                    certified_email: mario.rossi@pec.example.com
                    phone: '1234567890'
                    fax: '123456789'
                    notes: ''
        description: The supplier to create
      tags:
        - Suppliers
  /c/{company_id}/entities/suppliers/{supplier_id}:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/supplier_id'
    get:
      summary: Get Supplier
      responses:
        '200':
          $ref: '#/components/responses/GetSupplierResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: getSupplier
      security:
        - OAuth2AuthenticationCodeFlow:
            - entity.suppliers:r
        - ManualAuth: []
      description: Gets the specified supplier.
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
      tags:
        - Suppliers
    put:
      summary: Modify Supplier
      operationId: modifySupplier
      responses:
        '200':
          $ref: '#/components/responses/ModifySupplierResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Modifies the specified supplier.
      security:
        - OAuth2AuthenticationCodeFlow:
            - entity.suppliers:a
        - ManualAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              title: ModifySupplierRequest
              type: object
              properties:
                data:
                  type: object
                  description: ''
                  properties:
                    id:
                      type: integer
                      description: Unique identifier
                    code:
                      type: string
                      example: '123'
                      description: Supplier code.
                    name:
                      type: string
                      example: Rossi S.r.l.
                      description: Supplier name.
                    type:
                      title: SupplierType
                      type: string
                      default: null
                      enum:
                        - company
                        - person
                        - pa
                        - condo
                      description: Supplier type.
                      nullable: true
                    first_name:
                      type: string
                      description: Supplier first name.
                    last_name:
                      type: string
                      description: Supplier last name.
                    contact_person:
                      type: string
                    vat_number:
                      type: string
                      example: IT01234567890
                      description: Supplier vat number.
                    tax_code:
                      type: string
                      example: RSSMRA44A12E890Q
                      description: Supplier tax code.
                    address_street:
                      type: string
                      example: Via dei tigli, 12
                      description: Supplier street address.
                    address_postal_code:
                      type: string
                      example: '24010'
                      description: Supplier postal code.
                    address_city:
                      type: string
                      example: Bergamo
                      description: Supplier city.
                    address_province:
                      type: string
                      example: BG
                      description: Supplier province.
                    address_extra:
                      type: string
                      description: Supplier address extra info.
                    country:
                      type: string
                      example: Italia
                      description: Supplier country.
                      default: Italia
                    email:
                      type: string
                      example: mario.rossi@example.it
                      description: Supplier email.
                    certified_email:
                      type: string
                      example: mario.rossi@pec.example.it
                      description: Supplier certified email.
                    phone:
                      type: string
                      description: Supplier phone.
                    fax:
                      type: string
                      description: Supplier fax.
                    notes:
                      type: string
                      description: Supplier extra notes.
                    bank_iban:
                      type: string
                      description: Supplier bank IBAN.
                    created_at:
                      type: string
                      nullable: true
                    updated_at:
                      type: string
                      nullable: true
                  title: Supplier
                  required:
                    - name
            examples:
              example-1:
                value:
                  data:
                    id: 12345
                    code: AE86
                    name: Mario Rossi S.R.L.
                    type: company
                    first_name: Mario
                    last_name: Rossi
                    contact_person: ''
                    vat_number: '111222333'
                    tax_code: '111122233'
                    address_street: Corso Magellano, 46
                    address_postal_code: '20146'
                    address_city: Milano
                    address_province: MI
                    address_extra: ''
                    country: Italia
                    email: mario.rossi@example.com
                    certified_email: mario.rossi@pec.example.com
                    phone: '1234567890'
                    fax: '123456789'
                    notes: ''
        description: >-
          The modified Supplier. First level parameters are managed in delta
          mode.
      tags:
        - Suppliers
    delete:
      summary: Delete Supplier
      operationId: deleteSupplier
      responses:
        '200':
          description: Entity Removed
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Deletes the specified supplier.
      parameters: []
      security:
        - OAuth2AuthenticationCodeFlow:
            - entity.suppliers:a
        - ManualAuth: []
      tags:
        - Suppliers
  /c/{company_id}/products:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List Products
      tags:
        - Products
      responses:
        '200':
          $ref: '#/components/responses/ListProductsResponse'
        '401':
          description: Unauthorized
      operationId: listProducts
      description: Lists the products.
      security:
        - OAuth2AuthenticationCodeFlow:
            - products:r
        - ManualAuth: []
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/q'
    post:
      summary: Create Product
      operationId: createProduct
      responses:
        '200':
          $ref: '#/components/responses/CreateProductResponse'
      tags:
        - Products
      description: Creates a new product.
      security:
        - OAuth2AuthenticationCodeFlow:
            - products:a
        - ManualAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              title: CreateProductRequest
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Unique identifier.
                    name:
                      type: string
                      description: Product name.
                    code:
                      type: string
                      description: Product code.
                      nullable: true
                    net_price:
                      type: number
                      description: >-
                        Net sale price (used if use_gross_price is false,
                        otherwise it's competed automatically).
                      nullable: true
                    gross_price:
                      type: number
                      description: >-
                        Gross sale price (used if use_gross_price is false,
                        otherwise it's competed automatically).
                      nullable: true
                    use_gross_price:
                      type: boolean
                      description: Determine which price to use for calculations.
                    default_vat:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Unique identifier
                        value:
                          type: number
                          description: '[Read Only] Percentual value.'
                          example: 22
                          maximum: 100
                          minimum: 0
                        description:
                          type: string
                          description: Short description.
                          example: Non imponibile art. 123
                        notes:
                          type: string
                          description: Long description and notes shown in documents.
                          example: >-
                            IVA non imponibile ai sensi dell'articolo 123, comma
                            2
                        e_invoice:
                          type: boolean
                          description: Usable for e-invoices.
                        ei_type:
                          type: string
                          description: E-invoice type (natura).
                          example: 2
                        ei_description:
                          type: string
                          description: E-invoice description.
                        editable:
                          type: boolean
                          description: |-
                            [Read Only]
                            Determine if this vat type is editable.
                          readOnly: true
                          default: true
                        is_disabled:
                          type: boolean
                          description: Determine if the vat type is disabled.
                      title: VatType
                      description: ''
                      nullable: true
                      required:
                        - value
                    net_cost:
                      type: number
                      description: Net cost of the product (used for received documents).
                      nullable: true
                    measure:
                      type: string
                      description: Unit of measure.
                      nullable: true
                    description:
                      type: string
                      description: Product description.
                      nullable: true
                    category:
                      type: string
                      description: Product category.
                    notes:
                      type: string
                      description: Extra notes.
                      nullable: true
                    in_stock:
                      type: boolean
                      description: Determine if the product is in stock.
                    stock_initial:
                      type: number
                      description: Product initial stock.
                    stock_current:
                      type: number
                      description: |-
                        [Read Only]
                        Product current stock.
                      readOnly: true
                    average_cost:
                      type: number
                      description: Product average cost.
                    average_price:
                      type: number
                      description: Product average price.
                    created_at:
                      type: string
                      nullable: true
                    updated_at:
                      type: string
                      nullable: true
                  title: Product
                  required:
                    - name
            examples:
              example-1:
                value:
                  data:
                    name: Tavolo di marmo
                    code: TAVOLO003
                    net_price: 240
                    net_cost: 0
                    measure: ''
                    description: Tavolo in marmo pregiato
                    category: arredamento
                    in_stock: true
                    default_vat:
                      id: 3
                      value: 22
                      description: Non imponibile art. 123
                      notes: IVA non imponibile ai sensi dell'articolo 123, comma 2
                      is_disabled: false
        description: ''
  /c/{company_id}/products/{product_id}:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/product_id'
    get:
      summary: Get Product
      tags:
        - Products
      responses:
        '200':
          $ref: '#/components/responses/GetProductResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: getProduct
      description: Gets the specified product.
      security:
        - OAuth2AuthenticationCodeFlow:
            - products:r
        - ManualAuth: []
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
    put:
      summary: Modify Product
      operationId: modifyProduct
      responses:
        '200':
          $ref: '#/components/responses/ModifyProductResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Modifies the specified product.
      security:
        - OAuth2AuthenticationCodeFlow:
            - products:a
        - ManualAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              title: ModifyProductRequest
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Unique identifier.
                    name:
                      type: string
                      description: Product name.
                    code:
                      type: string
                      description: Product code.
                      nullable: true
                    net_price:
                      type: number
                      description: >-
                        Net sale price (used if use_gross_price is false,
                        otherwise it's competed automatically).
                      nullable: true
                    gross_price:
                      type: number
                      description: >-
                        Gross sale price (used if use_gross_price is false,
                        otherwise it's competed automatically).
                      nullable: true
                    use_gross_price:
                      type: boolean
                      description: Determine which price to use for calculations.
                    default_vat:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Unique identifier
                        value:
                          type: number
                          description: '[Read Only] Percentual value.'
                          example: 22
                          maximum: 100
                          minimum: 0
                        description:
                          type: string
                          description: Short description.
                          example: Non imponibile art. 123
                        notes:
                          type: string
                          description: Long description and notes shown in documents.
                          example: >-
                            IVA non imponibile ai sensi dell'articolo 123, comma
                            2
                        e_invoice:
                          type: boolean
                          description: Usable for e-invoices.
                        ei_type:
                          type: string
                          description: E-invoice type (natura).
                          example: 2
                        ei_description:
                          type: string
                          description: E-invoice description.
                        editable:
                          type: boolean
                          description: |-
                            [Read Only]
                            Determine if this vat type is editable.
                          readOnly: true
                          default: true
                        is_disabled:
                          type: boolean
                          description: Determine if the vat type is disabled.
                      title: VatType
                      description: ''
                      nullable: true
                      required:
                        - value
                    net_cost:
                      type: number
                      description: Net cost of the product (used for received documents).
                      nullable: true
                    measure:
                      type: string
                      description: Unit of measure.
                      nullable: true
                    description:
                      type: string
                      description: Product description.
                      nullable: true
                    category:
                      type: string
                      description: Product category.
                    notes:
                      type: string
                      description: Extra notes.
                      nullable: true
                    in_stock:
                      type: boolean
                      description: Determine if the product is in stock.
                    stock_initial:
                      type: number
                      description: Product initial stock.
                    stock_current:
                      type: number
                      description: |-
                        [Read Only]
                        Product current stock.
                      readOnly: true
                    average_cost:
                      type: number
                      description: Product average cost.
                    average_price:
                      type: number
                      description: Product average price.
                    created_at:
                      type: string
                      nullable: true
                    updated_at:
                      type: string
                      nullable: true
                  title: Product
                  required:
                    - name
            examples:
              example-1:
                value:
                  data:
                    name: Tavolo di marmo
                    code: TAVOLO003
                    net_price: 240
                    net_cost: 0
                    measure: ''
                    description: Tavolo in marmo pregiato
                    category: arredamento
                    in_stock: true
                    default_vat:
                      id: 3
                      value: 22
                      description: Non imponibile art. 123
                      notes: IVA non imponibile ai sensi dell'articolo 123, comma 2
                      is_disabled: false
        description: Modified product details.
      tags:
        - Products
    delete:
      summary: Delete Product
      operationId: deleteProduct
      responses:
        '200':
          description: Product removed.
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Deletes the specified product.
      security:
        - OAuth2AuthenticationCodeFlow:
            - products:a
        - ManualAuth: []
      parameters: []
      tags:
        - Products
  /c/{company_id}/issued_documents:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List Issued Documents
      tags:
        - Issued Documents
      responses:
        '200':
          $ref: '#/components/responses/ListIssuedDocumentsResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: listIssuedDocuments
      description: Lists the issued documents.
      security:
        - OAuth2AuthenticationCodeFlow:
            - issued_documents.invoices:r
            - issued_documents.credit_notes:r
            - issued_documents.receipts:r
            - issued_documents.orders:r
            - issued_documents.quotes:r
            - issued_documents.proformas:r
            - issued_documents.delivery_notes:r
        - ManualAuth: []
      parameters:
        - $ref: '#/components/parameters/issued_document_type'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/q'
        - schema:
            type: integer
            enum:
              - 0
              - 1
          in: query
          name: inclusive
          description: (Only for type = delivery_notes) Include invoices delivery notes.
    post:
      summary: Create Issued Document
      operationId: createIssuedDocument
      responses:
        '200':
          $ref: '#/components/responses/CreateIssuedDocumentResponse'
        '401':
          description: Unauthorized
      tags:
        - Issued Documents
      description: Creates a new document.
      security:
        - OAuth2AuthenticationCodeFlow:
            - issued_documents.invoices:a
            - issued_documents.credit_notes:a
            - issued_documents.receipts:a
            - issued_documents.orders:a
            - issued_documents.quotes:a
            - issued_documents.proformas:a
            - issued_documents.delivery_notes:a
        - ManualAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              title: CreateIssuedDocumentRequest
              type: object
              properties:
                data:
                  title: IssuedDocument
                  type: object
                  description: ''
                  properties:
                    id:
                      type: integer
                      description: Unique identifier of the document.
                    entity:
                      title: Entity
                      type: object
                      description: ''
                      properties:
                        id:
                          type: integer
                          description: Unique identifier
                        code:
                          type: string
                          example: '123'
                          description: Code.
                        name:
                          type: string
                          example: Rossi S.r.l.
                          description: Name
                        type:
                          title: EntityType
                          type: string
                          default: null
                          enum:
                            - company
                            - person
                            - pa
                            - condo
                          description: Entity type.
                          nullable: true
                        first_name:
                          type: string
                          description: First name.
                        last_name:
                          type: string
                          description: Last name.
                        contact_person:
                          type: string
                        vat_number:
                          type: string
                          example: IT01234567890
                          description: Vat number
                        tax_code:
                          type: string
                          example: RSSMRA44A12E890Q
                          description: Tax code.
                        address_street:
                          type: string
                          example: Via dei tigli, 12
                          description: Street address.
                        address_postal_code:
                          type: string
                          example: '24010'
                          description: Postal code.
                        address_city:
                          type: string
                          example: Bergamo
                          description: City.
                        address_province:
                          type: string
                          example: BG
                          description: Province.
                        address_extra:
                          type: string
                          description: Address extra info.
                        country:
                          type: string
                          example: Italia
                          description: Country
                          default: Italia
                        country_iso:
                          type: string
                          example: Italia
                          description: Country Iso
                        email:
                          type: string
                          example: mario.rossi@example.it
                          description: Email.
                        certified_email:
                          type: string
                          example: mario.rossi@pec.example.it
                          description: Certified email.
                        phone:
                          type: string
                          description: Phone.
                        fax:
                          type: string
                          description: Fax.
                        notes:
                          type: string
                          description: Extra notes.
                        default_vat:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Unique identifier
                            value:
                              type: number
                              description: '[Read Only] Percentual value.'
                              example: 22
                              maximum: 100
                              minimum: 0
                            description:
                              type: string
                              description: Short description.
                              example: Non imponibile art. 123
                            notes:
                              type: string
                              description: Long description and notes shown in documents.
                              example: >-
                                IVA non imponibile ai sensi dell'articolo 123,
                                comma 2
                            e_invoice:
                              type: boolean
                              description: Usable for e-invoices.
                            ei_type:
                              type: string
                              description: E-invoice type (natura).
                              example: 2
                            ei_description:
                              type: string
                              description: E-invoice description.
                            editable:
                              type: boolean
                              description: |-
                                [Read Only]
                                Determine if this vat type is editable.
                              readOnly: true
                              default: true
                            is_disabled:
                              type: boolean
                              description: Determine if the vat type is disabled.
                          title: VatType
                          description: |-
                            [Only for client]
                            Default vat.
                          nullable: true
                          required:
                            - value
                        default_payment_terms:
                          type: integer
                          example: 30
                          description: |-
                            [Only for client]
                            Default payment terms.
                          nullable: true
                        default_payment_terms_type:
                          title: PaymentTermsType
                          type: string
                          default: standard
                          enum:
                            - standard
                            - end_of_month
                          description: |-
                            [Only for client]
                            Default payment terms type.
                          nullable: true
                        default_payment_method:
                          type: object
                          title: PaymentMethod
                          properties:
                            id:
                              type: integer
                              description: Unique identifier
                              nullable: true
                            name:
                              type: string
                              description: Name of the payment method
                            type:
                              title: PaymentMethodType
                              type: string
                              description: Method type.
                              default: standard
                              enum:
                                - standard
                                - riba
                            is_default:
                              type: boolean
                              description: >-
                                Determines if this is the default payment
                                method.
                            default_payment_account:
                              type: object
                              description: ''
                              properties:
                                id:
                                  type: integer
                                  description: Unique identifier
                                name:
                                  type: string
                                  description: Payment account name.
                                  example: Conto Banca Intesa
                                type:
                                  title: PaymentAccountType
                                  type: string
                                  default: standard
                                  enum:
                                    - standard
                                    - bank
                                  description: Payment account type.
                                iban:
                                  type: string
                                  description: Payment account iban.
                                  nullable: true
                                sia:
                                  type: string
                                  description: Payment account sia.
                                  nullable: true
                                cuc:
                                  type: string
                                  description: Payment account cuc.
                                virtual:
                                  type: boolean
                                  description: Determine if the payment method is virtual.
                              title: PaymentAccount
                              nullable: true
                              required:
                                - name
                            details:
                              maxItems: 5
                              type: array
                              description: Method details rows
                              items:
                                title: PaymentMethodDetails
                                type: object
                                properties:
                                  title:
                                    type: string
                                    description: Details title.
                                    nullable: true
                                  description:
                                    type: string
                                    description: Details description.
                                    nullable: true
                              nullable: true
                            bank_iban:
                              type: string
                              description: Bank iban
                              nullable: true
                            bank_name:
                              type: string
                              description: Bank name
                              nullable: true
                            bank_beneficiary:
                              type: string
                              description: Bank beneficiary
                              nullable: true
                            ei_payment_method:
                              type: string
                              description: E-invoice payment method
                          description: |-
                            [Only for client]
                            Default payment method.
                          required:
                            - name
                          nullable: true
                        bank_name:
                          type: string
                          description: |-
                            [Only for client]
                            Bank name.
                          nullable: true
                        bank_iban:
                          type: string
                          description: |-
                            [Only for client]
                            Iban.
                          nullable: true
                        bank_swift_code:
                          type: string
                          description: |-
                            [Only for client]
                            Bank swift code.
                          nullable: true
                        shipping_address:
                          type: string
                          description: |-
                            [Only for client]
                            Shipping address.
                          nullable: true
                        e_invoice:
                          type: boolean
                          description: |-
                            [Only for client]
                            Use e-invoices.
                          nullable: true
                          default: false
                        ei_code:
                          type: string
                          description: |-
                            [Only for client]
                            E-invoices code.
                          nullable: true
                        has_intent_declaration:
                          type: boolean
                          description: |-
                            [Only for client]
                            Has intent declaration.
                        intent_declaration_protocol_number:
                          type: string
                          description: |-
                            [Only for client]
                            Intent declaration protocol number.
                        intent_declaration_protocol_date:
                          type: string
                          format: date
                          description: |-
                            [Only for client]
                            Intent declaration protocol date.
                        created_at:
                          type: string
                          nullable: true
                        updated_at:
                          type: string
                          nullable: true
                      required:
                        - name
                    type:
                      type: string
                      default: invoice
                      enum:
                        - invoice
                        - quote
                        - proforma
                        - receipt
                        - delivery_note
                        - credit_note
                        - order
                        - work_report
                        - supplier_order
                        - self_own_invoice
                        - self_supplier_invoice
                      description: Issued document type.
                    number:
                      type: integer
                      description: |-
                        Number of the document
                        [If not specified, next number is used]
                      example: 1
                    numeration:
                      type: string
                      description: |-
                        Numeration of the document
                        [Not available if type=delivery_note]
                      example: /A
                    date:
                      type: string
                      description: |-
                        Date of the document
                        [If not specified, today date is used]
                      format: date
                    year:
                      type: integer
                      description: Invoice year.
                    currency:
                      type: object
                      description: ''
                      properties:
                        id:
                          type: string
                          description: Currency code.
                          example: EUR
                        symbol:
                          type: string
                          description: Currency symbol.
                          example: €
                        exchange_rate:
                          type: string
                          description: Currency exchange rate (EUR to this).
                          example: '1'
                          nullable: true
                        html_symbol:
                          type: string
                          example: EUR
                          description: Currency html code.
                      title: Currency
                    language:
                      type: object
                      properties:
                        code:
                          type: string
                          description: Language code.
                        name:
                          type: string
                          description: Language extended name.
                      title: Language
                      required:
                        - code
                        - name
                    subject:
                      type: string
                      description: Issued document subject.
                    visible_subject:
                      type: string
                      description: Issued document visible subject.
                    rc_center:
                      type: string
                      description: Revenue center [or cost center if type=supplier_order].
                    notes:
                      type: string
                      description: Issued document extra notes.
                    rivalsa:
                      type: number
                      description: '"Rivalsa INPS" percentual value'
                      maximum: 100
                      minimum: 0
                    cassa:
                      type: number
                      description: '"Cassa previdenziale" percentual value'
                      maximum: 100
                      minimum: 0
                    amount_cassa:
                      type: number
                      description: |-
                        [Read Only]
                        Cassa amount.
                      readOnly: true
                    cassa_taxable:
                      type: number
                      description: Cassa taxable percentage
                      minimum: 0
                      maximum: 100
                    amount_cassa_taxable:
                      type: number
                      description: |-
                        [Can be set only if cassa_taxable is NULL]
                        Cassa2 taxable amount
                      nullable: true
                    cassa2:
                      type: number
                      description: '"Cassa previdenziale 2" percentual value'
                      maximum: 100
                      minimum: 0
                    amount_cassa2:
                      type: number
                      description: |-
                        [Read Only]
                        Cassa amount.
                      readOnly: true
                      nullable: true
                    cassa2_taxable:
                      type: number
                      description: Cassa2 taxable percentage
                      minimum: 0
                      maximum: 100
                    amount_cassa2_taxable:
                      type: number
                      description: |-
                        [Can be set only if cassa2_taxable is NULL]
                        Cassa2 taxable amount
                      nullable: true
                    global_cassa_taxable:
                      type: number
                      description: Global cassa taxable percentage
                      minimum: 0
                      maximum: 100
                    amount_global_cassa_taxable:
                      type: number
                      description: |-
                        [Can be set only if global_cassa_taxable is NULL]
                        Global cassa taxable amount
                      nullable: true
                    withholding_tax:
                      type: number
                      description: Withholding tax (ritenuta d'acconto) percentual value
                      maximum: 100
                      minimum: 0
                    withholding_tax_taxable:
                      type: number
                      description: Withholding tax taxable (imponibile) percentual value
                      maximum: 100
                      minimum: 0
                    other_withholding_tax:
                      type: number
                      description: Other withholding tax (altra ritenuta) percentual value
                      maximum: 100
                      minimum: 0
                    stamp_duty:
                      type: number
                      description: |-
                        Stamp duty value
                        [0 if not present]
                    payment_method:
                      type: object
                      title: PaymentMethod
                      properties:
                        id:
                          type: integer
                          description: Unique identifier
                          nullable: true
                        name:
                          type: string
                          description: Name of the payment method
                        type:
                          title: PaymentMethodType
                          type: string
                          description: Method type.
                          default: standard
                          enum:
                            - standard
                            - riba
                        is_default:
                          type: boolean
                          description: Determines if this is the default payment method.
                        default_payment_account:
                          type: object
                          description: ''
                          properties:
                            id:
                              type: integer
                              description: Unique identifier
                            name:
                              type: string
                              description: Payment account name.
                              example: Conto Banca Intesa
                            type:
                              title: PaymentAccountType
                              type: string
                              default: standard
                              enum:
                                - standard
                                - bank
                              description: Payment account type.
                            iban:
                              type: string
                              description: Payment account iban.
                              nullable: true
                            sia:
                              type: string
                              description: Payment account sia.
                              nullable: true
                            cuc:
                              type: string
                              description: Payment account cuc.
                            virtual:
                              type: boolean
                              description: Determine if the payment method is virtual.
                          title: PaymentAccount
                          nullable: true
                          required:
                            - name
                        details:
                          maxItems: 5
                          type: array
                          description: Method details rows
                          items:
                            title: PaymentMethodDetails
                            type: object
                            properties:
                              title:
                                type: string
                                description: Details title.
                                nullable: true
                              description:
                                type: string
                                description: Details description.
                                nullable: true
                          nullable: true
                        bank_iban:
                          type: string
                          description: Bank iban
                          nullable: true
                        bank_name:
                          type: string
                          description: Bank name
                          nullable: true
                        bank_beneficiary:
                          type: string
                          description: Bank beneficiary
                          nullable: true
                        ei_payment_method:
                          type: string
                          description: E-invoice payment method
                      required:
                        - name
                    use_split_payment:
                      type: boolean
                      description: Use split payment
                      default: false
                    use_gross_prices:
                      type: boolean
                      description: Use gross prices
                      default: false
                    e_invoice:
                      type: boolean
                      description: Indicates if this is an e-invoice.
                      default: false
                    ei_data:
                      type: object
                      description: |-
                        E-invoice data.
                        [Only if e_invoice=true]
                      properties:
                        vat_kind:
                          title: VatKind
                          type: string
                          description: Vat kind (esigibilità IVA).
                          default: null
                          enum:
                            - null
                            - I
                            - D
                            - S
                          nullable: true
                        original_document_type:
                          title: OriginalDocumentType
                          type: string
                          description: >-
                            Type of document followed by the the current
                            invoice.
                          default: ordine
                          enum:
                            - ordine
                            - contratto
                            - convenzione
                          nullable: true
                        od_number:
                          type: string
                          description: Original document number.
                          nullable: true
                        od_date:
                          type: string
                          description: Original document date.
                          format: date
                          nullable: true
                        cig:
                          type: string
                          description: CIG.
                          nullable: true
                        cup:
                          type: string
                          description: CUP.
                          nullable: true
                        payment_method:
                          type: string
                          description: >-
                            Payment method (see
                            https://www.fatturapa.gov.it/export/documenti/fatturapa/v1.2.1/Rappresentazione-tabellare-fattura-ordinaria.pdf
                            for the accepted values of ModalitaPagamento).
                          nullable: true
                        bank_name:
                          type: string
                          description: Bank name.
                          nullable: true
                        bank_iban:
                          type: string
                          description: IBAN.
                          nullable: true
                        bank_beneficiary:
                          type: string
                          description: Bank beneficiary.
                          nullable: true
                        invoice_number:
                          type: string
                          description: Invoice number.
                          nullable: true
                        invoice_date:
                          type: string
                          format: date
                          description: Invoice date.
                          nullable: true
                      nullable: true
                    ei_cassa_type:
                      type: string
                      description: E-invoice cassa type
                      nullable: true
                    ei_cassa2_type:
                      type: string
                      description: E-invoice cassa2 type
                      nullable: true
                    ei_withholding_tax_causal:
                      type: string
                      description: E-invoice withholding tax causal
                      nullable: true
                    ei_other_withholding_tax_type:
                      type: string
                      description: E-invoice other withholding tax type
                      nullable: true
                    ei_other_withholding_tax_causal:
                      type: string
                      description: E-invoice other withholding tax causal
                      nullable: true
                    items_list:
                      type: array
                      items:
                        title: IssuedDocumentItemsListItem
                        type: object
                        properties:
                          id:
                            type: integer
                            description: Unique identifier.
                            nullable: true
                          product_id:
                            type: integer
                            nullable: true
                            description: Unique identifier of the product.
                            example: 1234
                          code:
                            type: string
                            description: Product code.
                            example: '239874892374982'
                            nullable: true
                          name:
                            type: string
                            description: Product name.
                            example: Water bottle
                            nullable: true
                          category:
                            type: string
                            description: Product category
                            nullable: true
                          description:
                            type: string
                            description: Product description.
                            nullable: true
                          qty:
                            type: number
                            description: Items quantity,
                            nullable: true
                          measure:
                            type: string
                            description: Item measure.
                            nullable: true
                          net_price:
                            type: number
                            description: Net price.
                            example: 1.23
                            nullable: true
                          gross_price:
                            type: number
                            nullable: true
                            description: Gross price.
                            example: 1.45
                          vat:
                            type: object
                            nullable: true
                            properties:
                              id:
                                type: integer
                                description: Unique identifier
                                nullable: true
                              value:
                                type: number
                                description: '[Read Only] Percentual value.'
                                example: 22
                                nullable: true
                              description:
                                type: string
                                description: Short description.
                                example: Non imponibile art. 123
                                nullable: true
                              notes:
                                type: string
                                description: Long description and notes shown in documents.
                                example: >-
                                  IVA non imponibile ai sensi dell'articolo 123,
                                  comma 2
                                nullable: true
                              e_invoice:
                                type: boolean
                                description: Usable for e-invoices.
                                nullable: true
                              ei_type:
                                type: string
                                description: E-invoice type (natura).
                                example: 2
                                nullable: true
                              ei_description:
                                type: string
                                description: E-invoice description.
                                nullable: true
                              editable:
                                type: boolean
                                description: |-
                                  [Read Only]
                                  Determine if this vat type is editable.
                                readOnly: true
                                nullable: true
                              is_disabled:
                                type: boolean
                                description: Determine if the vat type is disabled.
                                nullable: true
                            title: VatType
                            description: ''
                          not_taxable:
                            type: boolean
                            nullable: true
                          apply_withholding_taxes:
                            type: boolean
                            description: Apply withholding taxes, rivalsa and cassa.
                            nullable: true
                          discount:
                            type: number
                            description: Discount percentual value.
                            nullable: true
                          discount_highlight:
                            type: boolean
                            nullable: true
                          in_dn:
                            type: boolean
                            nullable: true
                          stock:
                            type: boolean
                            nullable: true
                          ei_raw:
                            type: object
                            description: Advanced raw attributes for e-invoices.
                            nullable: true
                      nullable: true
                    payments_list:
                      type: array
                      items:
                        title: IssuedDocumentPaymentsListItem
                        type: object
                        properties:
                          id:
                            type: integer
                            description: Unique identifier.
                            nullable: true
                          due_date:
                            type: string
                            description: Due date.
                            format: date
                            example: '2018-04-03'
                            nullable: true
                          amount:
                            type: number
                            description: Payment amount.
                            example: 1.45
                            nullable: true
                          status:
                            title: IssuedDocumentStatus
                            type: string
                            description: Payment status.
                            default: not_paid
                            enum:
                              - not_paid
                              - paid
                              - reversed
                            nullable: true
                          payment_account:
                            type: object
                            nullable: true
                            description: ''
                            properties:
                              id:
                                type: integer
                                description: Unique identifier
                                nullable: true
                              name:
                                type: string
                                description: Payment account name.
                                example: Conto Banca Intesa
                                nullable: true
                              type:
                                title: PaymentAccountType
                                type: string
                                default: standard
                                enum:
                                  - standard
                                  - bank
                                description: Payment account type.
                                nullable: true
                              iban:
                                type: string
[...]
