openapi: 3.0.3
info:
  title: Fatture in Cloud API v2 - API Reference
  description: >-
    Connect your software with Fatture in Cloud, the invoicing platform chosen
    by more than 400.000 businesses in Italy. 


    The Fatture in Cloud API is based on REST, and makes possible to interact
    with the user related data prior authorization via OAuth2 protocol.
  contact:
    name: Fatture in Cloud
    url: https://www.fattureincloud.it
    email: info@fattureincloud.it
  license:
    name: MIT
    url: >-
      https://github.com/fattureincloud/openapi-fattureincloud/blob/master/LICENSE
  version: 2.0.9
servers:
  - url: https://api-v2.fattureincloud.it
tags:
  - name: Archive
  - name: Cashbook
  - name: Clients
  - name: Companies
  - name: Info
  - name: Issued Documents
  - name: Issued e-invoices
  - name: Products
  - name: Receipts
  - name: Received Documents
  - name: Suppliers
  - name: Taxes
  - name: User
paths:
  /user/info:
    get:
      tags:
        - User
      summary: Get User Info
      responses:
        '200':
          $ref: '#/components/responses/GetUserInfoResponse'
        '401':
          description: Unauthorized.
      operationId: getUserInfo
      description: Gets the current user's info.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters: []
  /user/companies:
    get:
      summary: List User Companies
      tags:
        - User
      responses:
        '200':
          $ref: '#/components/responses/ListUserCompaniesResponse'
        '401':
          description: Unauthorized
      operationId: listUserCompanies
      description: Lists the companies controlled by the current user.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters: []
  /c/{company_id}/company/info:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: Get Company Info
      responses:
        '200':
          $ref: '#/components/responses/GetCompanyInfoResponse'
        '401':
          description: Unauthorized.
      operationId: getCompanyInfo
      description: Gets the company detailed info.
      security:
        - OAuth2AuthenticationCodeFlow: []
      tags:
        - Companies
  /c/{company_id}/entities/clients:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List Clients
      tags:
        - Clients
      responses:
        '200':
          $ref: '#/components/responses/ListClientsResponse'
        '401':
          description: Unauthorized
      operationId: listClients
      description: Lists the clients.
      security:
        - OAuth2AuthenticationCodeFlow:
            - entity.clients:r
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
    post:
      summary: Create Client
      operationId: createClient
      responses:
        '200':
          $ref: '#/components/responses/CreateClientResponse'
      description: Creates a new client.
      security:
        - OAuth2AuthenticationCodeFlow:
            - entity.clients:a
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/CreateClientRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    code: AE86
                    name: Avv. Maria Rossi
                    type: person
                    first_name: Maria
                    last_name: Rossi
                    contact_person: ''
                    vat_number: IT12345640962
                    tax_code: BLTGNI5ABCDA794E
                    address_street: Via Roma, 1
                    address_postal_code: '20900'
                    address_city: Milano
                    address_province: MI
                    address_extra: ''
                    country: Italia
                    email: maria.rossi@example.com
                    certified_email: maria.rossi@pec.example.com
                    phone: '1234567890'
                    fax: ''
                    notes: ''
                    default_payment_terms: 1
                    default_payment_terms_type: standard
                    bank_name: Indesa
                    bank_iban: IT40P123456781000000123456
                    bank_swift_code: AK86PCT
                    shipping_address: Corso Magellano 4
                    e_invoice: true
                    ei_code: '111111'
                    default_vat:
                      id: 54321
                      value: 45
                      description: ''
                      is_disabled: false
        description: The client to create
      tags:
        - Clients
  /c/{company_id}/entities/clients/{client_id}:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/client_id'
    get:
      summary: Get Client
      tags:
        - Clients
      responses:
        '200':
          $ref: '#/components/responses/GetClientResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: getClient
      security:
        - OAuth2AuthenticationCodeFlow:
            - entity.clients:r
      description: Gets the specified client.
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
    put:
      summary: Modify Client
      operationId: modifyClient
      responses:
        '200':
          $ref: '#/components/responses/ModifyClientResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Modifies the specified client.
      security:
        - OAuth2AuthenticationCodeFlow:
            - entity.clients:a
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/ModifyClientRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    code: AE86
                    name: Avv. Maria Rossi
                    type: person
                    first_name: Maria
                    last_name: Rossi
                    contact_person: ''
                    vat_number: IT12345640962
                    tax_code: BLTGNI5ABCDA794E
                    address_street: Via Roma, 1
                    address_postal_code: '20900'
                    address_city: Milano
                    address_province: MI
                    address_extra: ''
                    country: Italia
                    email: maria.rossi@example.com
                    certified_email: maria.rossi@pec.example.com
                    phone: '1234567890'
                    fax: ''
                    notes: ''
                    default_payment_terms: 1
                    default_payment_terms_type: standard
                    bank_name: Indesa
                    bank_iban: IT40P123456781000000123456
                    bank_swift_code: AK86PCT
                    shipping_address: Corso Magellano 4
                    e_invoice: true
                    ei_code: '111111'
                    default_vat:
                      id: 54321
                      value: 45
                      description: ''
                      is_disabled: false
        description: The modified Client. First level parameters are managed in delta mode.
      tags:
        - Clients
    delete:
      summary: Delete Client
      operationId: deleteClient
      responses:
        '200':
          description: Entity Removed
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Deletes the specified client.
      parameters: []
      security:
        - OAuth2AuthenticationCodeFlow:
            - entity.clients:a
      tags:
        - Clients
  /c/{company_id}/entities/suppliers:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List Suppliers
      responses:
        '200':
          $ref: '#/components/responses/ListSuppliersResponse'
        '401':
          description: Unauthorized
      operationId: listSuppliers
      description: Lists the suppliers.
      security:
        - OAuth2AuthenticationCodeFlow:
            - entity.suppliers:r
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      tags:
        - Suppliers
    post:
      summary: Create Supplier
      operationId: createSupplier
      responses:
        '200':
          $ref: '#/components/responses/CreateSupplierResponse'
      description: Creates a new supplier.
      security:
        - OAuth2AuthenticationCodeFlow:
            - entity.suppliers:a
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/CreateSupplierRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    id: 12345
                    code: AE86
                    name: Mario Rossi S.R.L.
                    type: company
                    first_name: Mario
                    last_name: Rossi
                    contact_person: ''
                    vat_number: '111222333'
                    tax_code: '111122233'
                    address_street: Corso Magellano, 46
                    address_postal_code: '20146'
                    address_city: Milano
                    address_province: MI
                    address_extra: ''
                    country: Italia
                    email: mario.rossi@example.com
                    certified_email: mario.rossi@pec.example.com
                    phone: '1234567890'
                    fax: '123456789'
                    notes: ''
        description: The supplier to create
      tags:
        - Suppliers
  /c/{company_id}/entities/suppliers/{supplier_id}:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/supplier_id'
    get:
      summary: Get Supplier
      responses:
        '200':
          $ref: '#/components/responses/GetSupplierResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: getSupplier
      security:
        - OAuth2AuthenticationCodeFlow:
            - entity.suppliers:r
      description: Gets the specified supplier.
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
      tags:
        - Suppliers
    put:
      summary: Modify Supplier
      operationId: modifySupplier
      responses:
        '200':
          $ref: '#/components/responses/ModifySupplierResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Modifies the specified supplier.
      security:
        - OAuth2AuthenticationCodeFlow:
            - entity.suppliers:a
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/ModifySupplierRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    id: 12345
                    code: AE86
                    name: Mario Rossi S.R.L.
                    type: company
                    first_name: Mario
                    last_name: Rossi
                    contact_person: ''
                    vat_number: '111222333'
                    tax_code: '111122233'
                    address_street: Corso Magellano, 46
                    address_postal_code: '20146'
                    address_city: Milano
                    address_province: MI
                    address_extra: ''
                    country: Italia
                    email: mario.rossi@example.com
                    certified_email: mario.rossi@pec.example.com
                    phone: '1234567890'
                    fax: '123456789'
                    notes: ''
        description: >-
          The modified Supplier. First level parameters are managed in delta
          mode.
      tags:
        - Suppliers
    delete:
      summary: Delete Supplier
      operationId: deleteSupplier
      responses:
        '200':
          description: Entity Removed
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Deletes the specified supplier.
      parameters: []
      security:
        - OAuth2AuthenticationCodeFlow:
            - entity.suppliers:a
      tags:
        - Suppliers
  /c/{company_id}/products:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List Products
      tags:
        - Products
      responses:
        '200':
          $ref: '#/components/responses/ListProductsResponse'
        '401':
          description: Unauthorized
      operationId: listProducts
      description: Lists the products.
      security:
        - OAuth2AuthenticationCodeFlow:
            - products:r
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
    post:
      summary: Create Product
      operationId: createProduct
      responses:
        '200':
          $ref: '#/components/responses/CreateProductResponse'
      tags:
        - Products
      description: Creates a new product.
      security:
        - OAuth2AuthenticationCodeFlow:
            - products:a
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/CreateProductRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    name: Tavolo di marmo
                    code: TAVOLO003
                    net_price: 240
                    net_cost: 0
                    measure: ''
                    description: Tavolo in marmo pregiato
                    category: arredamento
                    in_stock: true
                    default_vat:
                      id: 3
                      value: 22
                      description: Non imponibile art. 123
                      notes: IVA non imponibile ai sensi dell'articolo 123, comma 2
                      is_disabled: false
        description: ''
  /c/{company_id}/products/{product_id}:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/product_id'
    get:
      summary: Get Product
      tags:
        - Products
      responses:
        '200':
          $ref: '#/components/responses/GetProductResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: getProduct
      description: Gets the specified product.
      security:
        - OAuth2AuthenticationCodeFlow:
            - products:r
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
    put:
      summary: Modify Product
      operationId: modifyProduct
      responses:
        '200':
          $ref: '#/components/responses/ModifyProductResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Modifies the specified product.
      security:
        - OAuth2AuthenticationCodeFlow:
            - products:a
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/ModifyProductRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    name: Tavolo di marmo
                    code: TAVOLO003
                    net_price: 240
                    net_cost: 0
                    measure: ''
                    description: Tavolo in marmo pregiato
                    category: arredamento
                    in_stock: true
                    default_vat:
                      id: 3
                      value: 22
                      description: Non imponibile art. 123
                      notes: IVA non imponibile ai sensi dell'articolo 123, comma 2
                      is_disabled: false
        description: Modified product details.
      tags:
        - Products
    delete:
      summary: Delete Product
      operationId: deleteProduct
      responses:
        '200':
          description: Product removed.
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Deletes the specified product.
      security:
        - OAuth2AuthenticationCodeFlow:
            - products:a
      parameters: []
      tags:
        - Products
  /c/{company_id}/issued_documents:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List Issued Documents
      tags:
        - Issued Documents
      responses:
        '200':
          $ref: '#/components/responses/ListIssuedDocumentsResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: listIssuedDocuments
      description: Lists the issued documents.
      security:
        - OAuth2AuthenticationCodeFlow:
            - issued_documents.invoice:r
            - issued_documents.credit_note:r
            - issued_documents.receipt:r
            - issued_documents.order:r
            - issued_documents.quote:r
            - issued_documents.proforma:r
            - issued_documents.delivery_note:r
      parameters:
        - $ref: '#/components/parameters/issued_document_type'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
    post:
      summary: Create Issued Document
      operationId: createIssuedDocument
      responses:
        '200':
          $ref: '#/components/responses/CreateIssuedDocumentResponse'
        '401':
          description: Unauthorized
      tags:
        - Issued Documents
      description: Creates a new document.
      security:
        - OAuth2AuthenticationCodeFlow:
            - issued_documents.invoice:a
            - issued_documents.credit_note:a
            - issued_documents.receipt:a
            - issued_documents.order:a
            - issued_documents.quote:a
            - issued_documents.proforma:a
            - issued_documents.delivery_note:a
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/CreateIssuedDocumentRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    type: receipt
                    numeration: rec123
                    subject: ''
                    visible_subject: ''
                    amount_net: 68.18
                    amount_vat: 6.82
                    amount_due_discount: 0
                    entity:
                      id: 54321
                      name: Mary Red S.r.L.
                      vat_number: IT05432181211
                      tax_code: IT05432181211
                      address_street: Via Italia, 66
                      address_postal_code: '20900'
                      address_city: Milano
                      address_province: MI
                      address_extra: ''
                      country: Italia
                      certified_email: mary@pec.red.com
                      ei_code: ABCXCR1
                    date: '2021-08-20'
                    number: 1
                    next_due_date: '2021-12-31'
                    attachment_token: ypbqqe4u8w8bdabcd5fd5b1a
                    items_list:
                      - product_id: 333
                        code: SG3
                        name: Soggiorno
                        measure: ''
                        net_price: 68.18182
                        category: ''
                        id: 277875565
                        gross_price: 75
                        apply_withholding_taxes: true
                        discount: 0
                        discount_highlight: false
                        in_dn: false
                        qty: 1
                        vat:
                          id: 3
                          value: 10
                          description: ''
                        stock: true
                        description: ''
                        not_taxable: false
                    payments_list:
                      - amount: 75
                        due_date: '2020-08-23'
                        id: 444
                        payment_terms:
                          days: 0
                          type: standard
                        status: not_paid
                    payment_method:
                      id: 4
        description: The Issued Document
  /c/{company_id}/issued_documents/{document_id}:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/document_id'
    get:
      summary: Get Issued Document
      tags:
        - Issued Documents
      responses:
        '200':
          $ref: '#/components/responses/GetIssuedDocumentResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: getIssuedDocument
      description: |
        Gets the specified document.
      security:
        - OAuth2AuthenticationCodeFlow:
            - issued_documents.invoice:r
            - issued_documents.credit_note:r
            - issued_documents.receipt:r
            - issued_documents.order:r
            - issued_documents.quote:r
            - issued_documents.proforma:r
            - issued_documents.delivery_note:r
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
    put:
      summary: Modify Issued Document
      operationId: modifyIssuedDocument
      responses:
        '200':
          $ref: '#/components/responses/ModifyIssuedDocumentResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Modifies the specified document.
      security:
        - OAuth2AuthenticationCodeFlow:
            - issued_documents.invoice:a
            - issued_documents.credit_note:a
            - issued_documents.receipt:a
            - issued_documents.order:a
            - issued_documents.quote:a
            - issued_documents.proforma:a
            - issued_documents.delivery_note:a
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/ModifyIssuedDocumentRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    type: receipt
                    numeration: rec123
                    subject: ''
                    visible_subject: ''
                    amount_net: 68.18
                    amount_vat: 6.82
                    amount_due_discount: 0
                    entity:
                      id: 54321
                      name: Mary Red S.r.L.
                      vat_number: IT05432181211
                      tax_code: IT05432181211
                      address_street: Via Italia, 66
                      address_postal_code: '20900'
                      address_city: Milano
                      address_province: MI
                      address_extra: ''
                      country: Italia
                      certified_email: mary@pec.red.com
                      ei_code: ABCXCR1
                    date: '2021-08-20'
                    number: 1
                    next_due_date: '2021-12-31'
                    attachment_token: ypbqqe4u8w8bdabcd5fd5b1a
                    items_list:
                      - product_id: 333
                        code: SG3
                        name: Soggiorno
                        measure: ''
                        net_price: 68.18182
                        category: ''
                        id: 277875565
                        gross_price: 75
                        apply_withholding_taxes: true
                        discount: 0
                        discount_highlight: false
                        in_dn: false
                        qty: 1
                        vat:
                          id: 3
                          value: 10
                          description: ''
                        stock: true
                        description: ''
                        not_taxable: false
                    payments_list:
                      - amount: 75
                        due_date: '2020-08-23'
                        id: 444
                        payment_terms:
                          days: 0
                          type: standard
                        status: not_paid
        description: The modified document
      tags:
        - Issued Documents
    delete:
      summary: Delete Issued Document
      operationId: deleteIssuedDocument
      responses:
        '200':
          description: Document removed
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Deletes the specified document.
      security:
        - OAuth2AuthenticationCodeFlow:
            - issued_documents.invoice:a
            - issued_documents.credit_note:a
            - issued_documents.receipt:a
            - issued_documents.order:a
            - issued_documents.quote:a
            - issued_documents.proforma:a
            - issued_documents.delivery_note:a
      parameters: []
      tags:
        - Issued Documents
  /c/{company_id}/issued_documents/totals:
    parameters:
      - $ref: '#/components/parameters/company_id'
    post:
      summary: Get New Issued Document Totals
      operationId: getNewIssuedDocumentTotals
      responses:
        '200':
          $ref: '#/components/responses/GetNewIssuedDocumentTotalsResponse'
        '401':
          description: Unauthorized
      description: Returns the totals for a new document.
      tags:
        - Issued Documents
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/GetNewIssuedDocumentTotalsRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    id: 12345
                    type: receipt
                    year: 2021
                    numeration: rec123
                    subject: ''
                    visible_subject: ''
                    rc_center: ''
                    stamp_duty: 0
                    use_gross_prices: false
                    delivery_note: false
                    accompanying_invoice: false
                    amount_net: 68.18
                    amount_vat: 6.82
                    amount_due_discount: 0
                    amount_rivalsa: 0
                    amount_cassa: 0
                    amount_withholding_tax: 0
                    amount_other_withholding_tax: 0
                    permanent_token: 6pzguy12h45rn9yqwertp43t7ec90vr
                    h_margins: 15
                    v_margins: 16
                    show_payment_method: false
                    show_payments: true
                    show_totals: all
                    show_paypal_button: true
                    show_notification_button: false
                    is_marked: false
                    created_at: '2021-08-13 09:30:20'
                    updated_at: '2021-08-23 05:34:20'
                    entity:
                      id: 54321
                      name: Mary Red S.r.L.
                      vat_number: IT05432181211
                      tax_code: IT05432181211
                      address_street: Via Italia, 66
                      address_postal_code: '20900'
                      address_city: Milano
                      address_province: MI
                      address_extra: ''
                      country: Italia
                      certified_email: mary@pec.red.com
                      ei_code: ABCXCR1
                    date: '2021-08-20'
                    number: 1
                    currency:
                      id: EUR
                      exchange_rate: '1.00000'
                      symbol: €
                    language:
                      code: it
                      name: Italiano
                    notes: ''
                    rivalsa: 0
                    cassa: 0
                    withholding_tax: 0
                    withholding_tax_taxable: 100
                    other_withholding_tax: 0
                    payment_method:
                      id: 4
                      name: Credit card
                    use_split_payment: false
                    items_list:
                      - product_id: 5432
                        code: SG3
                        name: Soggiorno
                        measure: ''
                        net_price: 68.18182
                        category: ''
                        id: 277876033
                        apply_withholding_taxes: true
                        discount: 0
                        discount_highlight: false
                        in_dn: false
                        qty: 1
                        vat:
                          id: 3
                          value: 10
                          description: ''
                        stock: false
                        description: ''
                        not_taxable: false
                    payments_list:
                      - amount: 75
                        due_date: '2020-08-23'
                        id: 69078013
                        payment_terms:
                          days: 0
                          type: standard
                        status: not_paid
                    attachment_url: kdijrnf893hnwkfk45f50f.pdf
                    next_due_date: '2020-08-23'
                    template:
                      id: 2821
                      name: Light Smoke
                    url: y12h45rn9yf2mse0p43t7ec90vr.pdf
  /c/{company_id}/issued_documents/{document_id}/totals:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/document_id'
    post:
      summary: Get Existing Issued Document Totals
      operationId: getExistingIssuedDocumentTotals
      responses:
        '200':
          $ref: '#/components/responses/GetExistingIssuedDocumentTotalsResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
        - Issued Documents
      description: Returns the totals for a specified document.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/GetExistingIssuedDocumentTotalsRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    rivalsa: 20
  /c/{company_id}/issued_documents/attachment:
    parameters:
      - $ref: '#/components/parameters/company_id'
    post:
      summary: Upload Issued Document Attachment
      operationId: uploadIssuedDocumentAttachment
      responses:
        '200':
          $ref: '#/components/responses/UploadIssuedDocumentAttachmentResponse'
        '401':
          description: Unauthorized
      tags:
        - Issued Documents
      description: >-
        Uploads an attachment destined to an issued document. The actual
        association between the document and the attachment must be implemented
        separately, using the returned token.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: ./models/requests/UploadIssuedDocumentAttachmentRequest.yaml
            examples:
              example-1:
                value:
                  filename: ricevuta_maryRedSRL
                  attachment: ricevuta_20_08_2020.pdf
        description: Attachment.
  /c/{company_id}/issued_documents/{document_id}/attachment:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/document_id'
    delete:
      summary: Delete Issued Document Attachment
      operationId: deleteIssuedDocumentAttachment
      responses:
        '200':
          description: File removed.
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Removes the attachment of the specified document.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters: []
      tags:
        - Issued Documents
  /c/{company_id}/issued_documents/info:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: Get Issued Document Pre-create info
      tags:
        - Issued Documents
      responses:
        '200':
          $ref: '#/components/responses/GetIssuedDocumentPreCreateInfoResponse'
      operationId: getIssuedDocumentPreCreateInfo
      description: Retrieves the information useful while creating a new document.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters:
        - $ref: '#/components/parameters/issued_document_type'
  /c/{company_id}/issued_documents/{document_id}/email:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/document_id'
    get:
      summary: Get Email Data
      tags:
        - Issued Documents
      responses:
        '200':
          $ref: '#/components/responses/GetEmailDataResponse'
      operationId: getEmailData
      description: Gets the pre-compiled email details.
      security:
        - OAuth2AuthenticationCodeFlow:
            - issued_documents.invoice:r
            - issued_documents.credit_note:r
            - issued_documents.receipt:r
            - issued_documents.order:r
            - issued_documents.quote:r
            - issued_documents.proforma:r
            - issued_documents.delivery_note:r
      parameters: []
    post:
      summary: Schedule Email
      operationId: scheduleEmail
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Schedules the sending of a document by email.
      security:
        - OAuth2AuthenticationCodeFlow:
            - issued_documents.invoice:r
            - issued_documents.credit_note:r
            - issued_documents.receipt:r
            - issued_documents.order:r
            - issued_documents.quote:r
            - issued_documents.proforma:r
            - issued_documents.delivery_note:r
      tags:
        - Issued Documents
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/ScheduleEmailRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    sender_email: mariorossi@fattureincloud.it
                    recipient_email: mary.red@example.com
                    subject: Nostra pro forma nr. 1
                    body: >-
                      Gentile Mario Rossi,<br>per vedere la nostra pro forma di 
                      o per scaricarne una copia in versione PDF prema sul
                      bottone sottostante.<br><br>{{allegati}}<br><br>Cordiali
                      saluti,<br><b>Mario Rossi</b>
                    include:
                      document: false
                      delivery_note: false
                      attachment: false
                      accompanying_invoice: false
                    attach_pdf: true
                    send_copy: false
        description: Email Schedule
  /c/{company_id}/issued_documents/{document_id}/e_invoice/send:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/document_id'
    post:
      summary: Send the e-invoice
      operationId: sendEInvoice
      responses:
        '200':
          $ref: '#/components/responses/SendEInvoiceResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Sends the e-invoice to SDI.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/SendEInvoiceRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    withholding_tax_causal: causale
        description: ''
      tags:
        - Issued e-invoices
  /c/{company_id}/issued_documents/{document_id}/e_invoice/xml_verify:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/document_id'
    get:
      summary: Verify e-invoice xml
      tags:
        - Issued e-invoices
      responses:
        '200':
          $ref: '#/components/responses/VerifyEInvoiceXmlResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '422':
          $ref: '#/components/responses/VerifyEInvoiceXmlErrorResponse'
      operationId: verifyEInvoiceXml
      description: >-
        Verifies the e-invoice xml format. Checks if all of the mandatory fields
        are filled and compliant to the right format.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters: []
  /c/{company_id}/issued_documents/{document_id}/e_invoice/xml:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/document_id'
    get:
      summary: Get e-invoice XML
      tags:
        - Issued e-invoices
      responses:
        '200':
          $ref: '#/components/responses/GetEInvoiceXmlResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: getEInvoiceXml
      description: Downloads the e-invoice in XML format.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters:
        - $ref: '#/components/parameters/include_attachment'
  /c/{company_id}/issued_documents/{document_id}/e_invoice/error_reason:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/document_id'
    get:
      summary: Get EInvoice rejection reason
      tags:
        - Issued e-invoices
      responses:
        '200':
          $ref: '#/components/responses/GetEInvoiceRejectionReasonResponse'
      operationId: getEInvoiceRejectionReason
      description: Get EInvoice rejection reason
  /c/{company_id}/received_documents:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List Received Documents
      tags:
        - Received Documents
      responses:
        '200':
          $ref: '#/components/responses/ListReceivedDocumentsResponse'
        '401':
          description: Unauthorized
      operationId: listReceivedDocuments
      description: Lists the received documents.
      security:
        - OAuth2AuthenticationCodeFlow:
            - received_documents:r
            - stock:r
      parameters:
        - $ref: '#/components/parameters/received_document_type'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
    post:
      summary: Create Received Document
      operationId: createReceivedDocument
      responses:
        '200':
          $ref: '#/components/responses/CreateReceivedDocumentResponse'
      description: Creates a new document.
      security:
        - OAuth2AuthenticationCodeFlow:
            - received_documents:a
            - stock:a
      tags:
        - Received Documents
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/CreateReceivedDocumentRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    type: expense
                    description: Soggiorno di lavoro
                    amortization: 1
                    rc_center: ''
                    invoice_number: ''
                    is_marked: false
                    is_detailed: false
                    e_invoice: false
                    entity:
                      id: 111
                      name: Hotel Rubino Palace
                    date: '2021-08-15'
                    next_due_date: '2021-08-15'
                    currency:
                      id: EUR
                      exchange_rate: '1.00000'
                      symbol: €
                    amount_net: 592
                    amount_vat: 0
                    amount_gross: 592
                    amount_withholding_tax: 0
                    amount_other_withholding_tax: 0
                    tax_deductibility: 50
                    vat_deductibility: 100
                    payments_list:
                      - amount: 592
                        due_date: '2021-08-15'
                        paid_date: '2021-08-15'
                        id: 777
                        payment_terms:
                          days: 0
                          type: standard
                        status: paid
                        payment_account:
                          id: 222
                          name: Contanti
                          virtual: false
                    attachment_token: bnopjao8gvydtgnewgiovs74yrfqwefEF
        description: Document to create
  /c/{company_id}/received_documents/{document_id}:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/document_id'
    get:
      summary: Get Received Document
      tags:
        - Received Documents
      responses:
        '200':
          $ref: '#/components/responses/GetReceivedDocumentResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: getReceivedDocument
      description: Gets the specified document.
      security:
        - OAuth2AuthenticationCodeFlow:
            - received_documents:r
            - stock:r
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
    put:
      summary: Modify Received Document
      operationId: modifyReceivedDocument
      responses:
        '200':
          $ref: '#/components/responses/ModifyReceivedDocumentResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
        - Received Documents
      description: Modifies the specified document.
      security:
        - OAuth2AuthenticationCodeFlow:
            - received_documents:a
            - stock:a
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/ModifyReceivedDocumentRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    type: expense
                    description: Soggiorno di lavoro
                    amortization: 1
                    rc_center: ''
                    invoice_number: ''
                    is_marked: false
                    is_detailed: false
                    e_invoice: false
                    entity:
                      id: 111
                      name: Hotel Rubino Palace
                    date: '2021-08-15'
                    next_due_date: '2021-08-15'
                    currency:
                      id: EUR
                      exchange_rate: '1.00000'
                      symbol: €
                    amount_net: 592
                    amount_vat: 0
                    amount_gross: 592
                    amount_withholding_tax: 0
                    amount_other_withholding_tax: 0
                    tax_deductibility: 50
                    vat_deductibility: 100
                    payments_list:
                      - amount: 592
                        due_date: '2021-08-15'
                        paid_date: '2021-08-15'
                        id: 777
                        payment_terms:
                          days: 0
                          type: standard
                        status: paid
                        payment_account:
                          id: 222
                          name: Contanti
                          virtual: false
        description: Modified document.
    delete:
      summary: Delete Received Document
      operationId: deleteReceivedDocument
      responses:
        '200':
          description: Document removed.
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
        - Received Documents
      description: Deletes the specified document.
      security:
        - OAuth2AuthenticationCodeFlow:
            - received_documents:a
            - stock:a
      parameters: []
  /c/{company_id}/received_documents/totals:
    parameters:
      - $ref: '#/components/parameters/company_id'
    post:
      summary: Get New Received Document Totals
      operationId: getNewReceivedDocumentTotals
      responses:
        '200':
          $ref: '#/components/responses/GetNewReceivedDocumentTotalsResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Returns the totals for a new document.
      security:
        - OAuth2AuthenticationCodeFlow:
            - received_documents:a
            - stock:a
      tags:
        - Received Documents
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/GetNewReceivedDocumentTotalsRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    type: expense
                    description: Soggiorno di lavoro
                    amortization: 1
                    rc_center: ''
                    invoice_number: ''
                    is_marked: false
                    is_detailed: false
                    e_invoice: false
                    created_at: '2021-08-15 14:02:02'
                    updated_at: '2021-08-15 14:02:02'
                    entity:
                      id: 111
                      name: Hotel Rubino Palace
                    date: '2021-08-15'
                    next_due_date: '2021-08-15'
                    currency:
                      id: EUR
                      exchange_rate: '1.00000'
                      symbol: €
                    amount_net: 592
                    amount_vat: 10
                    amount_withholding_tax: 0
                    amount_other_withholding_tax: 0
                    tax_deductibility: 50
                    vat_deductibility: 100
                    payments_list:
                      - amount: 592
                        due_date: '2021-08-15'
                        paid_date: '2021-08-15'
                        id: 777
                        payment_terms:
                          days: 0
                          type: standard
                        status: paid
        description: Received document.
  /c/{company_id}/received_documents/{document_id}/totals:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/document_id'
    post:
      summary: Get Existing Received Document Totals
      operationId: getExistingReceivedDocumentTotals
      responses:
        '200':
          $ref: '#/components/responses/GetExistingReceivedDocumentTotalsResponse'
      tags:
        - Received Documents
      description: Returns the totals for the specified document.
      security:
        - OAuth2AuthenticationCodeFlow:
            - received_documents:a
            - stock:a
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/GetExistingReceivedDocumentTotalsRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    amount_vat: 20
        description: Received document.
  /c/{company_id}/received_documents/attachment:
    parameters:
      - $ref: '#/components/parameters/company_id'
    post:
      summary: Upload Received Document Attachment
      operationId: uploadReceivedDocumentAttachment
      responses:
        '200':
          $ref: '#/components/responses/UploadReceivedDocumentAttachmentResponse'
        '401':
          description: Unauthorized
      tags:
        - Received Documents
      description: >-
        Uploads an attachment destined to a received document. The actual
        association between the document and the attachment must be implemented
        separately, using the returned token.
      security:
        - OAuth2AuthenticationCodeFlow:
            - received_documents:a
            - stock:a
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: ./models/requests/UploadReceivedDocumentAttachmentRequest.yaml
            examples:
              example-1:
                value:
                  filename: spesa_HotelRubino
                  attachment: spesa_08_08_2020.pdf
        description: Attachment.
  /c/{company_id}/received_documents/{document_id}/attachment:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/document_id'
    delete:
      summary: Delete Received Document Attachment
      operationId: deleteReceivedDocumentAttachment
      responses:
        '200':
          description: File removed
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
        - Received Documents
      description: Removes the attachment of the specified document.
      security:
        - OAuth2AuthenticationCodeFlow:
            - received_documents:a
            - stock:a
      parameters: []
  /c/{company_id}/received_documents/info:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: Get Received Document Pre-Create Info
      tags:
        - Received Documents
      responses:
        '200':
          $ref: '#/components/responses/GetReceivedDocumentPreCreateInfoResponse'
      operationId: getReceivedDocumentPreCreateInfo
      description: Retrieves the information useful while creating a new document.
      security:
        - OAuth2AuthenticationCodeFlow:
            - received_documents:r
      parameters:
        - $ref: '#/components/parameters/received_document_type'
  /c/{company_id}/receipts:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List Receipts
      tags:
        - Receipts
      responses:
        '200':
          $ref: '#/components/responses/ListReceiptsResponse'
        '401':
          description: Unauthorized
      operationId: listReceipts
      description: Lists the receipts.
      security:
        - OAuth2AuthenticationCodeFlow:
            - receipts:r
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/sort'
    post:
      summary: Create Receipt
      operationId: createReceipt
      responses:
        '200':
          $ref: '#/components/responses/CreateReceiptResponse'
        '401':
          description: Unauthorized
      description: Creates a new receipt.
      security:
        - OAuth2AuthenticationCodeFlow:
            - receipts:a
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/CreateReceiptRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    date: '2021-08-19'
                    number: 6
                    numeration: REC006
                    amount_net: 8.2
                    amount_vat: 1.8
                    type: sales_receipt
                    description: cassa 1
                    rc_center: ''
                    payment_account:
                      id: 555
                      name: contanti
                    items_list:
                      - id: 888
                        amount_net: 8.2
                        amount_vat: 1.8
                        category: altro
                        vat:
                          id: 0
                          value: 22
                          description: iva
        description: The Receipt to create.
      tags:
        - Receipts
  /c/{company_id}/receipts/{document_id}:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/document_id'
    get:
      summary: Get Receipt
      tags:
        - Receipts
      responses:
        '200':
          $ref: '#/components/responses/GetReceiptResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: getReceipt
      description: Gets the specified receipt.
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
      security:
        - OAuth2AuthenticationCodeFlow:
            - receipts:r
    put:
      summary: Modify Receipt
      operationId: modifyReceipt
      responses:
        '200':
          $ref: '#/components/responses/ModifyReceiptResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
        - Receipts
      description: Modifies the specified receipt.
      security:
        - OAuth2AuthenticationCodeFlow:
            - receipts:a
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/ModifyReceiptRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    date: '2021-08-19'
                    number: 6
                    numeration: REC006
                    amount_net: 8.2
                    amount_vat: 1.8
                    type: sales_receipt
                    description: cassa 1
                    rc_center: ''
                    payment_account:
                      id: 555
                      name: contanti
                    items_list:
                      - id: 888
                        amount_net: 8.2
                        amount_vat: 1.8
                        category: altro
                        vat:
                          id: 0
                          value: 22
                          description: iva
        description: Modified receipt.
    delete:
      summary: Delete Receipt
      operationId: deleteReceipt
      responses:
        '200':
          description: Document removed.
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Deletes the specified receipt.
      security:
        - OAuth2AuthenticationCodeFlow:
            - receipts:a
      parameters: []
      tags:
        - Receipts
  /c/{company_id}/receipts/info:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: Get Receipt Pre-Create Info
      tags:
        - Receipts
      responses:
        '200':
          $ref: '#/components/responses/GetReceiptPreCreateInfoResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: getReceiptPreCreateInfo
      description: Retrieves the information useful while creating a new receipt.
      security:
        - OAuth2AuthenticationCodeFlow:
            - receipts:r
      parameters: []
  /c/{company_id}/receipts/monthly_totals:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: Get Receipts Monthly Totals
      tags:
        - Receipts
      responses:
        '200':
          $ref: '#/components/responses/GetReceiptsMonthlyTotalsResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: getReceiptsMonthlyTotals
      description: Returns the monthly totals by year and receipt type.
      security:
        - OAuth2AuthenticationCodeFlow:
            - receipts:r
      parameters:
        - in: query
          name: type
          schema:
            type: string
            enum:
              - sales_receipt
              - till_receipt
          description: Receipt Type
          required: true
        - schema:
            type: string
          in: query
          name: year
          required: true
          description: Year for which you want monthly totals
  /c/{company_id}/taxes:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List F24
      tags:
        - Taxes
      responses:
        '200':
          $ref: '#/components/responses/ListF24Response'
        '401':
          description: Unauthorized
      operationId: listF24
      description: Lists the F24s.
      security:
        - OAuth2AuthenticationCodeFlow:
            - taxes:r
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
    post:
      summary: Create F24
      operationId: createF24
      responses:
        '200':
          $ref: '#/components/responses/CreateF24Response'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
        - Taxes
      description: Creates a new F24.
      security:
        - OAuth2AuthenticationCodeFlow:
            - taxes:a
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/CreateF24Request.yaml
            examples:
              example-1:
                value:
                  data:
                    amount: 840.36
                    description: PAGAMENTO IVA 2021
                    due_date: '2021-12-31'
                    status: paid
                    payment_account:
                      id: 111
                    attachment_token: b19c01da9b1688fb73d0d9e8ad
        description: The F24 to create
  /c/{company_id}/taxes/{document_id}:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/document_id'
    get:
      summary: Get F24
      tags:
        - Taxes
      responses:
        '200':
          $ref: '#/components/responses/GetF24Response'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: getF24
      description: Gets the specified F24.
      security:
        - OAuth2AuthenticationCodeFlow:
            - taxes:r
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
    put:
      summary: Modify F24
      operationId: modifyF24
      responses:
        '200':
          $ref: '#/components/responses/ModifyF24Response'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Modifies the specified F24.
      tags:
        - Taxes
      security:
        - OAuth2AuthenticationCodeFlow:
            - taxes:a
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/ModifyF24Request.yaml
            examples:
              example-1:
                value:
                  data:
                    amount: 840.36
                    description: PAGAMENTO IVA 2021
                    due_date: '2021-12-31'
                    status: paid
                    payment_account:
                      id: 111
        description: The F24
    delete:
      summary: Delete F24
      operationId: deleteF24
      responses:
        '200':
          description: Document removed.
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
        - Taxes
      description: Removes the specified F24.
      security:
        - OAuth2AuthenticationCodeFlow:
            - taxes:a
      parameters: []
  /c/{company_id}/taxes/attachment:
    parameters:
      - $ref: '#/components/parameters/company_id'
    post:
      summary: Upload F24 Attachment
      tags:
        - Taxes
      responses:
        '200':
          $ref: '#/components/responses/UploadF24AttachmentResponse'
      operationId: uploadF24Attachment
      description: >-
        Uploads an attachment destined to a F24. The actual association between
        the document and the attachment must be implemented separately, using
        the returned token.
      security:
        - OAuth2AuthenticationCodeFlow:
            - taxes:a
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: ./models/requests/UploadF24AttachmentRequest.yaml
            examples:
              example-1:
                value:
                  filename: F24_IVA21
                  attachment: pagamento_f24_31_12_2021.pdf
        description: Attachment.
  /c/{company_id}/taxes/{document_id}/attachment:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/document_id'
    delete:
      summary: Delete F24 Attachment
      tags:
        - Taxes
      responses:
        '200':
          description: File Removed.
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: deleteF24Attachment
      description: Removes the attachment of the specified F24.
      security:
        - OAuth2AuthenticationCodeFlow:
            - taxes:a
      parameters: []
  /c/{company_id}/archive:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List Archive Documents
      tags:
        - Archive
      responses:
        '200':
          $ref: '#/components/responses/ListArchiveDocumentsResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: listArchiveDocuments
      description: Lists the archive documents.
      security:
        - OAuth2AuthenticationCodeFlow:
            - archive:r
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
    post:
      summary: Create Archive Document
      operationId: createArchiveDocument
      responses:
        '200':
          $ref: '#/components/responses/CreateArchiveDocumentResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
        - Archive
      description: Creates a new archive document.
      security:
        - OAuth2AuthenticationCodeFlow:
            - archive:a
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/CreateArchiveDocumentRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    date: '2021-08-20'
                    category: Altri documenti
                    description: spesa 1
                    attachment_token: ibfjdbf94ey9w94g3w894qbasrga
        description: The Archive Document.
  /c/{company_id}/archive/{document_id}:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/document_id'
    get:
      summary: Get Archive Document
      tags:
        - Archive
      responses:
        '200':
          $ref: '#/components/responses/GetArchiveDocumentResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: getArchiveDocument
      description: Gets the specified archive document.
      security:
        - OAuth2AuthenticationCodeFlow:
            - archive:r
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
    put:
      summary: Modify Archive Document
      operationId: modifyArchiveDocument
      responses:
        '200':
          $ref: '#/components/responses/ModifyArchiveDocumentResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
        - Archive
      description: Modifies the specified archive document.
      security:
        - OAuth2AuthenticationCodeFlow:
            - archive:a
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/ModifyArchiveDocumentRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    date: '2021-08-20'
                    category: Altri documenti
                    description: spesa 2
        description: Modified Archive Document
    delete:
      summary: Delete Archive Document
      operationId: deleteArchiveDocument
      responses:
        '200':
          description: Document removed.
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
        - Archive
      description: Deletes the specified archive document.
      security:
        - OAuth2AuthenticationCodeFlow:
            - archive:a
      parameters: []
  /c/{company_id}/archive/attachment:
    parameters:
      - $ref: '#/components/parameters/company_id'
    post:
      summary: Upload Archive Document Attachment
      tags:
        - Archive
      responses:
        '200':
          $ref: '#/components/responses/UploadArchiveAttachmentResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: uploadArchiveDocumentAttachment
      description: >-
        Uploads an attachment destined to an archive document. The actual
        association between the document and the attachment must be implemented
        separately, using the returned token.
      security:
        - OAuth2AuthenticationCodeFlow:
            - archive:a
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: ./models/requests/UploadArchiveDocumentAttachmentRequest.yaml
            examples:
              example-1:
                value:
                  filename: spesa_altro
                  attachment: spesa_20_08_2020.pdf
        description: Attachment.
      parameters: []
  /c/{company_id}/cashbook:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List Cashbook Entries
      tags:
        - Cashbook
      responses:
        '200':
          $ref: '#/components/responses/ListCashbookEntriesResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: listCashbookEntries
      description: Lists the cashbook entries.
      security:
        - OAuth2AuthenticationCodeFlow:
            - cashbook:r
      parameters:
        - schema:
            type: string
          in: query
          name: date_from
          description: Start date.
          required: true
        - schema:
            type: string
          in: query
          name: date_to
          description: End date.
          required: true
        - schema:
            type: integer
          in: query
          name: year
          description: Filter cashbook by year.
        - schema:
            type: string
            enum:
              - all
              - in
              - out
          in: query
          name: type
          description: Filter cashbook by type.
        - schema:
            type: integer
          in: query
          name: payment_account_id
          description: Filter by payment account.
    post:
      summary: Create Cashbook Entry
      operationId: createCashbookEntry
      responses:
        '200':
          $ref: '#/components/responses/CreateCashbookEntryResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
        - Cashbook
      description: Creates a new cashbook entry.
      security:
        - OAuth2AuthenticationCodeFlow:
            - cashbook:a
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/CreateCashbookEntryRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    date: '2021-08-24'
                    amount_in: 122
                    payment_account_in:
                      id: 333
                    description: Fattura n. 201/2021
                    entity_name: Rossi S.r.l.
                    kind: issued_document
                    document:
                      id: 54321
                    type: in
        description: |
          Cashbook entry.
  /c/{company_id}/cashbook/{document_id}:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - $ref: '#/components/parameters/document_id'
    get:
      summary: Get Cashbook Entry
      tags:
        - Cashbook
      responses:
        '200':
          $ref: '#/components/responses/GetCashbookEntryResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: getCashbookEntry
      description: Gets the specified cashbook entry.
      security:
        - OAuth2AuthenticationCodeFlow:
            - cashbook:r
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
    put:
      summary: Modify Cashbook Entry
      operationId: modifyCashbookEntry
      responses:
        '200':
          $ref: '#/components/responses/ModifyCashbookEntryResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
        - Cashbook
      description: Modifies the specified cashbook entry.
      security:
        - OAuth2AuthenticationCodeFlow:
            - cashbook:a
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/ModifyCashbookEntryRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    date: '2021-08-24'
                    amount_in: 122
                    payment_account_in:
                      id: 333
                    description: Fattura n. 201/2021
                    entity_name: Rossi S.r.l.
        description: Cashbook Entry
    delete:
      summary: Delete Cashbook Entry
      operationId: deleteCashbookEntry
      responses:
        '200':
          description: Document removed.
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: Deletes the specified cashbook entry.
      security:
        - OAuth2AuthenticationCodeFlow:
            - cashbook:a
      tags:
        - Cashbook
  /info/countries:
    get:
      summary: List Countries
      tags:
        - Info
      responses:
        '200':
          $ref: '#/components/responses/ListCountriesResponse'
        '401':
          description: Unauthorized
      operationId: listCountries
      description: Lists the supported countries.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters: []
  /info/cities:
    get:
      summary: List Cities
      tags:
        - Info
      responses:
        '200':
          $ref: '#/components/responses/ListCitiesResponse'
      operationId: listCities
      description: Lists the Italian cities.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters:
        - schema:
            type: string
          in: query
          name: postal_code
          description: Postal code for filtering.
        - schema:
            type: string
          in: query
          name: city
          description: City for filtering (ignored if postal_code is passed).
  /info/languages:
    get:
      summary: List Languages
      tags:
        - Info
      responses:
        '200':
          $ref: '#/components/responses/ListLanguagesResponse'
        '401':
          description: Unauthorized
      operationId: listLanguages
      description: Lists the supported languages.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters: []
  /info/templates:
    get:
      summary: List Templates
      tags:
        - Info
      responses:
        '200':
          $ref: '#/components/responses/ListTemplatesResponse'
        '401':
          description: Unauthorized
      operationId: listTemplates
      description: Lists the available templates.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters:
        - schema:
            type: string
            enum:
              - all
              - standard
              - delivery_note
              - accompanying_invoice
            default: all
          in: query
          name: type
          description: Type of the templates.
        - schema:
            type: boolean
            default: 'false'
          in: query
          name: by_type
          description: >-
            [Only if type=all] If true, splits the list in objects, grouping
            templates by type.
  /info/currencies:
    get:
      summary: List Currencies
      tags:
        - Info
      responses:
        '200':
          $ref: '#/components/responses/ListCurrenciesResponse'
        '401':
          description: Unauthorized
      operationId: listCurrencies
      description: Lists the supported currencies.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters: []
  /info/measures:
    get:
      summary: List Units of Measure
      tags:
        - Info
      responses:
        '200':
          $ref: '#/components/responses/ListUnitsOfMeasureResponse'
        '401':
          description: Unauthorized
      operationId: listUnitsOfMeasure
      description: Lists the units of measure.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters: []
  /info/dn_causals:
    get:
      summary: List Delivery Notes Default Causals
      tags:
        - Info
      responses:
        '200':
          $ref: '#/components/responses/ListDeliveryNotesDefaultCausalsResponse'
        '401':
          description: Unauthorized
      operationId: listDeliveryNotesDefaultCausals
      description: Lists the delivery note default causals.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters: []
  /c/{company_id}/info/vat_types:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List Vat Types
      tags:
        - Info
      responses:
        '200':
          $ref: '#/components/responses/ListVatTypesResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: listVatTypes
      security:
        - OAuth2AuthenticationCodeFlow:
            - settings:r
      parameters:
        - $ref: '#/components/parameters/fieldset'
      description: Lists the available vat types.
  /c/{company_id}/info/payment_methods:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List Payment Methods
      tags:
        - Info
      responses:
        '200':
          $ref: '#/components/responses/ListPaymentMethodsResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: listPaymentMethods
      description: Lists the available payment methods.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
        - $ref: '#/components/parameters/sort'
  /c/{company_id}/info/payment_accounts:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List Payment Accounts
      tags:
        - Info
      responses:
        '200':
          $ref: '#/components/responses/ListPaymentAccountsResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: listPaymentAccounts
      description: Lists the available payment accounts.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
        - $ref: '#/components/parameters/sort'
  /c/{company_id}/info/revenue_centers:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List Revenue Centers
      tags:
        - Info
      responses:
        '200':
          $ref: '#/components/responses/ListRevenueCentersResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: listRevenueCenters
      description: Lists the revenue centers.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters: []
  /c/{company_id}/info/cost_centers:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List Cost Centers
      tags:
        - Info
      responses:
        '200':
          $ref: '#/components/responses/ListCostCentersResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: listCostCenters
      description: Lists the cost centers.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters: []
  /c/{company_id}/info/product_categories:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List Product Categories
      tags:
        - Info
      responses:
        '200':
          $ref: '#/components/responses/ListProductCategoriesResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: listProductCategories
      description: Lists the product categories.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters:
        - schema:
            type: string
            enum:
              - products
              - issued_documents
              - received_documents
          in: query
          name: context
          required: true
  /c/{company_id}/info/received_document_categories:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List Received Document Categories
      tags:
        - Info
      responses:
        '200':
          $ref: '#/components/responses/ListReceivedDocumentCategoriesResponse'
      operationId: listReceivedDocumentCategories
      description: Lists the received document categories.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters: []
  /c/{company_id}/info/archive_categories:
    parameters:
      - $ref: '#/components/parameters/company_id'
    get:
      summary: List Archive Categories
      tags:
        - Info
      responses:
        '200':
          $ref: '#/components/responses/ListArchiveCategoriesResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: listArchiveCategories
      description: Lists the archive categories.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters: []
  /c/{company_id}/settings/payment_methods:
    parameters:
      - $ref: '#/components/parameters/company_id'
    post:
      summary: Create Payment Method
      tags:
        - Settings
      operationId: createPaymentMethod
      description: Creates a new payment method.
      security:
        - OAuth2AuthenticationCodeFlow:
            - settings:a
      responses:
        '200':
          $ref: '#/components/responses/CreatePaymentMethodResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/CreatePaymentMethodRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    id: 386683
                    name: Bonifico bancario
                    is_default: true
                    type: standard
                    details:
                      - title: Banca
                        description: Sao Paulo
                    default_payment_account:
                      id: 12345
                      name: conto banca SP
  /c/{company_id}/settings/payment_methods/{payment_method_id}:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - schema:
          type: integer
        name: payment_method_id
        in: path
        required: true
        description: The Referred Payment Method Id.
    get:
      summary: Get Payment Method
      tags:
        - Settings
      responses:
        '200':
          $ref: '#/components/responses/GetPaymentMethodResponse'
      operationId: getPaymentMethod
      description: Gets the specified payment method.
      security:
        - OAuth2AuthenticationCodeFlow: []
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
    put:
      summary: Modify Payment Method
      tags:
        - Settings
      responses:
        '200':
          $ref: '#/components/responses/ModifyPaymentMethodResponse'
      operationId: modifyPaymentMethod
      security:
        - OAuth2AuthenticationCodeFlow:
            - settings:a
      description: Modifies the specified payment method.
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/ModifyPaymentMethodRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    id: 386683
                    name: Bonifico bancario
                    is_default: true
                    type: standard
                    details:
                      - title: Banca
                        description: Sao Paulo
                    default_payment_account:
                      id: 12345
                      name: conto banca SP
        description: ''
    delete:
      summary: Delete Payment Method
      tags:
        - Settings
      responses:
        '200':
          description: OK
      operationId: deletePaymentMethod
      description: Deletes the specified payment method.
      security:
        - OAuth2AuthenticationCodeFlow:
            - settings:a
  /c/{company_id}/settings/payment_accounts:
    parameters:
      - $ref: '#/components/parameters/company_id'
    post:
      summary: Create Payment Account
      tags:
        - Settings
      responses:
        '200':
          $ref: '#/components/responses/CreatePaymentAccountResponse'
      operationId: createPaymentAccount
      security:
        - OAuth2AuthenticationCodeFlow:
            - settings:a
      description: Creates a new payment account.
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/CreatePaymentAccountRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    id: 12345
                    name: Indesa
                    type: bank
                    iban: IT17Q0051343200000003497636
                    sia: T1234
                    virtual: false
  /c/{company_id}/settings/payment_accounts/{payment_account_id}:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - schema:
          type: integer
        name: payment_account_id
        in: path
        required: true
        description: The Referred Payment Account Id.
    get:
      summary: Get Payment Account
      tags:
        - Settings
      responses:
        '200':
          $ref: '#/components/responses/GetPaymentAccountResponse'
      operationId: getPaymentAccount
      description: Gets the specified payment account.
      parameters:
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/fieldset'
      security:
        - OAuth2AuthenticationCodeFlow: []
    put:
      summary: Modify Payment Account
      tags:
        - Settings
      responses:
        '200':
          $ref: '#/components/responses/ModifyPaymentAccountResponse'
      operationId: modifyPaymentAccount
      description: Modifies the specified payment account.
      security:
        - OAuth2AuthenticationCodeFlow:
            - settings:a
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/ModifyPaymentAccountRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    id: 0
                    name: Conto Banca Intesa
                    type: standard
                    iban: string
                    sia: string
                    cuc: string
                    virtual: true
    delete:
      summary: Delete Payment Account
      tags:
        - Settings
      responses:
        '200':
          description: OK
      operationId: deletePaymentAccount
      description: Deletes the specified payment account.
      security:
        - OAuth2AuthenticationCodeFlow:
            - settings:a
  /c/{company_id}/settings/vat_types:
    parameters:
      - $ref: '#/components/parameters/company_id'
    post:
      summary: Create Vat Type
      tags:
        - Settings
      responses:
        '200':
          $ref: '#/components/responses/CreateVatTypeResponse'
      operationId: createVatType
      description: Creates a vat type.
      security:
        - OAuth2AuthenticationCodeFlow:
            - settings:a
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/CreateVatTypeRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    id: 0
                    value: 22
                    description: Non imponibile art. 123
                    notes: IVA non imponibile ai sensi dell'articolo 123, comma 2
                    e_invoice: true
                    ei_type: 2
                    ei_description: string
                    editable: true
                    is_disabled: true
        description: ''
  /c/{company_id}/settings/vat_types/{vat_type_id}:
    parameters:
      - $ref: '#/components/parameters/company_id'
      - schema:
          type: integer
        name: vat_type_id
        in: path
        required: true
        description: The Referred Vat Type Id.
    get:
      summary: Get Vat Type
      tags:
        - Settings
      responses:
        '200':
          $ref: '#/components/responses/GetVatTypeResponse'
      operationId: getVatType
      description: Gets the specified vat type.
      security:
        - OAuth2AuthenticationCodeFlow: []
    put:
      summary: Modify Vat Type
      tags:
        - Settings
      responses:
        '200':
          $ref: '#/components/responses/ModifyVatTypeResponse'
      operationId: modifyVatType
      description: Modifies the specified vat type.
      security:
        - OAuth2AuthenticationCodeFlow:
            - settings:a
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/requests/ModifyVatTypeRequest.yaml
            examples:
              example-1:
                value:
                  data:
                    id: 0
                    value: 22
                    description: Non imponibile art. 123
                    notes: IVA non imponibile ai sensi dell'articolo 123, comma 2
                    e_invoice: true
                    ei_type: 2
                    ei_description: string
                    editable: true
                    is_disabled: true
    delete:
      summary: Delete Vat Type
      tags:
        - Settings
      responses:
        '200':
          description: OK
      operationId: deleteVatType
      description: Deletes the specified vat type.
      security:
        - OAuth2AuthenticationCodeFlow:
            - settings:a
components:
  schemas: {}
  securitySchemes:
    OAuth2AuthenticationCodeFlow:
      type: oauth2
      flows:
        authorizationCode:
          tokenUrl: https://api-v2.fattureincloud.it/oauth/token
          refreshUrl: https://api-v2.fattureincloud.it/oauth/token
          scopes:
            entity.clients:r: ''
            entity.clients:a: ''
            entity.suppliers:r: ''
            entity.suppliers:a: ''
            products:r: ''
            products:a: ''
            issued_documents.invoice:r: ''
            issued_documents.credit_note:r: ''
            issued_documents.receipt:r: ''
            issued_documents.order:r: ''
            issued_documents.quote:r: ''
            issued_documents.proforma:r: ''
            issued_documents.delivery_note:r: ''
            issued_documents.invoice:a: ''
            issued_documents.credit_note:a: ''
            issued_documents.receipt:a: ''
            issued_documents.order:a: ''
            issued_documents.quote:a: ''
            issued_documents.proforma:a: ''
            issued_documents.delivery_note:a: ''
            received_documents:r: ''
            received_documents:a: ''
            stock:r: ''
            stock:a: ''
            receipts:r: ''
            receipts:a: ''
            taxes:r: ''
            taxes:a: ''
            archive:r: ''
            archive:a: ''
            cashbook:r: ''
            cashbook:a: ''
            settings:r: ''
            settings:a: ''
            situation:r: ''
          authorizationUrl: https://api-v2.fattureincloud.it/oauth/authorize
  parameters:
    company_id:
      name: company_id
      in: path
      required: true
      schema:
        type: integer
        example: '12345'
      description: The ID of the company.
    fieldset:
      name: fieldset
      in: query
      required: false
      schema:
        type: string
        enum:
          - basic
          - detailed
      description: Name of the fieldset.
    sort:
      name: sort
      in: query
      required: false
      schema:
        type: string
      description: >-
        List of comma-separated fields for result sorting (minus for desc
        sorting).
    fields:
      name: fields
      in: query
      required: false
      schema:
        type: string
      description: List of comma-separated fields.
    page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        default: 1
      description: The page to retrieve.
    client_id:
      name: client_id
      in: path
      required: true
      schema:
        type: integer
      description: The ID of the client.
    supplier_id:
      name: supplier_id
      in: path
      required: true
      schema:
        type: integer
      description: The ID of the supplier.
    product_id:
      name: product_id
      in: path
      required: true
      schema:
        type: integer
      description: The ID of the product.
    issued_document_type:
      name: type
      in: query
      required: true
      schema:
        type: string
        enum:
          - invoice
          - credit_note
          - receipt
          - order
          - quote
          - proforma
          - delivery_note
      description: The type of the issued document.
    per_page:
      name: per_page
      in: query
      required: false
      schema:
        type: integer
        default: 5
      description: The size of the page.
    document_id:
      name: document_id
      in: path
      required: true
      schema:
        type: integer
      description: The ID of the document.
    received_document_type:
      name: type
      in: query
      required: true
      schema:
        type: string
        enum:
          - expense
          - passive_credit_note
          - passive_delivery_note
      description: The type of the received document.
    include_attachment:
      name: include_attachment
      in: query
      required: false
      schema:
        type: boolean
      description: Include the attachment to the XML e-invoice.
  responses:
    GetUserInfoResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: ./models/responses/GetUserInfoResponse.yaml
          examples:
            example-1:
              value:
                data:
                  id: 12345
                  name: Mario Rossi
                  first_name: Mario
                  last_name: Rossi
                  email: mario.rossi@example.com
                  hash: 5add29e1234532a1bf2ed7b612043029
                  picture: picture.jpg
                info:
                  need_marketing_consents_confirmation: false
                  need_password_change: false
                  need_terms_of_service_confirmation: false
                email_confirmation_state:
                  need_confirmation: false
    ListUserCompaniesResponse:
      description: User Companies.
      content:
        application/json:
          schema:
            $ref: ./models/responses/ListUserCompaniesResponse.yaml
          examples:
            example-1:
              value:
                data:
                  companies:
                    - id: 12345
                      name: Studio Commercialista
                      tax_code: ABCSFN94T17A794K
                      type: accountant
                      access_token: >-
                        4ff5f0fe5abcd1d7157fa13ca72ab62b6183db0667a576a0e19164801c18c4f7362a848fa32dbb8c3a3f94c34f3df95
                      connection_id: 94566
                      controlled_companies:
                        - id: 12246
                          name: Studio Commercialista
                          tax_code: ABCSFN94T17A794K
                          type: company
                          access_token: >-
                            4ff5f0fe5abcdf1d7157fa13ca72ab62b6183db0667a576a0e19164801c18c4f7362a848fa32dbb8c3a3f94c34f3df95
                          connection_id: 94566
                          controlled_companies: []
                          fic: true
                          dic: true
                          fic_plan: premium_plus
                          fic_license_expire: '2021-12-31'
                          permissions:
                            fic_situation: write
                            fic_clients: write
                            fic_suppliers: write
                            fic_products: write
                            fic_issued_documents: write
                            fic_received_documents: write
                            fic_receipts: write
                            fic_calendar: write
                            fic_archive: write
                            fic_taxes: write
                            fic_stock: write
                            fic_cashbook: write
                            fic_settings: write
                            fic_emails: write
                            dic_employees: write
                            dic_timesheet: write
                            dic_settings: write
                        - id: 12347
                          name: Mario Rossi SRL
                          tax_code: '57398280214'
                          type: company
                          access_token: >-
                            86690c98be13592e78b763c52fab2ba0c22faa118708ca5273da2b4dcdc7ad1234517107266d463fd9ae424a78c16cde
                          connection_id: 94566
                          controlled_companies: []
                          fic: true
                          dic: false
                          fic_plan: trial
                          fic_license_expire: '2021-12-31'
                          permissions:
                            fic_situation: write
                            fic_clients: write
                            fic_suppliers: write
                            fic_products: write
                            fic_issued_documents: write
                            fic_received_documents: write
                            fic_receipts: write
                            fic_calendar: write
                            fic_archive: write
                            fic_taxes: write
                            fic_stock: write
                            fic_cashbook: write
                            fic_settings: write
                            fic_emails: write
                            dic_employees: none
                            dic_timesheet: none
                            dic_settings: none
    GetCompanyInfoResponse:
      description: Company info.
      content:
        application/json:
          schema:
            $ref: ./models/responses/GetCompanyInfoResponse.yaml
          examples:
[...]
