openapi: 3.0.1
info:
  title: Fatture in Cloud API v2 - API Reference
  description: "## Request informations\nIn every request description you will be able to find some additional informations about context, permissions and supported functionality:\n\n| Parameter | Description |\n|-----------|-------------|\n| \U0001F465 Context | Indicate the subject of the request. Can be `company`, `user` or `accountant`.  |\n| \U0001F512 Required scope | If present, indicates the required scope to fulfill the request. |\n| \U0001F50D Filtering | If present, indicates which fields support the filtering feature. |\n| ↕️ Sorting | If present, indicates which fields support the sorting feature. |\n| \U0001F4C4 Paginated results | If present, indicate that the results are paginated. |\n| \U0001F3A9 Customized responses supported | If present, indicate that you can use `field` or `fieldset` to customize the response body. |\n\nFor example the request `GET /entities/{entityRole}` have tis informations: \\\n\U0001F465 Company context \\\n\U0001F512 Required scope: `entity.clients:r` or `entity.suppliers:r` (depending on `entityRole`) \\\n\U0001F50D Filtering: `id`, `name` \\\n↕️ Sorting: `id`, `name` \\\n\U0001F4C4 Paginated results \\\n\U0001F3A9 Customized responses supported\n\nKeep in mind that if you are making **company realted requests**, you will need to specify the company id in the requests:\n```\nGET /c/{companyId}/issued_documents\n```"
  contact:
    name: Fatture in Cloud
    url: 'https://www.fattureincloud.it'
    email: info@fattureincloud.it
  license:
    name: ''
  version: v1.0
servers:
  - url: 'https://api-v2.fattureincloud.it/'
tags:
  - name: Auth
    description: Autenticazione
  - name: User
    description: Utente
  - name: Company
    description: Azienda
  - name: Clients and suppliers
    description: Clienti e fornitori
  - name: Products
    description: Prodotti
  - name: Issued documents
  - name: Issued e-invoices
  - name: Received documents
  - name: Received e-invoices
  - name: E-invoices
  - name: Receipts
  - name: Taxes
  - name: Archive
  - name: Info
  - name: Settings
  - name: Cashbook
  - name: Search
  - name: Dashboard
  - name: Calendar
  - name: Notifications
  - name: No authentication
  - name: Entities
  - name: TEST
paths:
  /user/info:
    get:
      tags:
        - User
      summary: Get user info
      description: "\U0001F464 Person context\n\nGet user email, name and id."
      operationId: userInfo
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      responses:
        '200':
          description: User info.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: User unique identifier.
                        example: 12345
                      name:
                        type: string
                        description: User name.
                        example: Mario Rossi
                      first_name:
                        type: string
                        example: Mario
                      last_name:
                        type: string
                        example: Rossi
                      email:
                        type: string
                        example: mario@rossi-example.it
              example: |-
                {
                  "data": {
                    "id": 123,
                    "name": "Mario Rossi",
                    "first_name": "Mario",
                    "last_name": "Rossi",
                    "email": "mario.rossi@example.it"
                  }
                }
        '401':
          description: Unauthorized.
          content: {}
      security:
        - OAuth2Authentication:
            - no scope required
  /user/companies:
    get:
      tags:
        - User
      summary: Get controlled companies
      description: "\U0001F464 Person context\n\nGet a list of the controlled companies and their CompanyAuthentication tokens."
      operationId: userCompanies
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      responses:
        '200':
          description: Companies list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      companies:
                        type: array
                        items:
                          $ref: '#/components/schemas/CompanyData'
              example: "{\n  \"data\": {\n    \"companies\": [\n      {\n        \"id\": 2,\n        \"name\": \"Studio Rossi\",\n        \"type\": \"accountant\",\n        \"controlled_companies\": [\n\t      {\n            \"id\": 2,\n            \"name\": \"Studio Rossi\",\n            \"type\": \"company\",\n            \"access_token\": \"cd015011d2dbf8a9d38e810b325b11b56d02e51688e5261a245933b8e677b8b44ff5f0fe5ccaaf1d7157fa13ca72ab62b6183db0667a576a0e19164801c18c4fd81273fc1f95bf460b869015cf99acbe\",\n            \"permissions\": {\n              \"fic_situation\": \"write\",\n              \"fic_clients\": \"write\",\n              \"fic_suppliers\": \"write\",\n              \"fic_products\": \"write\",\n              \"fic_issued_docs\": \"write\",\n              \"fic_received_docs\": \"write\",\n              \"fic_receipts\": \"write\",\n              \"fic_calendar\": \"write\",\n              \"fic_archive\": \"write\",\n              \"fic_taxes\": \"write\",\n              \"fic_stock\": \"write\",\n              \"fic_cashbook\": \"write\",\n              \"fic_settings\": \"write\"\n\t\t\t}\n          },\n          {\n            \"id\": 5,\n            \"name\": \"Giuseppe Verdi S.r.l.\",\n            \"type\": \"company\",\n            \"access_token\": \"fd015011d2dbf8a9d38e810b325b11b56d02e51688e5261a245933b8e677b8b44ff5f0fe5ccaaf1d7157fa13ca72ab62b6183db0667a576a0e19164801c18c4fd81273fc1f95bf460b869015cf99acbe\",\n            \"permissions\": {\n              \"fic_situation\": \"write\",\n              \"fic_clients\": \"write\",\n              \"fic_suppliers\": \"write\",\n              \"fic_products\": \"write\",\n              \"fic_issued_docs\": \"read\",\n              \"fic_received_docs\": \"read\",\n              \"fic_receipts\": \"write\",\n              \"fic_calendar\": \"write\",\n              \"fic_archive\": \"write\",\n              \"fic_taxes\": \"write\",\n              \"fic_stock\": \"write\",\n              \"fic_cashbook\": \"write\",\n              \"fic_settings\": \"none\"\n\t\t\t}\n          }\n        ]\n      },\n      {\n        \"id\": 8,\n        \"name\": \"Azienda 2 S.n.c.\",\n        \"type\": \"company\",\n        \"access_token\": \"ad015011d2dbf8a9d38e810b325b11b56d02e51688e5261a245933b8e677b8b44ff5f0fe5ccaaf1d7157fa13ca72ab62b6183db0667a576a0e19164801c18c4fd81273fc1f95bf460b869015cf99acbe\",\n        \"permissions\": {\n          \"fic_situation\": \"write\",\n          \"fic_clients\": \"write\",\n          \"fic_suppliers\": \"write\",\n          \"fic_products\": \"write\",\n          \"fic_issued_docs\": \"write\",\n          \"fic_received_docs\": \"write\",\n          \"fic_receipts\": \"write\",\n          \"fic_calendar\": \"write\",\n          \"fic_archive\": \"write\",\n          \"fic_taxes\": \"write\",\n          \"fic_stock\": \"write\",\n          \"fic_cashbook\": \"write\",\n          \"fic_settings\": \"write\"\n\t\t}\n      }\n    ]\n  }\n}"
        '401':
          description: Unauthorized.
          content: {}
      security:
        - OAuth2Authentication:
            - no scope required
  '/c/{companyId}/company/info':
    get:
      tags:
        - Company
      summary: Get company info
      description: 'Get company info like email, license expire date and access info for each document and section'
      operationId: companyInfo
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      responses:
        '200':
          description: Company info.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: Company unique identifier.
                        example: 12345
                      name:
                        type: string
                        description: Company name.
                        example: Mario Rossi S.r.l.
                      email:
                        type: string
                        description: Company email.
                        example: mario@rossi-example.it
                      type:
                        type: string
                        description: Company type.
                        enum:
                          - company
                          - accountant
                      fic:
                        type: boolean
                        description: Determine if the company has a FIC account.
                      fic_plan:
                        type: string
                        description: Company FIC account plan.
                        enum:
                          - trial
                          - standard
                          - premium
                          - premium_plus
                      fic_license_expire:
                        type: string
                        description: Company FIC license expire date.
                        format: date
                      use_fic:
                        type: boolean
                        description: 'Determine if the FIC account is actually used. If type="company" this is always true; if type="accountant" it can be true or false. If false, it means that the accountant uses FIC only to control other companies and not to control itself.'
                      fic_need_setup:
                        type: boolean
                        description: Indicate that the initial setup for FIC is required.
                      dic:
                        type: boolean
                        description: Determine if the company has a DIC account.
                      dic_plan:
                        type: string
                        description: Company DIC account plan.
                        enum:
                          - trial
                      dic_license_expire:
                        type: string
                        description: Company FIC license expire date.
                        format: date
                      use_dic:
                        type: boolean
                        description: 'Determine if the DIC account is actually used. If type=“company” this is always true; if type=“accountant” it can be true or false. If false, it means that the accountant uses DIC only to control other companies and not to control itself.'
                      dic_need_setup:
                        type: boolean
                        description: Indicate that the initial setup for DIC is required.
                      access_info:
                        type: object
                        properties:
                          role:
                            type: string
                            description: Role of the user in this company.
                            enum:
                              - master
                              - subaccount
                              - employee
                          permissions:
                            type: object
                            properties:
                              fic_situation:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_clients:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_suppliers:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_products:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_issued_documents:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_received_documents:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_receipts:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_calendar:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_archive:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_taxes:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_stock:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_cashbook:
                                $ref: '#/components/schemas/PermissionLevel'
                              fic_settings:
                                $ref: '#/components/schemas/PermissionLevel'
                            description: Permissions on the company.
                      plan_info:
                        type: object
                        properties:
                          limits:
                            type: object
                            properties:
                              clients:
                                type: integer
                              suppliers:
                                type: integer
                              products:
                                type: integer
                              documents:
                                type: integer
                            description: Limits for this company.
                          functions:
                            type: object
                            properties:
                              example_function:
                                type: boolean
                            description: Access to functions for this company.
              example: |-
                {
                  "data": {
                    "id": 12345,
                    "name": "Mario Rossi S.r.l.",
                    "email": "mario.rossi@example.it",
                    "type": "accountant",
                    "fic": true,
                    "fic_plan": "premium",
                    "fic_license_expire": "2019-04-19",
                    "use_fic": true,
                    "fic_need_setup": false,
                    "dic": true,
                    "dic_plan": "trial",
                    "dic_license_expire": "2018-06-15",
                    "use_dic": false,
                    "dic_need_setup": true,
                    "access_info": {
                      "role": "master",
                      "permissions": {
                        "fic_situation": "write",
                        "fic_clients": "write",
                        "fic_suppliers": "write",
                        "fic_products": "write",
                        "fic_issued_documents": "write",
                        "fic_received_documents": "write",
                        "fic_receipts": "write",
                        "fic_calendar": "write",
                        "fic_archive": "write",
                        "fic_taxes": "write",
                        "fic_stock": "write",
                        "fic_cashbook": "write",
                        "fic_settings": "write",
                        "dic_employees": "write",
                        "dic_timesheet": "write",
                        "dic_settings": "write"
                      }
                    }
                  }
                }
        '401':
          description: Unauthorized.
          content: {}
      security:
        - OAuth2Authentication:
            - no scope required
      x-private: true
  '/c/{companyId}/entities/{entityRole}':
    get:
      tags:
        - Clients and suppliers
      summary: List and search entities
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `entity.clients:r` or `entity.suppliers:r` (depending on `entityRole`) \\\n\U0001F50D Filtering: `id`, `code`, `name`, `type`, `vat_number`, `tax_code`, `address_street`, `address_postal_code`, `address_city`, `address_province`, `country`, `email`, `certified_email`, `phone`, `fax`, `notes`, `imported`, `atoka_show`, `e_invoice`, `ei_code`, `created_at`, `updated_at` \\\n↕️ Sorting: `code`, `name`, `type`, `vat_number`, `tax_code`, `address_street`, `address_postal_code`, `address_city`, `address_province`, `country`, `email`, `certified_email`, `phone`, `fax`, `notes`, `e_invoice`, `ei_code`, `created_at`, `updated_at` \\\n\U0001F4C4 Paginated results \\\n\U0001F3A9 Customized responses supported\n\nGet a list of entities that match the filters."
      operationId: entitiesList
      parameters:
        - name: entityRole
          in: path
          required: true
          schema:
            type: string
            enum:
              - clients
              - suppliers
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: 'filter[0][field]'
          in: query
          description: |-
            ```
            filter[1]
            filter[2]
            ...
            filter[n]
            ```
          schema:
            type: string
        - name: 'filter[0][op]'
          in: query
          schema:
            type: string
            enum:
              - '='
              - '>'
              - <
              - '>='
              - <=
              - contains
              - like
        - name: 'filter[0][value]'
          in: query
          schema:
            type: string
        - name: fieldset
          in: query
          description: Name of the fieldset
          schema:
            type: string
          example: basic
        - name: sort
          in: query
          description: List of comma-separated fields for result sorting (minus for desc sorting)
          schema:
            type: string
          example: 'name,-country'
        - name: page
          in: query
          description: Requested page
          schema:
            type: string
            default: '1'
        - name: by_id
          in: query
          description: 'If 1, return an object instead of an array'
          schema:
            type: integer
            default: 0
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      responses:
        '200':
          description: Results list.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    type: array
                    description: List of entities.
                    items:
                      $ref: '#/components/schemas/LegalEntity'
              example: |-
                {
                  "data": [
                    {
                      "id": 2906095,
                      "code": "123",
                      "name": "Pippo Topolino",
                      "vat_number": "IT01234567890",
                      "tax_code": "",
                      "email": ""
                    },
                    {
                      "id": 2906111,
                      "code": "124",
                      "name": "Pippo Pluto",
                      "vat_number": "",
                      "tax_code": "RSSMRA12A23A324Q",
                      "email": "pippo.pluto@example.it"
                    }
                  ],
                  "current_page": 1,
                  "per_page": 5,
                  "from": 1,
                  "last_page": 2,
                  "to": 5,
                  "total": 6
                }
      security:
        - OAuth2Authentication:
            - 'entity.clients:r'
            - 'entity.suppliers:r'
    post:
      tags:
        - Clients and suppliers
      summary: Create entity
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `entity.clients:a` or `entity.suppliers:a` (depending on `entityRole` parameter)\n\nCreate a new entity (client or supplier)."
      operationId: entitiesCreate
      parameters:
        - name: entityRole
          in: path
          required: true
          schema:
            type: string
            enum:
              - clients
              - suppliers
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/LegalEntity'
        required: true
      responses:
        '200':
          description: Entity created.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LegalEntity'
              example: |-
                {
                  "data": {
                    "id": 2906214,
                    "name": "Mario Bianchi",
                    "country": "Italia"
                  }
                }
      security:
        - OAuth2Authentication:
            - 'entity.clients:a'
            - 'entity.suppliers:a'
      x-codegen-request-body-name: body
  '/c/{companyId}/entities/{entityRole}/{entityId}':
    get:
      tags:
        - Clients and suppliers
      summary: Get entity details
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `entity.clients:r` or `entity.suppliers:r` (depending on `entityRole` parameter) \\\n\U0001F3A9 Customized responses supported\n\nGet details of an existing entity by its unique id."
      operationId: entitiesDetails
      parameters:
        - name: entityRole
          in: path
          required: true
          schema:
            type: string
            enum:
              - clients
              - suppliers
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: entityId
          in: path
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of comma-separated fields
          schema:
            type: string
          example: 'id,name,code'
        - name: fieldset
          in: query
          description: Name of the fieldset
          schema:
            type: string
          example: detailed
      responses:
        '200':
          description: Entity details.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LegalEntity'
              example: |-
                {
                  "data": {
                    "id": 2906095,
                      "code": "1234",
                      "name": "Mario Bianchi S.r.l.",
                      "type": "company",
                      "first_name": "Mario",
                      "last_name": "Bianchi",
                      "contact_person": "Gianluca Bianchi",
                      "vat_number": "12345678901",
                      "tax_code": "",
                      "address_street": "Via dei Tigli, 123",
                      "address_postal_code": "24010",
                      "address_city": "Sorisole",
                      "address_province": "BG",
                      "address_extra": "",
                      "country": "Italia",
                      "email": "mario.bianchi@mbsrl.example.it",
                      "certified_email": "mario.bianchi@pec.example.it",
                      "phone": "0234423523",
                      "fax": "",
                      "notes": ""
                  }
                }
        '404':
          description: Status 404
          content: {}
      security:
        - OAuth2Authentication:
            - 'entity.clients:r'
            - 'entity.suppliers:r'
    put:
      tags:
        - Clients and suppliers
      summary: Edit an entity
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `entity.clients:a` or `entity.suppliers:a` (depending on `entityRole` parameter)\n\nEdit an existing entity by its unique id."
      operationId: entitiesEdit
      parameters:
        - name: entityRole
          in: path
          required: true
          schema:
            type: string
            enum:
              - clients
              - suppliers
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: entityId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/LegalEntity'
        required: true
      responses:
        '200':
          description: Entity edited.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LegalEntity'
              example: |-
                {
                  "data": {
                    "id": 2906214,
                    "name": "Mario Bianchi",
                    "country": "Francia"
                  }
                }
        '404':
          description: Status 404
          content: {}
      security:
        - OAuth2Authentication:
            - 'entity.clients:a'
            - 'entity.suppliers:a'
      x-codegen-request-body-name: body
    delete:
      tags:
        - Clients and suppliers
      summary: Remove an entity
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `entity.clients:a` or `entity.suppliers:a` (depending on `entityRole` parameter)\n\nDelete an existing entity by its unique id."
      operationId: entitiesRemove
      parameters:
        - name: entityRole
          in: path
          required: true
          schema:
            type: string
            enum:
              - clients
              - suppliers
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: entityId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Entity removed.
          content: {}
        '404':
          description: Status 404
          content: {}
      security:
        - OAuth2Authentication:
            - 'entity.clients:a'
            - 'entity.suppliers:a'
  '/c/{companyId}/products':
    get:
      tags:
        - Products
      summary: List and search products
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `products:r` \\\n\U0001F50D Filtering: `id`, `name`, `code`, `net_price`, `gross_price`, `net_cost`, `description`, `category`, `notes`, `in_stock`, `created_at`, `updated_at` \\\n↕️ Sorting: `name`, `code`, `net_price`, `gross_price`, `net_cost`, `description`, `category`, `notes`, `in_stock`, `created_at`, `updated_at` \\\n\U0001F4C4 Paginated results \\\n\U0001F3A9 Customized responses supported\n\nGet a list of products that match the filters."
      operationId: productsList
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: 'filter[0][field]'
          in: query
          description: |-
            ```
            filter[1]
            filter[2]
            ...
            filter[n]
            ```
          schema:
            type: string
        - name: 'filter[0][op]'
          in: query
          schema:
            type: string
            enum:
              - '='
              - '>'
              - <
              - '>='
              - <=
              - contains
              - like
        - name: 'filter[0][value]'
          in: query
          schema:
            type: string
        - name: fields
          in: query
          description: List of comma-separated fields
          schema:
            type: string
          example: 'id,name,code'
        - name: fieldset
          in: query
          description: Name of the fieldset
          schema:
            type: string
          example: basic
        - name: sort
          in: query
          description: List of comma-separated fields for result sorting (minus for desc sorting)
          schema:
            type: string
          example: 'name,-code'
        - name: page
          in: query
          description: Requested page
          schema:
            type: string
            default: '1'
        - name: by_id
          in: query
          description: 'If 1, return an object instead of an array'
          schema:
            type: integer
            default: 0
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      responses:
        '200':
          description: Results list.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    type: array
                    description: List of products.
                    items:
                      $ref: '#/components/schemas/Product'
              example: |-
                {
                  "data": [
                    {
                      "id": 1584515,
                      "name": "Prodotto A",
                      "code": "123324",
                      "net_price": 10,
                      "gross_price": 12.2,
                      "default_vat": {
                        "id": 0,
                        "value": 22,
                        "description": ""
                      },
                      "use_gross_price": false,
                      "measure": "pezzi",
                      "description": "Prodotto con prezzo netto e IVA predefinita",
                      "category": "",
                      "in_stock": false
                    },
                    {
                      "id": 1584516,
                      "name": "Prodotto B",
                      "code": "123326",
                      "net_price": 20,
                      "gross_price": 24.4,
                      "use_gross_price": true,
                      "default_vat": {
                        "id": 0,
                        "value": 22,
                        "description": ""
                      },
                      "measure": "",
                      "description": "Prodotto con prezzo lordo e IVA predefinita",
                      "category": "",
                      "in_stock": false
                    },
                    {
                      "id": 1584517,
                      "name": "Prodotto C",
                      "code": "123327",
                      "net_price": 16,
                      "gross_price": null,
                      "use_gross_price": false,
                      "default_vat": null,
                      "measure": "",
                      "description": "Prodotto con prezzo netto senza IVA predefinita",
                      "category": "",
                      "in_stock": false
                    }
                  ],
                  "current_page": 1,
                  "per_page": 5,
                  "from": 1,
                  "last_page": 2,
                  "to": 5,
                  "total": 6
                }
      security:
        - OAuth2Authentication:
            - 'products:r'
      x-internal: false
    post:
      tags:
        - Products
      summary: Create product
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `products:a`\n\nCreate a new product."
      operationId: productsCreate
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/Product'
        required: true
      responses:
        '200':
          description: Product created.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Product'
              example:
                data:
                  id: 1584547
                  name: Biscotti
                  code: '123324'
                  net_price: 10
                  gross_price: 10.4
                  use_gross_price: true
                  default_vat:
                    id: 4
                    value: 4
                    description: ''
                  cost: 20
                  measure: ''
                  description: Biscotti alla crema
                  category: ''
                  notes: ''
                  in_stock: true
                  stock_initial: 123
                  stock_current: 10
      security:
        - OAuth2Authentication:
            - 'products:a'
      x-codegen-request-body-name: body
  '/c/{companyId}/products/{productId}':
    get:
      tags:
        - Products
      summary: Product details
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `products:r` \\\n\U0001F3A9 Customized responses supported\n\nGet product details"
      operationId: productsDetails
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: productId
          in: path
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of comma-separated fields
          schema:
            type: string
          example: 'id,name,code'
        - name: fieldset
          in: query
          description: Name of the fieldset
          schema:
            type: string
          example: detailed
      responses:
        '200':
          description: Product details.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Product'
              example:
                data:
                  id: 1584547
                  name: Biscotti
                  code: '123324'
                  net_price: 10
                  gross_price: 10.4
                  use_gross_price: true
                  default_vat:
                    id: 4
                    value: 4
                    description: ''
                  cost: 20
                  measure: ''
                  description: Biscotti alla crema
                  category: ''
                  notes: ''
                  in_stock: true
                  stock_initial: 123
                  stock_current: 10
        '404':
          description: Status 404
          content: {}
      security:
        - OAuth2Authentication:
            - 'products:r'
    put:
      tags:
        - Products
      summary: Edit a product
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `products:a`\n\nEdit an existing product by its unique id."
      operationId: productsEdit
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: productId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/Product'
        required: true
      responses:
        '200':
          description: Product edited.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EditProduct'
              example:
                data:
                  id: 1584547
                  name: Biscotti
                  code: '123324'
                  net_price: 10
                  gross_price: 10.4
                  use_gross_price: true
                  default_vat:
                    id: 4
                    value: 4
                    description: ''
                  cost: 20
                  measure: ''
                  description: Biscotti alla crema
                  category: ''
                  notes: ''
                  in_stock: true
                  stock_initial: 123
                  stock_current: 10
        '404':
          description: Status 404
          content: {}
      security:
        - OAuth2Authentication:
            - 'products:a'
      x-codegen-request-body-name: body
    delete:
      tags:
        - Products
      summary: Remove a product
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `products:a`\n\nDelete an existing product by its unique id."
      operationId: productsRemove
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: productId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Product removed.
          content: {}
        '404':
          description: Status 404
          content: {}
      security:
        - OAuth2Authentication:
            - 'products:a'
  '/c/{companyId}/issued_documents':
    get:
      tags:
        - Issued documents
      summary: List and search documents
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `issued_documents.[documentType]:r` \\\n\U0001F50D Filtering: `type`, `entity.id`, `entity.name`, `entity.vat_number`, `entity.tax_code`, `entity.city`, `entity.province`, `entity.country`, `date`, `number`, `numeration`, `any_subject`, `amount_net`, `amount_vat`, `amount_gross`, `next_due_date`, `created_at`, `updated_at`  \\\n↕️ Sorting: `entity.id`, `entity.name`, `entity.vat_number`, `entity.tax_code`, `entity.city`, `entity.province`, `entity.country`, `date`, `number`, `numeration`, `amount_net`, `amount_vat`, `amount_gross`, `next_due_date`, `created_at`, `updated_at`  \\\n\U0001F4C4 Paginated results \\\n\U0001F3A9 Customized responses supported\n\nGet a list of documents that match the filters."
      operationId: issuedDocumentsList
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum:
              - invoice
              - credit_note
              - receipt
              - order
              - quote
              - proforma
              - delivery_note
        - name: 'filter[0][field]'
          in: query
          description: |-
            ```
            filter[1]
            filter[2]
            ...
            filter[n]
            ```
          schema:
            type: string
        - name: 'filter[0][op]'
          in: query
          schema:
            type: string
            enum:
              - '='
              - '>'
              - <
              - '>='
              - <=
              - contains
              - like
        - name: 'filter[0][value]'
          in: query
          schema:
            type: string
        - name: filter_type
          in: query
          description: Boolean operator used by the filter.
          schema:
            type: string
            default: and
            enum:
              - and
              - or
        - name: fields
          in: query
          description: List of comma-separated fields
          schema:
            type: string
        - name: fieldset
          in: query
          description: Name of the fieldset
          schema:
            type: string
        - name: sort
          in: query
          description: List of comma-separated fields for result sorting (minus for desc sorting)
          schema:
            type: string
        - name: page
          in: query
          description: Requested page
          schema:
            type: integer
            default: 1
        - name: by_id
          in: query
          description: 'If 1, return an object instead of an array'
          schema:
            type: integer
            default: 0
        - name: per_page
          in: query
          description: Items to be shown per page
          schema:
            type: integer
            default: 5
      responses:
        '200':
          description: Results list.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    type: array
                    description: List of documents.
                    items:
                      $ref: '#/components/schemas/IssuedDocument'
      security:
        - OAuth2Authentication:
            - 'issued_documents.[documentType]:r'
    post:
      tags:
        - Issued documents
      summary: Create new document
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `issued_documents.[documentType]:a`\n\nCreate a new document."
      operationId: issuedDocumentsCreate
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/IssuedDocument'
                options:
                  type: object
                  properties:
                    entity_search_fields:
                      type: string
                      example: 'entity.id,tax_code,vat_number,code'
                    entity_autocomplete:
                      type: boolean
                    entity_create:
                      type: boolean
                    entity_update:
                      type: string
        required: true
      responses:
        '200':
          description: Document created.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IssuedDocument'
      security:
        - OAuth2Authentication:
            - 'issued_documents.[documentType]:a'
      x-codegen-request-body-name: body
  '/c/{companyId}/issued_documents/{documentId}':
    get:
      tags:
        - Issued documents
      summary: Get document details
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `issued_documents.[documentType]:r` \\\n\U0001F3A9 Customized responses supported\n\nGet details of an existing document by its unique id."
      operationId: issuedDocumentDetails
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: documentId
          in: path
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of comma-separated fields
          schema:
            type: string
          example: 'id,name,code'
        - name: fieldset
          in: query
          description: Name of the fieldset
          schema:
            type: string
          example: detailed
      responses:
        '200':
          description: Document details.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IssuedDocument'
        '404':
          description: Status 404
          content: {}
      security:
        - OAuth2Authentication:
            - 'issued_documents.[documentType]:r'
    put:
      tags:
        - Issued documents
      summary: Edit a document
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `issued_documents.[documentType]:a`\n\nEdit an existing document by its unique id."
      operationId: issuedDocumentEdit
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/IssuedDocument'
        required: true
      responses:
        '200':
          description: Document edited.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IssuedDocument'
        '404':
          description: Status 404
          content: {}
      security:
        - OAuth2Authentication:
            - 'issued_documents.[documentType]:a'
      x-codegen-request-body-name: body
    delete:
      tags:
        - Issued documents
      summary: Remove a document
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `issued_documents.[documentType]:a`\n\nDelete an existing document by its unique id."
      operationId: issuedDocumentRemove
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Document removed.
          content: {}
        '404':
          description: Status 404
          content: {}
      security:
        - OAuth2Authentication:
            - 'issued_documents.[documentType]:a'
  '/c/{companyId}/issued_documents/totals':
    post:
      tags:
        - Issued documents
      summary: Get new document totals
      description: "\U0001F465 Company context\n\nGet the totals of a document"
      operationId: issuedDocumentTotals
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/IssuedDocument'
        required: true
      responses:
        '200':
          description: Totals.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IssuedDocumentTotals'
              example:
                data:
                  amount_net: 30
                  amount_rivalsa: 1.5
                  amount_net_with_rivalsa: 31.5
                  amount_cassa: 1.58
                  taxable_amount: 33.08
                  not_taxable_amount: 0
                  vat_list:
                    '10':
                      net: 10
                      vat: 1
                    '20':
                      net: 23.08
                      vat: 4.62
                  amount_vat: 5.62
                  amount_gross: 36.41
                  taxable_amount_withholding_tax: 15.75
                  amount_withholding_tax: 0.79
                  taxable_amount_other_withholding_tax: 30
                  amount_other_withholding_tax: 1.5
                  amount_due: 36.41
                  is_enasarco_maximal_exceeded: false
                  payments_sum: 36.41
      security:
        - OAuth2Authentication:
            - no scope required
      x-codegen-request-body-name: body
  '/c/{companyId}/issued_documents/{documentId}/totals':
    post:
      tags:
        - Issued documents
      summary: Get existing document totals
      description: "\U0001F465 Company context\n\nGet existing document totals"
      operationId: issuedDocumentsTotal
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: documentId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/IssuedDocument'
        required: true
      responses:
        '200':
          description: Totals.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/IssuedDocumentTotals'
      security:
        - OAuth2Authentication:
            - no scope required
      x-codegen-request-body-name: body
  '/c/{companyId}/issued_documents/attachment':
    post:
      tags:
        - Issued documents
      summary: Upload attachment
      description: "\U0001F465 Company context\n\nUpload an attachment to an issued document"
      operationId: issuedDocumentsAttachment
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - attachment
                - filename
              properties:
                filename:
                  type: string
                  description: Name of the file.
                  example: attachment.pdf
                attachment:
                  type: string
                  description: 'Valid format: .png, .jpg, .gif, .pdf, .zip, .xls, .xlsx, .doc, .docx'
                  format: binary
        required: true
      responses:
        '200':
          description: Status 200
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    required:
                      - attachment_token
                    type: object
                    properties:
                      attachment_token:
                        type: string
                        example: YmMyNWYxYzIwMTU3N2Y4ZGE3ZjZiMzg5OWY0ODNkZDQveXl5LmRvYw
      security:
        - OAuth2Authentication:
            - no scope required
  '/c/{companyId}/issued_documents/{documentId}/attachment':
    delete:
      tags:
        - Issued documents
      summary: Remove the attachment
      description: "\U0001F465 Company context\n\nRemove the attachment (but not the document)"
      operationId: issuedDocumentsAttachmentRemove
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: documentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: File removed.
          content: {}
      security:
        - OAuth2Authentication:
            - no scope required
  '/c/{companyId}/issued_documents/info':
    get:
      tags:
        - Issued documents
      summary: Pre-create info
      description: "\U0001F465 Company context\n\nGet the info needed for the document creation flow."
      operationId: issuedDocumentInfo
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: type
          in: query
          description: Issued document type.
          required: true
          schema:
            type: string
            default: invoice
            enum:
              - invoice
              - quote
              - proforma
              - receipt
              - delivery_note
              - credit_note
              - order
              - work_report
              - supplier_order
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      responses:
        '200':
          description: Pre-create info.
          content:
            application/json:
              schema:
                required:
                  - ai_templates_list
                  - countries_list
                  - currencies_list
                  - default_values
                  - dn_templates_list
                  - items_default_values
                  - payment_accounts_list
                  - payment_methods_list
                  - templates_list
                  - vat_types_list
                type: object
                properties:
                  numerations:
                    type: object
                    properties: {}
                    description: Next numbers by year and numeration name (for the given document type).
                  dn_numerations:
                    type: object
                    properties: {}
                    description: Next numbers by year and numeration name (for delivery_notes).
                  default_values:
                    type: object
                    properties:
                      default_template:
                        $ref: '#/components/schemas/DocumentTemplate'
                      dn_template:
                        $ref: '#/components/schemas/DocumentTemplate'
                      ai_template:
                        $ref: '#/components/schemas/DocumentTemplate'
                      default_notes:
                        type: string
                        description: Default notes.
                      default_rivalsa:
                        type: number
                        description: Default rivalsa percentage.
                      cassa:
                        type: number
                        description: Default cassa percentage.
                      withholding_tax:
                        type: number
                        description: Default withholding tax percentage.
                      withholding_tax_taxable:
                        type: number
                        description: Default withholding tax taxable percentage.
                      other_withholding_tax:
                        type: number
                        description: Default other withholding tax percentage.
                      use_gross_prices:
                        type: boolean
                        description: Use gross price by default.
                      payment_method:
                        $ref: '#/components/schemas/PaymentMethod'
                    description: Default values for the document.
                  items_default_values:
                    type: object
                    properties:
                      vat:
                        $ref: '#/components/schemas/VatType'
                    description: Default values for the document items.
                  countries_list:
                    type: array
                    description: Countries list.
                    items:
                      type: string
                  currencies_list:
                    type: array
                    description: Currencies list.
                    items:
                      $ref: '#/components/schemas/Currency'
                  templates_list:
                    type: array
                    description: Document templates list.
                    items:
                      $ref: '#/components/schemas/DocumentTemplate'
                  dn_templates_list:
                    type: array
                    description: Delivery note templates list.
                    items:
                      $ref: '#/components/schemas/DocumentTemplate'
                  ai_templates_list:
                    type: array
                    description: Accompanying invoice templates list.
                    items:
                      $ref: '#/components/schemas/DocumentTemplate'
                  payment_methods_list:
                    type: array
                    description: Payment methods list.
                    items:
                      $ref: '#/components/schemas/PaymentMethod'
                  payment_accounts_list:
                    type: array
                    description: Payment accounts list.
                    items:
                      $ref: '#/components/schemas/PaymentAccount'
                  vat_types_list:
                    type: array
                    description: Vat types list.
                    items:
                      $ref: '#/components/schemas/VatType'
              example:
                data:
                  numerations:
                    '2017': {}
                    '2018':
                      /PA: 2
                      a: 2
                  delivery_note_numerations:
                    '2018': {}
                  default_template_id: 12
                  default_delivery_note_template_id: 660
                  default_acc_inv_template_id: 663
                  default_vat_id: 3
                  default_notes: <p>FATTURA NON TRASMESSA AL SISTEMA TESSERA SANITARIA.</p>
                  default_rivalsa: 0
                  default_cassa: 30
                  default_witholding_tax: 20
                  default_witholding_tax_taxable: 100
                  default_other_witholding_tax: 8
                  default_use_gross_prices: false
                  default_payment_method_id: 386685
      security:
        - OAuth2Authentication:
            - no scope required
  '/c/{companyId}/issued_documents/{documentId}/preview':
    get:
      tags:
        - Issued documents
      summary: Document HTML preview
      description: "\U0001F465 Company context\n\nRetrieve the HTML preview of the document."
      operationId: issuedDocumentsPreview
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: template_id
          in: query
          description: Template unique identifier.
          schema:
            type: integer
        - name: show_paypal_button
          in: query
          description: Show the Paypal button on the document.
          schema:
            type: boolean
        - name: show_notification_button
          in: query
          description: Show the payment notification button on the document.
          schema:
            type: boolean
        - name: show_payments
          in: query
          description: Show the payments expirations on the document.
          schema:
            type: boolean
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: documentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Preview.
          content:
            text/html:
              schema:
                type: object
                description: Document HTML preview.
        '400':
          description: Status 400
          content: {}
      security:
        - OAuth2Authentication:
            - no scope required
  '/c/{companyId}/issued_documents/{documentId}/email':
    get:
      tags:
        - Issued documents
      summary: Get email data
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `issued_documents.[documentType]:r`\n\nGet pre-compiled email data like subject, body, attachments, SMTP credentials, CC, recipients list."
      operationId: issuedDocumentsEmailGet
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Status 200
          content:
            application/json:
              schema:
                required:
                  - accompanying_invoice_exists
                  - attachment_exists
                  - body
                  - cc_email
                  - default_sender_email
                  - delivery_note_exists
                  - document_exists
                  - sender_emails_list
                  - subject
                  - supplier_email
                type: object
                properties:
                  supplier_email:
                    type: string
                    description: Document supplier's (or client's) email
                  default_sender_email:
                    required:
                      - email
                      - id
                    type: object
                    properties:
                      id:
                        type: number
                        description: Id
                      email:
                        type: string
                        description: Email address
                    description: Default sender email. (Other emails can be found in `sender_emails_list`)
                  sender_emails_list:
                    type: array
                    description: List of all emails from which the document can be sent
                    items:
                      required:
                        - email
                        - id
                      type: object
                      properties:
                        id:
                          type: number
                          description: Id
                        email:
                          type: string
                          description: Email address
                  cc_email:
                    type: string
                    description: By default is the logged company email. This is the email address to which a copy will be sent.
                  subject:
                    type: string
                    description: Email subject
                  body:
                    type: string
                    description: Email body
                  document_exists:
                    type: boolean
                    description: 'If the document is not a delivery note, this flag will be set to true'
                  delivery_note_exists:
                    type: string
                    description: 'If the document is a delivery note, this flag will be set to true'
                  attachment_exists:
                    type: string
                    description: 'If the document has one or more attachments, this flag will be set to true'
                  accompanying_invoice_exists:
                    type: string
                    description: 'If an accompanying invoice exists, this flag will be set to true'
              example: |-
                {
                  "data": {
                    "supplier_email": null,
                    "default_sender_email": {
                      "id": 0,
                      "email": "no-reply@fattureincloud.it"
                    },
                    "sender_emails_list": [
                      {
                        "id": 0,
                        "email": "no-reply@fattureincloud.it"n      },
                      {
                        "id": 20856,
                        "email": "info@prova.it"n      },
                      {
                        "id": 20857,
                        "email": "matteo@fattureincloud.it"n      }
                    ],
                    "cc_email": "matteo.milesi@hotmail.it",
                    "subject": "Nostra pro forma nr. 1",
                    "body": "Gentile Abece Dario,<br>per vedere la nostra pro forma di  o per scaricarne una copia in versione PDF prema sul bottone sottoastante. Cia\u00f2.<br>Prova<br><br>Ciao<br><br>{{allegati}}<br><br>Cordiali saluti,<br><b>Matteo Milesi Test<\/b>",
                    "document_exists": true,
                    "delivery_note_exists": false,
                    "attachment_exists": false,
                    "accompanying_invoice_exists": false
                  },
                }
      security:
        - OAuth2Authentication:
            - 'issued_documents.[documentType]:r'
    post:
      tags:
        - Issued documents
      summary: Schedule email
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `issued_documents.[documentType]:r`\n\nSchedule email sending of a document."
      operationId: issuedDocumentsEmail
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  required:
                    - attach_pdf
                    - body
                    - include
                    - recipient_email
                    - send_copy
                    - subject
                  type: object
                  properties:
                    sender_id:
                      type: number
                      description: Sender id. Required if `sender_email` is not specified
                    sender_email:
                      type: string
                      description: Sender email. Required if `sender_id` is not specified
                    recipient_email:
                      type: string
                      description: One or more comma separated recipient emails
                    subject:
                      type: string
                      description: Email subject
                    body:
                      type: string
                      description: Email body
                    include:
                      required:
                        - accompanying_invoice
                        - attachment
                        - delivery_note
                        - document
                      type: object
                      properties:
                        document:
                          type: boolean
                          description: 'If set to true, the email will have a button to view the document'
                        delivery_note:
                          type: boolean
                          description: 'If set to true, the email will have a button to view the delivery note'
                        attachment:
                          type: boolean
                          description: 'If set to true, the email will have a button to view the attachment'
                        accompanying_invoice:
                          type: boolean
                          description: 'If set to true, the email will have a button to view the accompanying invoice'
                    attach_pdf:
                      type: boolean
                      description: 'If set to true, documents will be sent as PDF attachments too'
                    send_copy:
                      type: boolean
                      description: 'If set to true, a copy of the email will be sent to the `cc_email` specified by `Get email data`'
        required: true
      responses:
        '200':
          description: Status 200
          content: {}
      security:
        - OAuth2Authentication:
            - 'issued_documents.[documentType]:r'
      x-codegen-request-body-name: body
  '/c/{companyId}/issued_documents/{documentId}/e_invoice/send':
    post:
      tags:
        - Issued e-invoices
      summary: Send the e-invoice
      description: "\U0001F465 Company context\n\nSend the e-invoice to SDI"
      operationId: issuedDocumentsSednEInvoice
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: documentId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    cassa_type:
                      type: string
                      description: 'Value of TipoCassa used (optional, override the company default value).'
                    withholding_tax_causal:
                      type: string
                      description: 'Value of CausalePagamento used (optional, override the company default value).'
        required: true
      responses:
        '200':
          description: Sending info.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      current_status:
                        type: string
                        description: |-
                          Current status of the e-invoice.
                          DO NOT USE THIS FOR NOW, IT WILL CHANGE.
      security:
        - OAuth2Authentication:
            - no scope required
      x-codegen-request-body-name: body
  '/c/{companyId}/received_documents':
    get:
      tags:
        - Received documents
      summary: List and search documents
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `received_documents:r` (but if the document is a `passive_delivery_note` you'll need `stock:r` scope) \\\n\U0001F50D Filtering: `id`, `type`, `category`, `description`, `entity.id`, `entity.name`, `date`, `next_due_date`, `amount_gross`, `amount_net`, `amount_vat`, `invoice_number`, `created_at`, `updated_at` \\\n↕️ Sorting: `id`, `category`, `entity.id`, `entity.name`, `date`, `next_due_date`, `amount_gross`, `amount_net`, `amount_vat`, `created_at`, `updated_at` \\\n\U0001F4C4 Paginated results \\\n\U0001F3A9 Customized responses supported\n\nGet a list of documents that match the filters."
      operationId: receivedDocumentsList
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: 'filter[0][field]'
          in: query
          description: |-
            ```
            filter[1]
            filter[2]
            ...
            filter[n]
            ```
          schema:
            type: string
        - name: 'filter[0][op]'
          in: query
          schema:
            type: string
            enum:
              - '='
              - '>'
              - <
              - '>='
              - <=
              - contains
              - like
        - name: 'filter[0][value]'
          in: query
          schema:
            type: string
        - name: filter_type
          in: query
          description: Boolean operator used by the filter.
          schema:
            type: string
            default: and
            enum:
              - and
              - or
        - name: fields
          in: query
          description: List of comma-separated fields
          schema:
            type: string
          example: 'id,name,code'
        - name: fieldset
          in: query
          description: Name of the fieldset
          schema:
            type: string
          example: basic
        - name: sort
          in: query
          description: List of comma-separated fields for result sorting (minus for desc sorting)
          schema:
            type: string
          example: 'name,-country'
        - name: page
          in: query
          description: Requested page
          schema:
            type: string
            default: '1'
        - name: by_id
          in: query
          description: 'If 1, return an object instead of an array'
          schema:
            type: integer
            default: 0
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum:
              - expense
              - passive_credit_note
              - passive_delivery_note
      responses:
        '200':
          description: Results list.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    type: array
                    description: List of documents.
                    items:
                      $ref: '#/components/schemas/ReceivedDocument'
      security:
        - OAuth2Authentication:
            - 'received_documents:r'
    post:
      tags:
        - Received documents
      summary: New document
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `received_documents:a` (but if the document is a `passive_delivery_note` you'll need `stock:a` scope)\n\nCreate a new received document."
      operationId: receivedDocumentsCreate
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/ReceivedDocument'
                pending_id:
                  type: integer
                  description: Pending received document id of the document from which the new document document is created.
        required: true
      responses:
        '200':
          description: Document created.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ReceivedDocument'
      security:
        - OAuth2Authentication:
            - 'received_documents:a'
      x-codegen-request-body-name: body
  '/c/{companyId}/received_documents/{documentId}':
    get:
      tags:
        - Received documents
      summary: Get document details
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `received_documents:r` (but if the document is a `passive_delivery_note` you'll need `stock:r` scope) \\\n\U0001F3A9 Customized responses supported\n\nGet details of an existing document by its unique id."
      operationId: receivedDocumentsDetails
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: documentId
          in: path
          required: true
          schema:
            type: string
        - name: fields
          in: query
          description: List of comma-separated fields
          schema:
            type: string
          example: 'id,name,code'
        - name: fieldset
          in: query
          description: Name of the fieldset
          schema:
            type: string
          example: detailed
      responses:
        '200':
          description: Document details.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ReceivedDocument'
      security:
        - OAuth2Authentication:
            - 'received_documents:r'
    put:
      tags:
        - Received documents
      summary: Edit a document
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `received_documents:a` (but if the document is a `passive_delivery_note` you'll need `stock:a` scope)\n\nEdit an existing document by its unique id."
      operationId: receivedDocumentsEdit
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/ReceivedDocument'
        required: true
      responses:
        '200':
          description: Document edited.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ReceivedDocument'
        '404':
          description: Status 404
          content: {}
      security:
        - OAuth2Authentication:
            - 'received_documents:a'
      x-codegen-request-body-name: body
    delete:
      tags:
        - Received documents
      summary: Remove a document
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `received_documents:a` (but if the document is a `passive_delivery_note` you'll need `stock:a` scope)\n\nDelete an existing document by its unique id."
      operationId: receivedDocumentsDelete
      parameters:
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Document removed.
          content: {}
        '404':
          description: Status 404
          content: {}
      security:
        - OAuth2Authentication:
            - 'received_documents:a'
  '/c/{companyId}/received_documents/totals':
    post:
      tags:
        - Received documents
      summary: New document totals
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `received_documents:a` (but if the document is a `passive_delivery_note` you'll need `stock:a` scope)\n\nCalculate totals of the received document passed in the body."
      operationId: receivedDocumentsTotal
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/ReceivedDocument'
        required: true
      responses:
        '200':
          description: Totals.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ReceivedDocumentTotals'
              example: |-
                {
                  "data": {
                    "amount_net": 542,
                    "amount_vat": 24.5,
                    "amount_gross": 531.5,
                    "amount_withholding_tax": 31,
                    "amount_other_withholding_tax": 4,
                    "amount_due": 531.5,
                    "payments_sum": 535.5
                  }
                }
      security:
        - OAuth2Authentication:
            - 'received_documents:a'
      x-codegen-request-body-name: body
  '/c/{companyId}/received_documents/{documentId}/totals':
    post:
      tags:
        - Received documents
      summary: Get existing document totals
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `received_documents:a` (but if the document is a `passive_delivery_note` you'll need `stock:a` scope)\n\nCalculate totals of the received document indicated by the id with the changes passed in the body.\n"
      operationId: receivedDocumentsSingleTotal
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: documentId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              required:
                - data
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/ReceivedDocument'
        required: true
      responses:
        '200':
          description: Totals.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ReceivedDocumentTotals'
              example: |-
                {
                  "data": {
                    "amount_net": 542,
                    "amount_vat": 24.5,
                    "amount_gross": 531.5,
                    "amount_withholding_tax": 31,
                    "amount_other_withholding_tax": 4,
                    "amount_due": 531.5,
                    "payments_sum": 535.5
                  }
                }
      security:
        - OAuth2Authentication:
            - 'received_documents:a'
      x-codegen-request-body-name: body
  '/c/{companyId}/received_documents/attachment':
    post:
      tags:
        - Received documents
      summary: Upload attachment
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `received_documents:a` (but if the document is a `passive_delivery_note` you'll need `stock:a` scope)\n\nUpload an attachment and return the relative token."
      operationId: receivedDocumentsAttachment
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - attachment
                - filename
              properties:
                filename:
                  type: string
                  description: Name of the file.
                  example: attachment.pdf
                attachment:
                  type: string
                  description: 'Valid format: .png, .jpg, .gif, .pdf, .zip, .xls, .xlsx, .doc, .docx'
                  format: binary
        required: true
      responses:
        '200':
          description: Status 200
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    required:
                      - attachment_token
                    type: object
                    properties:
                      attachment_token:
                        type: string
                        example: YmMyNWYxYzIwMTU3N2Y4ZGE3ZjZiMzg5OWY0ODNkZDQveXl5LmRvYw
      security:
        - OAuth2Authentication:
            - 'received_documents:a'
  '/c/{companyId}/received_documents/{documentId}/attachment':
    delete:
      tags:
        - Received documents
      summary: Remove the attachment
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `received_documents:a` (but if the document is a `passive_delivery_note` you'll need `stock:a` scope)\n\nRemove the attachment (but not the document)"
      operationId: receivedDocumentsSingleAttachment
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
        - name: documentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: File removed.
          content: {}
      security:
        - OAuth2Authentication:
            - 'received_documents:a'
  '/c/{companyId}/received_documents/info':
    get:
      tags:
        - Received documents
      summary: Pre-create info
      description: "\U0001F465 Company context \\\n\U0001F512 Required scope: `received_documents:r`\n\nGet the info needed for the document creation flow."
      operationId: receivedDocumentsInfo
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
        - name: type
          in: query
          description: Received document type.
          required: true
          schema:
            type: string
            default: expense
            enum:
              - expense
              - passive_credit_note
              - passive_delivery_note
        - name: Authorization
          in: header
          description: Access token to authenticate the user and the company
          required: true
          schema:
            maxLength: 160
            minLength: 160
            type: string
      responses:
        '200':
          description: Pre-create info.
          content:
            application/json:
              schema:
                required:
                  - data
                type: object
                properties:
                  data:
                    required:
                      - categories_list
                      - countries_list
                      - currencies_list
                      - default_values
                      - items_default_values
                      - payment_accounts_list
                      - vat_types_list
                    type: object
                    properties:
                      default_values:
                        required:
                          - detailed
                        type: object
                        properties:
                          detailed:
                            type: boolean
                      items_default_values:
                        required:
                          - vat
                        type: object
                        properties:
                          vat:
                            type: integer
                            description: The id of the vat
                      countries_list:
                        type: array
                        items:
                          type: string
                      currencies_list:
                        type: array
                        items:
                          $ref: '#/components/schemas/Currency'
                      categories_list:
                        type: array
                        items:
                          type: string
                      payment_accounts_list:
                        type: array
                        items:
                          $ref: '#/components/schemas/PaymentAccount'
                      vat_types_list:
                        type: array
                        items:
                          $ref: '#/components/schemas/VatType'
              example: |-
                {
                  "data": {
                    "default_values": {
                      "detailed": false
                    },
                    "items_default_values": {
                      "vat": null
                    },
                    "countries_list": [
                      ...
                    ],
                    "currencies_list": [
                      ...
                    ],
                    "categories_list": [
                      ...
                    ],
                    "payment_accounts_list": [
                      {
                        "id": 1,
                        "name": "Banca"
                      },
                    ],
                    "vat_types_list": [
                      {
                        "id": 1,
                        "value": 22,
                        "description": "IVA Itliana"
                      },
                    ]
                  },
                }
      security:
        - OAuth2Authentication:
            - 'received_documents:r'
  /e_invoices/preview:
    get:
      tags:
        - E-invoices
        - Issued e-invoices
        - Received e-invoices
      summary: Preview an e-invoice
      description: 'Get styled xml of an electronic invoice if **html parameter** has been set to true, otherwise return xml file.'
      operationId: einvoicePreview
      parameters:
        - name: invoice_token
          in: query
[...]
