{{#operations}}
{
{{#operation}}
{{#responses}}
{{#jsonSchema}}
    {{#baseType}}
    "{{baseType}}Sample": {{{jsonSchema}}},
    {{/baseType}}
{{/jsonSchema}}
{{/responses}}
{{/operation}}
}
{{/operations}}
