openapi: 3.0.3
info:
  contact:
    email: info@fattureincloud.it
    name: Fatture in Cloud
    url: https://www.fattureincloud.it
  description: "Connect your software with Fatture in Cloud, the invoicing platform\
    \ chosen by more than 500.000 businesses in Italy. \n\nThe Fatture in Cloud API\
    \ is based on REST, and makes possible to interact with the user related data\
    \ prior authorization via OAuth2 protocol."
  license:
    name: MIT
    url: https://github.com/fattureincloud/openapi-fattureincloud/blob/master/LICENSE
  title: Fatture in Cloud API v2 - API Reference
  version: 2.1.5
servers:
- url: https://api-v2.fattureincloud.it
security:
- OAuth2AuthenticationCodeFlow: []
tags:
- name: Archive
- name: Cashbook
- name: Clients
- name: Companies
- name: Info
- name: Issued Documents
- name: Issued e-invoices
- name: Products
- name: PriceLists
- name: Receipts
- name: Received Documents
- name: Suppliers
- name: Taxes
- name: User
paths:
  /user/info:
    get:
      description: Gets the current user's info.
      operationId: getUserInfo
      parameters: []
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                      id: 12345
                      name: Mario Rossi
                      first_name: Mario
                      last_name: Rossi
                      email: mario.rossi@example.com
                      hash: 5add29e1234532a1bf2ed7b612043029
                      picture: picture.jpg
                    info:
                      need_marketing_consents_confirmation: false
                      need_password_change: false
                      need_terms_of_service_confirmation: false
                    email_confirmation_state:
                      need_confirmation: false
              schema:
                $ref: "#/components/schemas/GetUserInfoResponse"
          description: ""
        "401":
          description: Unauthorized.
      security:
      - OAuth2AuthenticationCodeFlow: []
      summary: Get User Info
      tags:
      - User
  /user/companies:
    get:
      description: Lists the companies controlled by the current user.
      operationId: listUserCompanies
      parameters: []
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                      companies:
                      - id: 12345
                        name: Studio Commercialista
                        tax_code: ABCSFN94T17A794K
                        vat_number: 3881520161
                        type: accountant
                        access_token: 4ff5f0fe5abcd1d7157fa13ca72ab62b6183db0667a576a0e19164801c18c4f7362a848fa32dbb8c3a3f94c34f3df95
                        connection_id: 94566
                        controlled_companies:
                        - id: 12246
                          name: Studio Commercialista
                          tax_code: ABCSFN94T17A794K
                          vat_number: 3881520161
                          type: company
                          access_token: 4ff5f0fe5abcdf1d7157fa13ca72ab62b6183db0667a576a0e19164801c18c4f7362a848fa32dbb8c3a3f94c34f3df95
                          connection_id: 94566
                          controlled_companies: []
                          fic: true
                          dic: true
                          fic_plan: premium_plus
                          fic_license_expire: 2021-12-31
                          permissions:
                            fic_situation: write
                            fic_clients: write
                            fic_suppliers: write
                            fic_products: write
                            fic_issued_documents: write
                            fic_received_documents: write
                            fic_receipts: write
                            fic_calendar: write
                            fic_archive: write
                            fic_taxes: write
                            fic_stock: write
                            fic_cashbook: write
                            fic_settings: write
                            fic_emails: write
                            dic_employees: write
                            dic_timesheet: write
                            dic_settings: write
                        - id: 12347
                          name: Mario Rossi SRL
                          tax_code: "57398280214"
                          type: company
                          access_token: 86690c98be13592e78b763c52fab2ba0c22faa118708ca5273da2b4dcdc7ad1234517107266d463fd9ae424a78c16cde
                          connection_id: 94566
                          controlled_companies: []
                          fic: true
                          dic: false
                          fic_plan: trial
                          fic_license_expire: 2021-12-31
                          permissions:
                            fic_situation: write
                            fic_clients: write
                            fic_suppliers: write
                            fic_products: write
                            fic_issued_documents: write
                            fic_received_documents: write
                            fic_receipts: write
                            fic_calendar: write
                            fic_archive: write
                            fic_taxes: write
                            fic_stock: write
                            fic_cashbook: write
                            fic_settings: write
                            fic_emails: write
                            dic_employees: none
                            dic_timesheet: none
                            dic_settings: none
              schema:
                $ref: "#/components/schemas/ListUserCompaniesResponse"
          description: User Companies.
        "401":
          description: Unauthorized
      security:
      - OAuth2AuthenticationCodeFlow: []
      summary: List User Companies
      tags:
      - User
  /c/{company_id}/company/info:
    get:
      description: Gets the company detailed info.
      operationId: getCompanyInfo
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                      id: 12345
                      name: Studio Commercialista
                      email: mario.rossi@example.com
                      type: accountant
                      fic: true
                      fic_plan_name: premium_plus
                      fic_signup_date: 2013-11-01
                      fic_license_expire: 2030-12-31
                      use_fic: true
                      fic_need_setup: false
                      fic_license_type: coupon_b
                      dic: true
                      dic_plan_name: trial
                      dic_signup_date: 2018-03-26
                      dic_license_expire: 2022-12-31
                      use_dic: true
                      dic_license_type: null
                      registration_service: fic
                      can_use_coupon: false
                      access_info:
                        role: master
                        through_accountant: false
                        permissions:
                          fic_situation: read
                          fic_clients: write
                          fic_suppliers: write
                          fic_products: write
                          fic_issued_documents: detailed
                          fic_issued_documents_detailed:
                            quotes: write
                            proformas: write
                            invoices: write
                            receipts: write
                            delivery_notes: write
                            credit_notes: write
                            orders: write
                            work_reports: write
                            supplier_orders: write
                            self_invoices: write
                          fic_received_documents: write
                          fic_receipts: write
                          fic_calendar: write
                          fic_archive: write
                          fic_taxes: write
                          fic_stock: write
                          fic_cashbook: write
                          fic_settings: write
                          fic_emails: read
                          dic_employees: none
                          dic_timesheet: none
                          dic_settings: none
                          fic_invoice_trading: none
                          fic_export: write
                          fic_import_clients_suppliers: write
                          fic_import_products: write
                          fic_import_issued_documents: none
                          fic_import_bankstatements: none
                          fic_recurring: write
                          fic_riba: write
                      plan_info:
                        limits:
                          clients: 5000
                          suppliers: 5000
                          products: 5000
                          documents: 3000
                        functions:
                          document_attachments: true
                          archive: true
                          payment_notifications: true
                          paypal: true
                          receipts: true
                          e_invoice: true
                          genius: true
                          stock: true
                          smtp: true
                          mail_tracking: true
                          subaccounts: true
                          tessera_sanitaria: true
                          recurring: true
                          cerved: true
                          ts_digital: true
                          ts_pay: true
                          ts_invoice_trading: true
                        functions_status:
                          ts_digital:
                            active: true
                          ts_pay:
                            active: true
                      is_accountant: true
                      accountant_id: 12345
                      fic_payment_subject: client
                      dic_payment_subject: client
              schema:
                $ref: "#/components/schemas/GetCompanyInfoResponse"
          description: Company info.
        "401":
          description: Unauthorized.
      security:
      - OAuth2AuthenticationCodeFlow: []
      summary: Get Company Info
      tags:
      - Companies
  /c/{company_id}/company/plan_usage:
    get:
      description: Gets the company limits usage.
      operationId: getCompanyPlanUsage
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: Category
        explode: true
        in: query
        name: category
        required: true
        schema:
          enum:
          - clients
          - suppliers
          - products
          - documents
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                      limit: 3000
                      usage: 100
              schema:
                $ref: "#/components/schemas/GetCompanyPlanUsageResponse"
          description: Example response
        "401":
          description: Unauthorized.
      security:
      - OAuth2AuthenticationCodeFlow: []
      summary: Get Company Plan Usage
      tags:
      - Companies
  /c/{company_id}/entities/clients:
    get:
      description: Lists the clients.
      operationId: listClients
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: List of comma-separated fields.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: Name of the fieldset.
        explode: true
        in: query
        name: fieldset
        required: false
        schema:
          enum:
          - basic
          - detailed
          type: string
        style: form
      - description: List of comma-separated fields for result sorting (minus for
          desc sorting).
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: The page to retrieve.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: The size of the page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 5
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Query for filtering the results.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    current_page: 1
                    data:
                    - id: 16451
                      code: AE86
                      name: Avv. Maria Rossi
                      type: person
                      first_name: Maria
                      last_name: Rossi
                      contact_person: ""
                      vat_number: IT12345640962
                      tax_code: BLTGNI5ABCDA794E
                      address_street: "Via Roma, 1"
                      address_postal_code: "20900"
                      address_city: Milano
                      address_province: MI
                      address_extra: ""
                      country: Italia
                      email: maria.rossi@example.com
                      certified_email: maria.rossi@pec.example.com
                      phone: "1234567890"
                      fax: ""
                      notes: ""
                      created_at: 2021-04-29 08:53:07
                      updated_at: 2021-04-29 08:53:07
                      default_payment_terms: 1
                      default_payment_terms_type: standard
                      bank_name: Indesa
                      bank_iban: IT40P123456781000000123456
                      bank_swift_code: AK86PCT
                      shipping_address: Corso Magellano 4
                      e_invoice: true
                      ei_code: "111111"
                      default_vat:
                        id: 54321
                        value: 45
                        description: ""
                        is_disabled: false
                      default_payment_method:
                        id: 386092
                        name: Credit card
                    - id: 25330696
                      code: PD00
                      name: Mario Rossi
                      type: person
                      first_name: Mario
                      last_name: Rossi
                      contact_person: ""
                      vat_number: IT1234567890
                      tax_code: ABCDEF12G34H567I
                      address_street: Via largo augusto 123
                      address_postal_code: "21012"
                      address_city: Bergamo
                      address_province: BG
                      address_extra: ""
                      country: Italia
                      email: info@mariorossi.it
                      certified_email: info@pec.mariorossi.it
                      phone: "012345678"
                      fax: "012345678"
                      notes: ""
                      created_at: 2021-04-29 08:53:07
                      default_payment_terms: 0
                      default_payment_terms_type: standard
                      bank_name: Monte dei Pascoli
                      bank_iban: IT00P123456781000000123456
                      bank_swift_code: APL86PCT
                      shipping_address: Via Miilano 4
                      e_invoice: false
                      ei_code: "7654321"
                      default_vat:
                        id: 66
                        value: 22
                        description: ""
                        is_disabled: false
                      default_payment_method: null
                    first_page_url: page=1
                    from: 1
                    last_page: 2
                    last_page_url: page=2
                    next_page_url: page=2
                    path: entities/clients
                    per_page: 5
                    prev_page_url: null
                    to: 50
                    total: 8
              schema:
                $ref: "#/components/schemas/ListClientsResponse"
          description: Example response
        "401":
          description: Unauthorized
      security:
      - OAuth2AuthenticationCodeFlow:
        - entity.clients:r
      summary: List Clients
      tags:
      - Clients
    post:
      description: Creates a new client.
      operationId: createClient
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  data:
                    code: AE86
                    name: Avv. Maria Rossi
                    type: person
                    first_name: Maria
                    last_name: Rossi
                    contact_person: ""
                    vat_number: IT12345640962
                    tax_code: BLTGNI5ABCDA794E
                    address_street: "Via Roma, 1"
                    address_postal_code: "20900"
                    address_city: Milano
                    address_province: MI
                    address_extra: ""
                    country: Italia
                    email: maria.rossi@example.com
                    certified_email: maria.rossi@pec.example.com
                    phone: "1234567890"
                    fax: ""
                    notes: ""
                    default_payment_terms: 1
                    default_payment_terms_type: standard
                    bank_name: Indesa
                    bank_iban: IT40P123456781000000123456
                    bank_swift_code: AK86PCT
                    shipping_address: Corso Magellano 4
                    e_invoice: true
                    ei_code: "111111"
                    default_vat:
                      id: 54321
                      value: 45
                      description: ""
                      is_disabled: false
                    price_list_id: "10"
            schema:
              $ref: "#/components/schemas/CreateClientRequest"
        description: The client to create
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                      id: 16451
                      code: AE86
                      name: Avv. Maria Rossi
                      type: person
                      first_name: Maria
                      last_name: Rossi
                      contact_person: ""
                      vat_number: IT12345640962
                      tax_code: BLTGNI5ABCDA794E
                      address_street: "Via Roma, 1"
                      address_postal_code: "20900"
                      address_city: Milano
                      address_province: MI
                      address_extra: ""
                      country: Italia
                      email: maria.rossi@example.com
                      certified_email: maria.rossi@pec.example.com
                      phone: "1234567890"
                      fax: ""
                      notes: ""
                      created_at: 2021-04-29 08:53:07
                      updated_at: 2021-04-29 08:53:07
                      default_payment_terms: 1
                      default_payment_terms_type: standard
                      bank_name: Indesa
                      bank_iban: IT40P123456781000000123456
                      bank_swift_code: AK86PCT
                      shipping_address: Corso Magellano 4
                      e_invoice: true
                      ei_code: "111111"
                      default_vat:
                        id: 54321
                        value: 45
                        description: ""
                        is_disabled: false
                      default_payment_method:
                        id: 386092
                        name: Credit card
              schema:
                $ref: "#/components/schemas/CreateClientResponse"
          description: Example response
      security:
      - OAuth2AuthenticationCodeFlow:
        - entity.clients:a
      summary: Create Client
      tags:
      - Clients
  /c/{company_id}/entities/clients/{client_id}:
    delete:
      description: Deletes the specified client.
      operationId: deleteClient
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: The ID of the client.
        explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          description: Entity Removed
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - OAuth2AuthenticationCodeFlow:
        - entity.clients:a
      summary: Delete Client
      tags:
      - Clients
    get:
      description: Gets the specified client.
      operationId: getClient
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: The ID of the client.
        explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: integer
        style: simple
      - description: List of comma-separated fields.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: Name of the fieldset.
        explode: true
        in: query
        name: fieldset
        required: false
        schema:
          enum:
          - basic
          - detailed
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                      code: AE86
                      name: Avv. Maria Rossi
                      type: person
                      first_name: Maria
                      last_name: Rossi
                      contact_person: ""
                      vat_number: IT12345640962
                      tax_code: BLTGNI5ABCDA794E
                      address_street: "Via Roma, 1"
                      address_postal_code: "20900"
                      address_city: Milano
                      address_province: MI
                      address_extra: ""
                      country: Italia
                      email: maria.rossi@example.com
                      certified_email: maria.rossi@pec.example.com
                      phone: "1234567890"
                      fax: ""
                      notes: ""
                      default_payment_terms: 1
                      default_payment_terms_type: standard
                      bank_name: Indesa
                      bank_iban: IT40P123456781000000123456
                      bank_swift_code: AK86PCT
                      shipping_address: Corso Magellano 4
                      e_invoice: true
                      ei_code: "111111"
                      default_vat:
                        id: 54321
                        value: 45
                        description: ""
                        is_disabled: false
                      price_list_id: "10"
              schema:
                $ref: "#/components/schemas/GetClientResponse"
          description: Client Details.
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - OAuth2AuthenticationCodeFlow:
        - entity.clients:r
      summary: Get Client
      tags:
      - Clients
    put:
      description: Modifies the specified client.
      operationId: modifyClient
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: The ID of the client.
        explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  data:
                    code: AE86
                    name: Avv. Maria Rossi
                    type: person
                    first_name: Maria
                    last_name: Rossi
                    contact_person: ""
                    vat_number: IT12345640962
                    tax_code: BLTGNI5ABCDA794E
                    address_street: "Via Roma, 1"
                    address_postal_code: "20900"
                    address_city: Milano
                    address_province: MI
                    address_extra: ""
                    country: Italia
                    email: maria.rossi@example.com
                    certified_email: maria.rossi@pec.example.com
                    phone: "1234567890"
                    fax: ""
                    notes: ""
                    default_payment_terms: 1
                    default_payment_terms_type: standard
                    bank_name: Indesa
                    bank_iban: IT40P123456781000000123456
                    bank_swift_code: AK86PCT
                    shipping_address: Corso Magellano 4
                    e_invoice: true
                    ei_code: "111111"
                    default_vat:
                      id: 54321
                      value: 45
                      description: ""
                      is_disabled: false
                    price_list_id: "10"
            schema:
              $ref: "#/components/schemas/ModifyClientRequest"
        description: The modified Client. First level parameters are managed in delta
          mode.
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                      code: AE86
                      name: Avv. Maria Rossi
                      type: person
                      first_name: Maria
                      last_name: Rossi
                      contact_person: ""
                      vat_number: IT12345640962
                      tax_code: BLTGNI5ABCDA794E
                      address_street: "Via Roma, 1"
                      address_postal_code: "20900"
                      address_city: Milano
                      address_province: MI
                      address_extra: ""
                      country: Italia
                      email: maria.rossi@example.com
                      certified_email: maria.rossi@pec.example.com
                      phone: "1234567890"
                      fax: ""
                      notes: ""
                      default_payment_terms: 1
                      default_payment_terms_type: standard
                      bank_name: Indesa
                      bank_iban: IT40P123456781000000123456
                      bank_swift_code: AK86PCT
                      shipping_address: Corso Magellano 4
                      e_invoice: true
                      ei_code: "111111"
                      default_vat:
                        id: 54321
                        value: 45
                        description: ""
                        is_disabled: false
                      price_list_id: "10"
              schema:
                $ref: "#/components/schemas/ModifyClientResponse"
          description: Client modified.
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - OAuth2AuthenticationCodeFlow:
        - entity.clients:a
      summary: Modify Client
      tags:
      - Clients
  /c/{company_id}/entities/clients/info:
    get:
      description: Retrieves the information useful while creating a new Client.
      operationId: getClientInfo
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                      countries_list:
                      - Italy
                      payment_methods_list:
                      - id: 555
                        name: Rimessa diretta
                        is_default: false
                        details: []
                        bank_iban: null
                        bank_name: null
                        bank_beneficiary: null
                        ei_payment_method: null
                      payment_accounts_list:
                      - id: 0
                        name: Conto Banca Intesa
                        type: standard
                        iban: string
                        sia: string
                        cuc: string
                        virtual: true
                      vat_types_list:
                      - id: 0
                        value: 22
                        description: Non imponibile art. 123
                        notes: "IVA non imponibile ai sensi dell'articolo 123, comma\
                          \ 2"
                        e_invoice: true
                        ei_type: 2
                        ei_description: string
                        editable: true
                        is_disabled: true
                        default: true
                      price_lists:
                      - id: string
                        name: "123"
                        prices_type: net
                        is_default: true
                        valid_from: string
                        valid_to: string
                        type: sell
                      limit: 0
                      usage: 0
              schema:
                $ref: "#/components/schemas/GetEntityClientPreCreateInfoResponse"
          description: Example response
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - OAuth2AuthenticationCodeFlow:
        - entity.clients:r
      summary: Get Client info
      tags:
      - Clients
  /c/{company_id}/entities/suppliers:
    get:
      description: Lists the suppliers.
      operationId: listSuppliers
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: List of comma-separated fields.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: Name of the fieldset.
        explode: true
        in: query
        name: fieldset
        required: false
        schema:
          enum:
          - basic
          - detailed
          type: string
        style: form
      - description: List of comma-separated fields for result sorting (minus for
          desc sorting).
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: The page to retrieve.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: The size of the page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 5
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Query for filtering the results.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    first_page_url: page=1
                    from: 1
                    last_page: 2
                    last_page_url: page=2
                    next_page_url: page=2
                    path: /entities/suppliers
                    per_page: 50
                    prev_page_url: null
                    to: 55
                    total: 55
                    data:
                    - id: 12345
                      code: AE86
                      name: Mario Rossi S.R.L.
                      type: company
                      first_name: Mario
                      last_name: Rossi
                      contact_person: ""
                      vat_number: "111222333"
                      tax_code: "111122233"
                      address_street: "Corso Magellano, 46"
                      address_postal_code: "20146"
                      address_city: Milano
                      address_province: MI
                      address_extra: ""
                      country: Italia
                      email: mario.rossi@example.com
                      certified_email: mario.rossi@pec.example.com
                      phone: "1234567890"
                      fax: "123456789"
                      notes: ""
                      created_at: 2021-15-08
                      updated_at: 2021-15-08
                    - id: 12346
                      code: GT86
                      name: Maria Grossi S.R.L.
                      type: company
                      first_name: ""
                      last_name: ""
                      contact_person: ""
                      vat_number: "200020102020"
                      tax_code: "200020102020"
                      address_street: "Vicolo stretto, 32"
                      address_postal_code: "20146"
                      address_city: Milano
                      address_province: MI
                      address_extra: ""
                      country: Italia
                      email: maria.grossi@example.com
                      certified_email: maria.grossi@pec.example.com
                      phone: "0987654321"
                      fax: "098765432"
                      notes: ""
                      created_at: 2021-15-09
                      updated_at: 2021-15-09
              schema:
                $ref: "#/components/schemas/ListSuppliersResponse"
          description: Example response
        "401":
          description: Unauthorized
      security:
      - OAuth2AuthenticationCodeFlow:
        - entity.suppliers:r
      summary: List Suppliers
      tags:
      - Suppliers
    post:
      description: Creates a new supplier.
      operationId: createSupplier
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  data:
                    id: 12345
                    code: AE86
                    name: Mario Rossi S.R.L.
                    type: company
                    first_name: Mario
                    last_name: Rossi
                    contact_person: ""
                    vat_number: "111222333"
                    tax_code: "111122233"
                    address_street: "Corso Magellano, 46"
                    address_postal_code: "20146"
                    address_city: Milano
                    address_province: MI
                    address_extra: ""
                    country: Italia
                    email: mario.rossi@example.com
                    certified_email: mario.rossi@pec.example.com
                    phone: "1234567890"
                    fax: "123456789"
                    notes: ""
            schema:
              $ref: "#/components/schemas/CreateSupplierRequest"
        description: The supplier to create
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                      id: 12345
                      code: AE86
                      name: Mario Rossi S.R.L.
                      type: company
                      first_name: Mario
                      last_name: Rossi
                      contact_person: ""
                      vat_number: "111222333"
                      tax_code: "111122233"
                      address_street: "Corso Magellano, 46"
                      address_postal_code: "20146"
                      address_city: Milano
                      address_province: MI
                      address_extra: ""
                      country: Italia
                      email: mario.rossi@example.com
                      certified_email: mario.rossi@pec.example.com
                      phone: "1234567890"
                      fax: "123456789"
                      notes: ""
                      created_at: 2021-15-08
                      updated_at: 2021-15-08
              schema:
                $ref: "#/components/schemas/CreateSupplierResponse"
          description: Example response
      security:
      - OAuth2AuthenticationCodeFlow:
        - entity.suppliers:a
      summary: Create Supplier
      tags:
      - Suppliers
  /c/{company_id}/entities/suppliers/{supplier_id}:
    delete:
      description: Deletes the specified supplier.
      operationId: deleteSupplier
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: The ID of the supplier.
        explode: false
        in: path
        name: supplier_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          description: Entity Removed
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - OAuth2AuthenticationCodeFlow:
        - entity.suppliers:a
      summary: Delete Supplier
      tags:
      - Suppliers
    get:
      description: Gets the specified supplier.
      operationId: getSupplier
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: The ID of the supplier.
        explode: false
        in: path
        name: supplier_id
        required: true
        schema:
          type: integer
        style: simple
      - description: List of comma-separated fields.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: Name of the fieldset.
        explode: true
        in: query
        name: fieldset
        required: false
        schema:
          enum:
          - basic
          - detailed
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                      id: 12345
                      code: AE86
                      name: Mario Rossi S.R.L.
                      type: company
                      first_name: Mario
                      last_name: Rossi
                      contact_person: ""
                      vat_number: "111222333"
                      tax_code: "111122233"
                      address_street: "Corso Magellano, 46"
                      address_postal_code: "20146"
                      address_city: Milano
                      address_province: MI
                      address_extra: ""
                      country: Italia
                      email: mario.rossi@example.com
                      certified_email: mario.rossi@pec.example.com
                      phone: "1234567890"
                      fax: "123456789"
                      notes: ""
                      created_at: 2021-15-08
                      updated_at: 2021-15-08
              schema:
                $ref: "#/components/schemas/GetSupplierResponse"
          description: Example response
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - OAuth2AuthenticationCodeFlow:
        - entity.suppliers:r
      summary: Get Supplier
      tags:
      - Suppliers
    put:
      description: Modifies the specified supplier.
      operationId: modifySupplier
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: The ID of the supplier.
        explode: false
        in: path
        name: supplier_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  data:
                    id: 12345
                    code: AE86
                    name: Mario Rossi S.R.L.
                    type: company
                    first_name: Mario
                    last_name: Rossi
                    contact_person: ""
                    vat_number: "111222333"
                    tax_code: "111122233"
                    address_street: "Corso Magellano, 46"
                    address_postal_code: "20146"
                    address_city: Milano
                    address_province: MI
                    address_extra: ""
                    country: Italia
                    email: mario.rossi@example.com
                    certified_email: mario.rossi@pec.example.com
                    phone: "1234567890"
                    fax: "123456789"
                    notes: ""
            schema:
              $ref: "#/components/schemas/ModifySupplierRequest"
        description: The modified Supplier. First level parameters are managed in
          delta mode.
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                      id: 12345
                      code: AE86
                      name: Mario Rossi S.R.L.
                      type: company
                      first_name: Mario
                      last_name: Rossi
                      contact_person: ""
                      vat_number: "111222333"
                      tax_code: "111122233"
                      address_street: "Corso Magellano, 46"
                      address_postal_code: "20146"
                      address_city: Milano
                      address_province: MI
                      address_extra: ""
                      country: Italia
                      email: mario.rossi@example.com
                      certified_email: mario.rossi@pec.example.com
                      phone: "1234567890"
                      fax: "123456789"
                      notes: ""
                      created_at: 2021-15-08
                      updated_at: 2021-15-08
              schema:
                $ref: "#/components/schemas/ModifySupplierResponse"
          description: Example response
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - OAuth2AuthenticationCodeFlow:
        - entity.suppliers:a
      summary: Modify Supplier
      tags:
      - Suppliers
  /c/{company_id}/products:
    get:
      description: Lists the products.
      operationId: listProducts
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: List of comma-separated fields.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: Name of the fieldset.
        explode: true
        in: query
        name: fieldset
        required: false
        schema:
          enum:
          - basic
          - detailed
          type: string
        style: form
      - description: List of comma-separated fields for result sorting (minus for
          desc sorting).
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: The page to retrieve.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: The size of the page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 5
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Query for filtering the results.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    current_page: 1
                    data:
                    - id: 12345
                      name: Tavolo di marmo
                      code: TAVOLO003
                      net_price: 240
                      gross_price: 280
                      use_gross_price: false
                      net_cost: 0
                      measure: ""
                      description: Tavolo in marmo pregiato
                      category: arredamento
                      in_stock: true
                      default_vat:
                        id: 3
                        value: 22
                        description: Non imponibile art. 123
                        notes: "IVA non imponibile ai sensi dell'articolo 123, comma\
                          \ 2"
                        is_disabled: false
                    - id: 12346
                      name: Tavolo di legno
                      code: TAVOLO001
                      net_price: 120
                      gross_price: 160
                      use_gross_price: false
                      net_cost: 0
                      measure: ""
                      description: Tavolo in legno pregiato
                      category: arredamento
                      in_stock: true
                      default_vat:
                        id: 3
                        value: 22
                        description: Non imponibile art. 123
                        notes: "IVA non imponibile ai sensi dell'articolo 123, comma\
                          \ 2"
                        is_disabled: false
                    first_page_url: page=1
                    from: 1
                    last_page: 1
                    last_page_url: page=1
                    next_page_url: page=2
                    path: products
                    per_page: 50
                    prev_page_url: null
                    to: 55
                    total: 55
              schema:
                $ref: "#/components/schemas/ListProductsResponse"
          description: Products List.
        "401":
          description: Unauthorized
      security:
      - OAuth2AuthenticationCodeFlow:
        - products:r
      summary: List Products
      tags:
      - Products
    post:
      description: Creates a new product.
      operationId: createProduct
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  data:
                    name: Tavolo di marmo
                    code: TAVOLO003
                    net_price: 240
                    net_cost: 0
                    measure: ""
                    description: Tavolo in marmo pregiato
                    category: arredamento
                    in_stock: true
                    default_vat:
                      id: 3
                      value: 22
                      description: Non imponibile art. 123
                      notes: "IVA non imponibile ai sensi dell'articolo 123, comma\
                        \ 2"
                      is_disabled: false
            schema:
              $ref: "#/components/schemas/CreateProductRequest"
        description: ""
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                      id: 12345
                      name: Tavolo di marmo
                      code: TAVOLO003
                      net_price: 240
                      gross_price: 280
                      use_gross_price: false
                      net_cost: 0
                      measure: ""
                      description: Tavolo in marmo pregiato
                      category: arredamento
                      in_stock: true
                      default_vat:
                        id: 3
                        value: 22
                        description: Non imponibile art. 123
                        notes: "IVA non imponibile ai sensi dell'articolo 123, comma\
                          \ 2"
                        is_disabled: false
              schema:
                $ref: "#/components/schemas/CreateProductResponse"
          description: Example response
      security:
      - OAuth2AuthenticationCodeFlow:
        - products:a
      summary: Create Product
      tags:
      - Products
  /c/{company_id}/products/{product_id}:
    delete:
      description: Deletes the specified product.
      operationId: deleteProduct
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: The ID of the product.
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          description: Product removed.
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - OAuth2AuthenticationCodeFlow:
        - products:a
      summary: Delete Product
      tags:
      - Products
    get:
      description: Gets the specified product.
      operationId: getProduct
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: The ID of the product.
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          type: integer
        style: simple
      - description: List of comma-separated fields.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: Name of the fieldset.
        explode: true
        in: query
        name: fieldset
        required: false
        schema:
          enum:
          - basic
          - detailed
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                      id: 12345
                      name: Tavolo di marmo
                      code: TAVOLO003
                      net_price: 240
                      gross_price: 280
                      use_gross_price: false
                      net_cost: 0
                      measure: ""
                      description: Tavolo in marmo pregiato
                      category: arredamento
                      in_stock: true
                      created_at: 2021-08-09 08:57:14
                      updated_at: 2021-08-09 08:57:14
                      default_vat:
                        id: 3
                        value: 22
                        description: Non imponibile art. 123
                        notes: "IVA non imponibile ai sensi dell'articolo 123, comma\
                          \ 2"
                        is_disabled: false
                      stock_initial: 123
                      stock_current: 123
              schema:
                $ref: "#/components/schemas/GetProductResponse"
          description: Example response
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - OAuth2AuthenticationCodeFlow:
        - products:r
      summary: Get Product
      tags:
      - Products
    put:
      description: Modifies the specified product.
      operationId: modifyProduct
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: The ID of the product.
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  data:
                    name: Tavolo di marmo
                    code: TAVOLO003
                    net_price: 240
                    net_cost: 0
                    measure: ""
                    description: Tavolo in marmo pregiato
                    category: arredamento
                    in_stock: true
                    default_vat:
                      id: 3
                      value: 22
                      description: Non imponibile art. 123
                      notes: "IVA non imponibile ai sensi dell'articolo 123, comma\
                        \ 2"
                      is_disabled: false
            schema:
              $ref: "#/components/schemas/ModifyProductRequest"
        description: Modified product details.
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                      id: 12345
                      name: Tavolo di marmo
                      code: TAVOLO003
                      net_price: 240
                      gross_price: 280
                      use_gross_price: false
                      net_cost: 0
                      measure: ""
                      description: Tavolo in marmo pregiato
                      category: arredamento
                      in_stock: true
                      created_at: 2021-08-09 08:57:14
                      updated_at: 2021-08-15 08:57:14
                      default_vat:
                        id: 3
                        value: 22
                        description: Non imponibile art. 123
                        notes: "IVA non imponibile ai sensi dell'articolo 123, comma\
                          \ 2"
                        is_disabled: false
                      stock_initial: 123
                      stock_current: 123
              schema:
                $ref: "#/components/schemas/ModifyProductResponse"
          description: Example response
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - OAuth2AuthenticationCodeFlow:
        - products:a
      summary: Modify Product
      tags:
      - Products
  /c/{company_id}/issued_documents:
    get:
      description: Lists the issued documents.
      operationId: listIssuedDocuments
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: The type of the issued document.
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - invoice
          - quote
          - proforma
          - receipt
          - delivery_note
          - credit_note
          - order
          - work_report
          - supplier_order
          - self_own_invoice
          - self_supplier_invoice
          type: string
        style: form
      - description: List of comma-separated fields.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: Name of the fieldset.
        explode: true
        in: query
        name: fieldset
        required: false
        schema:
          enum:
          - basic
          - detailed
          type: string
        style: form
      - description: List of comma-separated fields for result sorting (minus for
          desc sorting).
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: The page to retrieve.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: The size of the page.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 5
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Query for filtering the results.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: (Only for type = delivery_notes) Include invoices delivery notes.
        explode: true
        in: query
        name: inclusive
        required: false
        schema:
          enum:
          - 0
          - 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    current_page: 1
                    data:
                    - id: 12345
                      type: receipt
                      numeration: rec123
                      subject: ""
                      visible_subject: ""
                      amount_net: 68.18
                      amount_vat: 6.82
                      amount_gross: 75
                      amount_due_discount: 0
                      entity:
                        id: 54321
                        name: Mary Red S.r.L.
                        vat_number: IT05432181211
                        tax_code: IT05432181211
                        address_street: "Via Italia, 66"
                        address_postal_code: "20900"
                        address_city: Milano
                        address_province: MI
                        address_extra: ""
                        country: Italia
                        certified_email: mary@pec.red.com
                        ei_code: ABCXCR1
                      date: 2021-08-20
                      number: 1
                      next_due_date: 2021-12-31
                      url: ypbqqe4u8w8bdabcd5fd5b1a4gtqhlof.pdf
                      items_list: null
                      payments_list: null
                    - id: 12346
                      type: receipt
                      numeration: rec124
                      subject: ""
                      visible_subject: ""
                      amount_net: 168.18
                      amount_vat: 16.82
                      amount_gross: 175
                      amount_due_discount: 0
                      entity:
                        id: 54321
                        name: Mary Red S.r.L.
                        vat_number: IT05432181211
                        tax_code: IT05432181211
                        address_street: "Via Italia, 66"
                        address_postal_code: "20900"
                        address_city: Milano
                        address_province: MI
                        address_extra: ""
                        country: Italia
                        certified_email: mary@pec.red.com
                        ei_code: ABCXCR1
                      date: 2021-08-28
                      number: 1
                      next_due_date: 2021-12-31
                      url: qwertye4u8w8bdaqrt5fd5b1a4gtqhlof.pdf
                      items_list: null
                      payments_list: null
                    first_page_url: page=1
                    from: 1
                    last_page: 1
                    last_page_url: page=1
                    next_page_url: null
                    path: issued_documents
                    per_page: 50
                    prev_page_url: null
                    to: 2
                    total: 2
              schema:
                $ref: "#/components/schemas/ListIssuedDocumentsResponse"
          description: Results list.
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - OAuth2AuthenticationCodeFlow:
        - issued_documents.invoices:r
        - issued_documents.credit_notes:r
        - issued_documents.receipts:r
        - issued_documents.orders:r
        - issued_documents.quotes:r
        - issued_documents.proformas:r
        - issued_documents.delivery_notes:r
      summary: List Issued Documents
      tags:
      - Issued Documents
    post:
      description: Creates a new document.
      operationId: createIssuedDocument
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  data:
                    type: receipt
                    numeration: rec123
                    subject: ""
                    visible_subject: ""
                    amount_net: 68.18
                    amount_vat: 6.82
                    amount_due_discount: 0
                    entity:
                      id: 54321
                      name: Mary Red S.r.L.
                      vat_number: IT05432181211
                      tax_code: IT05432181211
                      address_street: "Via Italia, 66"
                      address_postal_code: "20900"
                      address_city: Milano
                      address_province: MI
                      address_extra: ""
                      country: Italia
                      certified_email: mary@pec.red.com
                      ei_code: ABCXCR1
                    date: 2021-08-20
                    number: 1
                    next_due_date: 2021-12-31
                    attachment_token: ypbqqe4u8w8bdabcd5fd5b1a
                    items_list:
                    - product_id: 333
                      code: SG3
                      name: Soggiorno
                      measure: ""
                      net_price: 68.18182
                      category: ""
                      id: 277875565
                      gross_price: 75
                      apply_withholding_taxes: true
                      discount: 0
                      discount_highlight: false
                      in_dn: false
                      qty: 1
                      vat:
                        id: 3
                        value: 10
                        description: ""
                      stock: true
                      description: ""
                      not_taxable: false
                    payments_list:
                    - amount: 75
                      due_date: 2020-08-23
                      id: 444
                      payment_terms:
                        days: 0
                        type: standard
                      status: not_paid
                    payment_method:
                      id: 4
                    price_list_id: "10"
            schema:
              $ref: "#/components/schemas/CreateIssuedDocumentRequest"
        description: The Issued Document
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                      id: 12345
                      type: receipt
                      year: 2021
                      numeration: rec123
                      subject: ""
                      visible_subject: ""
                      rc_center: ""
                      ei_cassa_type: null
                      ei_withholding_tax_causal: null
                      ei_other_withholding_tax_type: null
                      ei_other_withholding_tax_causal: null
                      stamp_duty: 0
                      use_gross_prices: false
                      e_invoice: false
                      agyo_company_id: null
                      agyo_id: null
                      agyo_sent_at: null
                      delivery_note: false
                      accompanying_invoice: false
                      amount_net: 68.18
                      amount_vat: 6.82
                      amount_gross: 75
                      amount_due_discount: 0
                      amount_rivalsa: 0
                      amount_cassa: 0
                      amount_withholding_tax: 0
                      amount_other_withholding_tax: 0
                      h_margins: 15
                      v_margins: 16
                      show_payment_method: false
                      show_payments: true
                      show_totals: all
                      show_notification_button: false
                      is_marked: false
                      created_at: 2021-08-13 09:30:20
                      updated_at: 2021-08-23 05:34:20
                      entity:
                        id: 54321
                        name: Mary Red S.r.L.
                        vat_number: IT05432181211
                        tax_code: IT05432181211
                        address_street: "Via Italia, 66"
                        address_postal_code: "20900"
                        address_city: Milano
                        address_province: MI
                        address_extra: ""
                        country: Italia
                        certified_email: mary@pec.red.com
                        ei_code: ABCXCR1
                      date: 2021-08-20
                      number: 1
                      currency:
                        id: EUR
                        exchange_rate: "1.00000"
                        symbol: €
                      language:
                        code: it
                        name: Italiano
                      notes: ""
                      rivalsa: 0
                      cassa: 0
                      withholding_tax: 0
                      withholding_tax_taxable: 100
                      other_withholding_tax: 0
                      payment_method:
                        id: 4
                        name: Credit card
                      use_split_payment: false
                      merged_in: null
                      original_document: null
                      items_list:
                      - product_id: 5432
                        code: SG3
                        name: Soggiorno
                        measure: ""
                        net_price: 68.18182
                        category: ""
                        id: 277876033
                        gross_price: 75
                        apply_withholding_taxes: true
                        discount: 0
                        discount_highlight: false
                        in_dn: false
                        qty: 1
                        vat:
                          id: 3
                          value: 10
                          description: ""
                        stock: false
                        description: ""
                        not_taxable: false
                      payments_list:
                      - amount: 75
                        due_date: 2020-08-23
                        paid_date: null
                        id: 69078013
                        payment_terms:
                          days: 0
                          type: standard
                        status: not_paid
                      attachment_url: kdijrnf893hnwkfk45f50f.pdf
                      seen_date: null
                      next_due_date: 2020-08-23
                      template:
                        id: 2821
                        name: Light Smoke
                      extra_data: null
                      url: y12h45rn9yf2mse0p43t7ec90vr.pdf
                      locked: false
                      has_ts_pay_pending_payment: false
                      show_tspay_button: false
              schema:
                $ref: "#/components/schemas/CreateIssuedDocumentResponse"
          description: Document created.
        "401":
          description: Unauthorized
      security:
      - OAuth2AuthenticationCodeFlow:
        - issued_documents.invoices:a
        - issued_documents.credit_notes:a
        - issued_documents.receipts:a
        - issued_documents.orders:a
        - issued_documents.quotes:a
        - issued_documents.proformas:a
        - issued_documents.delivery_notes:a
      summary: Create Issued Document
      tags:
      - Issued Documents
  /c/{company_id}/issued_documents/{document_id}:
    delete:
      description: Deletes the specified document.
      operationId: deleteIssuedDocument
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: The ID of the document.
        explode: false
        in: path
        name: document_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          description: Document removed
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - OAuth2AuthenticationCodeFlow:
        - issued_documents.invoices:a
        - issued_documents.credit_notes:a
        - issued_documents.receipts:a
        - issued_documents.orders:a
        - issued_documents.quotes:a
        - issued_documents.proformas:a
        - issued_documents.delivery_notes:a
      summary: Delete Issued Document
      tags:
      - Issued Documents
    get:
      description: |
        Gets the specified document.
      operationId: getIssuedDocument
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: The ID of the document.
        explode: false
        in: path
        name: document_id
        required: true
        schema:
          type: integer
        style: simple
      - description: List of comma-separated fields.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: Name of the fieldset.
        explode: true
        in: query
        name: fieldset
        required: false
        schema:
          enum:
          - basic
          - detailed
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                      id: 12345
                      type: receipt
                      year: 2021
                      numeration: rec123
                      subject: ""
                      visible_subject: ""
                      rc_center: ""
                      ei_cassa_type: null
                      ei_withholding_tax_causal: null
                      ei_other_withholding_tax_type: null
                      ei_other_withholding_tax_causal: null
                      stamp_duty: 0
                      use_gross_prices: false
                      e_invoice: false
                      agyo_company_id: null
                      agyo_id: null
                      agyo_sent_at: null
                      delivery_note: false
                      accompanying_invoice: false
                      amount_net: 68.18
                      amount_vat: 6.82
                      amount_gross: 75
                      amount_due_discount: 0
                      amount_rivalsa: 0
                      amount_cassa: 0
                      amount_withholding_tax: 0
                      amount_other_withholding_tax: 0
                      h_margins: 15
                      v_margins: 16
                      show_payment_method: false
                      show_payments: true
                      show_totals: all
                      show_notification_button: false
                      is_marked: false
                      created_at: 2021-08-13 09:30:20
                      updated_at: 2021-08-23 05:34:20
                      entity:
                        id: 54321
                        name: Mary Red S.r.L.
                        vat_number: IT05432181211
                        tax_code: IT05432181211
                        address_street: "Via Italia, 66"
                        address_postal_code: "20900"
                        address_city: Milano
                        address_province: MI
                        address_extra: ""
                        country: Italia
                        certified_email: mary@pec.red.com
                        ei_code: ABCXCR1
                      date: 2021-08-20
                      number: 1
                      currency:
                        id: EUR
                        exchange_rate: "1.00000"
                        symbol: €
                      language:
                        code: it
                        name: Italiano
                      notes: ""
                      rivalsa: 0
                      cassa: 0
                      withholding_tax: 0
                      withholding_tax_taxable: 100
                      other_withholding_tax: 0
                      payment_method:
                        id: 4
                        name: Credit card
                      use_split_payment: false
                      merged_in: null
                      original_document: null
                      items_list:
                      - product_id: 5432
                        code: SG3
                        name: Soggiorno
                        measure: ""
                        net_price: 68.18182
                        category: ""
                        id: 277876033
                        gross_price: 75
                        apply_withholding_taxes: true
                        discount: 0
                        discount_highlight: false
                        in_dn: false
                        qty: 1
                        vat:
                          id: 3
                          value: 10
                          description: ""
                        stock: false
                        description: ""
                        not_taxable: false
                      payments_list:
                      - amount: 75
                        due_date: 2020-08-23
                        paid_date: null
                        id: 69078013
                        payment_terms:
                          days: 0
                          type: standard
                        status: not_paid
                      attachment_url: kdijrnf893hnwkfk45f50f.pdf
                      seen_date: null
                      next_due_date: 2020-08-23
                      template:
                        id: 2821
                        name: Light Smoke
                      extra_data: null
                      url: y12h45rn9yf2mse0p43t7ec90vr.pdf
                      locked: false
                      has_ts_pay_pending_payment: false
                      show_tspay_button: false
                      price_list_id: "10"
              schema:
                $ref: "#/components/schemas/GetIssuedDocumentResponse"
          description: Document Details.
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - OAuth2AuthenticationCodeFlow:
        - issued_documents.invoices:r
        - issued_documents.credit_notes:r
        - issued_documents.receipts:r
        - issued_documents.orders:r
        - issued_documents.quotes:r
        - issued_documents.proformas:r
        - issued_documents.delivery_notes:r
      summary: Get Issued Document
      tags:
      - Issued Documents
    put:
      description: Modifies the specified document.
      operationId: modifyIssuedDocument
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: The ID of the document.
        explode: false
        in: path
        name: document_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  data:
                    type: receipt
                    numeration: rec123
                    subject: ""
                    visible_subject: ""
                    amount_net: 68.18
                    amount_vat: 6.82
                    amount_due_discount: 0
                    entity:
                      id: 54321
                      name: Mary Red S.r.L.
                      vat_number: IT05432181211
                      tax_code: IT05432181211
                      address_street: "Via Italia, 66"
                      address_postal_code: "20900"
                      address_city: Milano
                      address_province: MI
                      address_extra: ""
                      country: Italia
                      certified_email: mary@pec.red.com
                      ei_code: ABCXCR1
                    date: 2021-08-20
                    number: 1
                    next_due_date: 2021-12-31
                    attachment_token: ypbqqe4u8w8bdabcd5fd5b1a
                    items_list:
                    - product_id: 333
                      code: SG3
                      name: Soggiorno
                      measure: ""
                      net_price: 68.18182
                      category: ""
                      id: 277875565
                      gross_price: 75
                      apply_withholding_taxes: true
                      discount: 0
                      discount_highlight: false
                      in_dn: false
                      qty: 1
                      vat:
                        id: 3
                        value: 10
                        description: ""
                      stock: true
                      description: ""
                      not_taxable: false
                    payments_list:
                    - amount: 75
                      due_date: 2020-08-23
                      id: 444
                      payment_terms:
                        days: 0
                        type: standard
                      status: not_paid
            schema:
              $ref: "#/components/schemas/ModifyIssuedDocumentRequest"
        description: The modified document
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                      id: 12345
                      type: receipt
                      year: 2021
                      numeration: rec123
                      subject: ""
                      visible_subject: ""
                      rc_center: ""
                      ei_cassa_type: null
                      ei_withholding_tax_causal: null
                      ei_other_withholding_tax_type: null
                      ei_other_withholding_tax_causal: null
                      stamp_duty: 0
                      use_gross_prices: false
                      e_invoice: false
                      agyo_company_id: null
                      agyo_id: null
                      agyo_sent_at: null
                      delivery_note: false
                      accompanying_invoice: false
                      amount_net: 68.18
                      amount_vat: 6.82
                      amount_gross: 75
                      amount_due_discount: 0
                      amount_rivalsa: 0
                      amount_cassa: 0
                      amount_withholding_tax: 0
                      amount_other_withholding_tax: 0
                      h_margins: 15
                      v_margins: 16
                      show_payment_method: false
                      show_payments: true
                      show_totals: all
                      show_notification_button: false
                      is_marked: false
                      created_at: 2021-08-13 09:30:20
                      updated_at: 2021-08-23 05:34:20
                      entity:
                        id: 54321
                        name: Mary Red S.r.L.
                        vat_number: IT05432181211
                        tax_code: IT05432181211
                        address_street: "Via Italia, 66"
                        address_postal_code: "20900"
                        address_city: Milano
                        address_province: MI
                        address_extra: ""
                        country: Italia
                        certified_email: mary@pec.red.com
                        ei_code: ABCXCR1
                      date: 2021-08-20
                      number: 1
                      currency:
                        id: EUR
                        exchange_rate: "1.00000"
                        symbol: €
                      language:
                        code: it
                        name: Italiano
                      notes: ""
                      rivalsa: 0
                      cassa: 0
                      withholding_tax: 0
                      withholding_tax_taxable: 100
                      other_withholding_tax: 0
                      payment_method:
                        id: 4
                        name: Credit card
                      use_split_payment: false
                      merged_in: null
                      original_document: null
                      items_list:
                      - product_id: 5432
                        code: SG3
                        name: Soggiorno
                        measure: ""
                        net_price: 68.18182
                        category: ""
                        id: 277876033
                        gross_price: 75
                        apply_withholding_taxes: true
                        discount: 0
                        discount_highlight: false
                        in_dn: false
                        qty: 1
                        vat:
                          id: 3
                          value: 10
                          description: ""
                        stock: false
                        description: ""
                        not_taxable: false
                      payments_list:
                      - amount: 75
                        due_date: 2020-08-23
                        paid_date: null
                        id: 69078013
                        payment_terms:
                          days: 0
                          type: standard
                        status: not_paid
                        payment_account: null
                      attachment_url: kdijrnf893hnwkfk45f50f.pdf
                      seen_date: null
                      next_due_date: 2020-08-23
                      template:
                        id: 2821
                        name: Light Smoke
                      extra_data: null
                      url: y12h45rn9yf2mse0p43t7ec90vr.pdf
                      locked: false
                      has_ts_pay_pending_payment: false
                      show_tspay_button: false
              schema:
                $ref: "#/components/schemas/ModifyIssuedDocumentResponse"
          description: Document edited
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - OAuth2AuthenticationCodeFlow:
        - issued_documents.invoices:a
        - issued_documents.credit_notes:a
        - issued_documents.receipts:a
        - issued_documents.orders:a
        - issued_documents.quotes:a
        - issued_documents.proformas:a
        - issued_documents.delivery_notes:a
      summary: Modify Issued Document
      tags:
      - Issued Documents
  /c/{company_id}/issued_documents/totals:
    post:
      description: Returns the totals for a new document.
      operationId: getNewIssuedDocumentTotals
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  data:
                    id: 12345
                    type: receipt
                    year: 2021
                    numeration: rec123
                    subject: ""
                    visible_subject: ""
                    rc_center: ""
                    stamp_duty: 0
                    use_gross_prices: false
                    delivery_note: false
                    accompanying_invoice: false
                    amount_net: 68.18
                    amount_vat: 6.82
                    amount_due_discount: 0
                    amount_rivalsa: 0
                    amount_cassa: 0
                    amount_withholding_tax: 0
                    amount_other_withholding_tax: 0
                    h_margins: 15
                    v_margins: 16
                    show_payment_method: false
                    show_payments: true
                    show_totals: all
                    show_notification_button: false
                    is_marked: false
                    created_at: 2021-08-13 09:30:20
                    updated_at: 2021-08-23 05:34:20
                    entity:
                      id: 54321
                      name: Mary Red S.r.L.
                      vat_number: IT05432181211
                      tax_code: IT05432181211
                      address_street: "Via Italia, 66"
                      address_postal_code: "20900"
                      address_city: Milano
                      address_province: MI
                      address_extra: ""
                      country: Italia
                      certified_email: mary@pec.red.com
                      ei_code: ABCXCR1
                    date: 2021-08-20
                    number: 1
                    currency:
                      id: EUR
                      exchange_rate: "1.00000"
                      symbol: €
                    language:
                      code: it
                      name: Italiano
                    notes: ""
                    rivalsa: 0
                    cassa: 0
                    withholding_tax: 0
                    withholding_tax_taxable: 100
                    other_withholding_tax: 0
                    payment_method:
                      id: 4
                      name: Credit card
                    use_split_payment: false
                    items_list:
                    - product_id: 5432
                      code: SG3
                      name: Soggiorno
                      measure: ""
                      net_price: 68.18182
                      category: ""
                      id: 277876033
                      apply_withholding_taxes: true
                      discount: 0
                      discount_highlight: false
                      in_dn: false
                      qty: 1
                      vat:
                        id: 3
                        value: 10
                        description: ""
                      stock: false
                      description: ""
                      not_taxable: false
                    payments_list:
                    - amount: 75
                      due_date: 2020-08-23
                      id: 69078013
                      payment_terms:
                        days: 0
                        type: standard
                      status: not_paid
                    attachment_url: kdijrnf893hnwkfk45f50f.pdf
                    next_due_date: 2020-08-23
                    template:
                      id: 2821
                      name: Light Smoke
                    url: y12h45rn9yf2mse0p43t7ec90vr.pdf
            schema:
              $ref: "#/components/schemas/GetNewIssuedDocumentTotalsRequest"
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                      amount_net: 68.18
                      taxable_amount: 68.18
                      vat_list:
                        "10":
                          amount_net: 68.18
                          amount_vat: 6.82
                      amount_vat: 6.82
                      amount_gross: 75
                      amount_due: 75
                      amount_due_discount: 0
                      payments_sum: 75
              schema:
                $ref: "#/components/schemas/GetNewIssuedDocumentTotalsResponse"
          description: Totals.
        "401":
          description: Unauthorized
      security:
      - OAuth2AuthenticationCodeFlow: []
      summary: Get New Issued Document Totals
      tags:
      - Issued Documents
  /c/{company_id}/issued_documents/{document_id}/totals:
    post:
      description: Returns the totals for a specified document.
      operationId: getExistingIssuedDocumentTotals
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: The ID of the document.
        explode: false
        in: path
        name: document_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  data:
                    rivalsa: 20
            schema:
              $ref: "#/components/schemas/GetExistingIssuedDocumentTotalsRequest"
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                      amount_net: 68.18
                      amount_rivalsa: 13.64
                      amount_net_with_rivalsa: 81.82000000000001
                      taxable_amount: 81.82
                      vat_list:
                        "10":
                          amount_net: 81.82
                          amount_vat: 8.18
                      amount_vat: 8.18
                      amount_gross: 90
                      amount_due: 90
                      amount_due_discount: 0
                      payments_sum: 75
              schema:
                $ref: "#/components/schemas/GetExistingIssuedDocumentTotalsResponse"
          description: Totals.
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - OAuth2AuthenticationCodeFlow: []
      summary: Get Existing Issued Document Totals
      tags:
      - Issued Documents
  /c/{company_id}/issued_documents/attachment:
    post:
      description: "Uploads an attachment destined to an issued document. The actual\
        \ association between the document and the attachment must be implemented\
        \ separately, using the returned token."
      operationId: uploadIssuedDocumentAttachment
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      requestBody:
        content:
          multipart/form-data:
            examples:
              example-1:
                value:
                  filename: ricevuta_maryRedSRL
                  attachment: ricevuta_20_08_2020.pdf
            schema:
              $ref: "#/components/schemas/UploadIssuedDocumentAttachmentRequest"
        description: Attachment.
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                      attachment_token: YmMyNWYxYzIwMTU3N2Y4ZGE3ZjZiMzg5OWY0ODNkZDQveXl5LmRvYw
              schema:
                $ref: "#/components/schemas/UploadIssuedDocumentAttachmentResponse"
          description: Attachment Token.
        "401":
          description: Unauthorized
      security:
      - OAuth2AuthenticationCodeFlow: []
      summary: Upload Issued Document Attachment
      tags:
      - Issued Documents
  /c/{company_id}/issued_documents/{document_id}/attachment:
    delete:
      description: Removes the attachment of the specified document.
      operationId: deleteIssuedDocumentAttachment
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: The ID of the document.
        explode: false
        in: path
        name: document_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          description: File removed.
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - OAuth2AuthenticationCodeFlow: []
      summary: Delete Issued Document Attachment
      tags:
      - Issued Documents
  /c/{company_id}/issued_documents/info:
    get:
      description: Retrieves the information useful while creating a new document.
      operationId: getIssuedDocumentPreCreateInfo
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: company_id
        required: true
        schema:
          example: 12345
          type: integer
        style: simple
      - description: The type of the issued document.
        explode: true
        in: query
        name: type
[...]
