name: Generate C# SDK
on:
  repository_dispatch:
    types: [generate-csharp-netcore]

jobs:
  generate-csharp-sdk:
    runs-on: macos-latest
    env:
      GIT_REPO_ID: fattureincloud-csharp-sdk
      GIT_USER_ID: fattureincloud
    steps: 

      - id: checkout
        name: Checkout repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.FATTUREINCLOUD_BOT_TOKEN }}

      - id: checkout-csharp
        name: Checkout C# repo
        env:
          GIT_REPO_PATH: '${{ env.GIT_USER_ID }}/${{ env.GIT_REPO_ID }}'
        uses: actions/checkout@v2
        with:
          path: ./generated/csharp-netcore
          ref: master
          repository: ${{ env.GIT_REPO_PATH }}
          token: ${{ secrets.FATTUREINCLOUD_BOT_TOKEN }}

      - id: init-git
        name: Init GIT
        run: |
          git config --global user.email "info@fattureincloud.it"
          git config --global user.name "fattureincloud-bot"
          
      - id: setup-node
        name: Setup Node.js
        uses: actions/setup-node@v2

      - id: setup-java
        name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '8'

      - id: setup-dotnet
        if: ${{ !env.ACT }}
        name: Setup dotnet
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '3.1.x'

      - id: setup-dotnet-manually
        if: ${{ env.ACT }}
        name: Setup dotnet manually
        run: |
          wget https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb
          sudo dpkg -i packages-microsoft-prod.deb 
          sudo apt update 
          sudo apt --assume-yes install apt-transport-https 
          sudo apt --assume-yes install dotnet-sdk-3.1

      - id: setup-homebrew
        name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - id: setup-libraries
        name: Install libraries
        run: |
          npm install -g yarn
          yarn global add @apidevtools/swagger-cli @openapitools/openapi-generator-cli standard-version
          brew install yq
          cd ./scripts/
          yarn
          cd ../generated/csharp-netcore/scripts
          yarn

      - id: bump-csharp-sdk-version
        name: Bump C# SDK
        env:
          OPENAPI_VERSION: ${{ github.event.client_payload.version }}
        run: |

          echo "openapi_version=$OPENAPI_VERSION"

          BUMP_TYPE=$(node ./scripts/sdk-version-checker.js ./generated/csharp-netcore/sdk-version.yaml $OPENAPI_VERSION)

          cd ./generated/csharp-netcore

          if [ "$BUMP_TYPE" == "patch" ];then
            echo 'Bumping the SDK patch version...'
            standard-version --skip.tag --skip.changelog --skip.commit --release-as patch
          elif [ "$BUMP_TYPE" == "openapi" ];then
            echo 'Using the openapi version...'
            standard-version --skip.tag --skip.changelog --skip.commit --release-as $OPENAPI_VERSION
          else
            echo "Something bad happened - impossible to bump C# SDK version. value=$BUMP_TYPE"
          fi

          SDK_VERSION=$(yq e '.info.version' ./sdk-version.yaml)


          echo "sdk_version=$SDK_VERSION" >> $GITHUB_ENV
          echo "openapi_version=$OPENAPI_VERSION" >> $GITHUB_ENV

      - id: move-custom-files-to-backup
        name: Move custom files to backup
        run: |
          mkdir -p ./backup/csharp-netcore/src/It.FattureInCloud.Sdk/Filter
          mkdir -p ./backup/csharp-netcore/src/It.FattureInCloud.Sdk/Oauth2
          mv ./generated/csharp-netcore/src/It.FattureInCloud.Sdk/Filter ./backup/csharp-netcore/src/It.FattureInCloud.Sdk/
          mv ./generated/csharp-netcore/src/It.FattureInCloud.Sdk/Oauth2 ./backup/csharp-netcore/src/It.FattureInCloud.Sdk/

      - id: delete-old-files
        name: Delete old files
        run: |
          rm -rf ./generated/csharp-netcore/src/It.FattureInCloud.Sdk
          rm -rf ./generated/csharp-netcore/docs

      - id: generate-csharp-sdk
        name: Generate C# SDK
        env:
          PACKAGE_NAME: It.FattureInCloud.Sdk
          PACKAGE_TITLE: "\"Fatture in Cloud C# SDK\""
          PACKAGE_AUTHORS: "\"Fatture in Cloud API Team\""
          PACKAGE_COMPANY: "\"Fatture in Cloud\""
          TARGET_FRAMEWORK: "\"netstandard2.0\""
          TEST_TARGET_FRAMEWORK: "\"netcoreapp3.1;net5.0\""
          APP_NAME: "FattureInCloud"
        run: |
          SDK_VERSION=${{ env.sdk_version }}
          echo "${{ env.sdk_version }}"
          
          RELEASE_NOTE="\"bumping version to $SDK_VERSION\""

          USER_AGENT="$APP_NAME/${{ env.sdk_version }}/csharp-SDK"
          
          openapi-generator-cli generate -i ./openapi.yaml -g csharp-netcore -o generated/csharp-netcore/ -t ./templates/openapi-generator/csharp-netcore --additional-properties=useDateTimeOffset=true,conditionalSerialization=true,packageName=${PACKAGE_NAME},packageAuthors=${PACKAGE_AUTHORS},packageCompany=${PACKAGE_COMPANY},packageTitle=${PACKAGE_TITLE},packageVersion=${SDK_VERSION},targetFramework=${TARGET_FRAMEWORK},testTargetFramework=${TEST_TARGET_FRAMEWORK},multiTarget=true,licenseId=MIT --git-repo-id=${GIT_REPO_ID} --git-user-id=${GIT_USER_ID} --release-note=${RELEASE_NOTE} --http-user-agent=${USER_AGENT}

      - id: move-custom-files-to-repo
        name: Move custom files to repo
        run: |
          mv ./backup/csharp-netcore/src/It.FattureInCloud.Sdk/Filter ./generated/csharp-netcore/src/It.FattureInCloud.Sdk/
          mv ./backup/csharp-netcore/src/It.FattureInCloud.Sdk/Oauth2 ./generated/csharp-netcore/src/It.FattureInCloud.Sdk/

      - id: generate-additional-files
        name: Generate Additional files
        run: |
          node ./scripts/generate-scopes.js csharp-netcore

      - id: lint-code
        name: Lint Code Base
        run: |
          cd ./generated/csharp-netcore
          dotnet new tool-manifest
          dotnet tool install JetBrains.ReSharper.GlobalTools
          dotnet jb cleanupcode It.FattureInCloud.Sdk.sln

      - id: create-pr
        name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          path: ./generated/csharp-netcore
          branch: "devel-${{ env.sdk_version }}"
          token: "${{ secrets.FATTUREINCLOUD_BOT_TOKEN }}"
          delete-branch: true
          base: master
          commit-message: "chore: bumping version to ${{ env.sdk_version }}"
          title: "Updating SDK to ${{ env.sdk_version }}"
          body: "New SDK verson ${{ env.sdk_version }} generated by Github Action from OpenAPI Spec ${{ env.openapi_version }}"   
