name: Generate JavaScript SDK
on:
  repository_dispatch:
    types: [generate-javascript]

jobs:
  generate-js-sdk:
    runs-on: ubuntu-latest
    env:
      GIT_REPO_ID: fattureincloud-js-sdk
      GIT_USER_ID: fattureincloud
    steps: 

      - id: checkout
        name: Checkout repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.FATTUREINCLOUD_BOT_TOKEN }}
      
      - id: checkout-js
        name: Checkout JS repo
        env:
          GIT_REPO_PATH: '${{ env.GIT_USER_ID }}/${{ env.GIT_REPO_ID }}'
        uses: actions/checkout@v2
        with:
          path: ./generated/javascript
          ref: master
          repository: ${{ env.GIT_REPO_PATH }}
          token: ${{ secrets.FATTUREINCLOUD_BOT_TOKEN }}

      - id: init-git
        name: Init GIT
        run: |
          git config --global user.email "info@fattureincloud.it"
          git config --global user.name "fattureincloud-bot"

      - id: setup-node
        name: Setup Node.js
        uses: actions/setup-node@v2

      - id: setup-java
        name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '8'

      - id: setup-libraries
        name: Install libraries
        run: |
          npm install -g yarn
          yarn global add @apidevtools/swagger-cli @openapitools/openapi-generator-cli standard-version
          sudo add-apt-repository ppa:rmescandon/yq -y
          sudo apt update
          sudo apt install yq -y
          cd ./scripts/
          yarn
          cd ../generated/javascript/scripts
          yarn

      - id: bump-js-sdk-version
        name: Bump JS SDK
        env:
          OPENAPI_VERSION: ${{ github.event.client_payload.version }}
        run: |

          echo "openapi_version=$OPENAPI_VERSION"

          BUMP_TYPE=$(node ./scripts/sdk-version-checker.js ./generated/javascript/sdk-version.yaml $OPENAPI_VERSION)

          cd ./generated/javascript

          if [ "$BUMP_TYPE" == "patch" ];then
            echo 'Bumping the SDK patch version...'
            standard-version --release-as patch
          elif [ "$BUMP_TYPE" == "openapi" ];then
            echo 'Using the openapi version...'
            standard-version --release-as $OPENAPI_VERSION
          else
            echo "Something bad happened - impossible to bump JS SDK version. value=$BUMP_TYPE"
          fi

          SDK_VERSION=$(yq e '.info.version' ./sdk-version.yaml)


          echo "sdk_version=$SDK_VERSION" >> $GITHUB_ENV
          echo "openapi_version=$OPENAPI_VERSION" >> $GITHUB_ENV

      - id: generate-js-sdk
        name: Generate JS SDK
        env:
          PACKAGE_NAME: "\"FattureInCloud JavaScript SDK\""
          APP_NAME: FattureInCloudPROJECT_NAME="@fattureincloud/fattureincloud-js-sdk"
          MODULE_NAME: "fattureInCloudSdk"
          PROJECT_DESCRIPTION: "\"JavaScript SDK for the Fatture in Cloud API\""
        run: |
          
          RELEASE_NOTE="\"${{ github.event.head_commit.message }}\""

          SDK_VERSION=${{ env.sdk_version }}
          echo "${{ env.sdk_version }}"

          USER_AGENT="$APP_NAME/${{ env.sdk_version }}/JavaScript-SDK"

          openapi-generator-cli generate -i ./openapi.yaml -g javascript -o ./generated/javascript/ -t ./templates/javascript --git-repo-id=${GIT_REPO_ID} --git-user-id=${GIT_USER_ID} --release-note=${RELEASE_NOTE} --http-user-agent=${USER_AGENT} --additional-properties=projectName=$PROJECT_NAME,projectDescription=$PROJECT_DESCRIPTION,moduleName=$MODULE_NAME

          node ./scripts/postprocess-javascript.js nyc './generated/javascript/package.json'

      - id: create-pr
        name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          path: ./generated/javascript
          branch: "devel-${{ env.sdk_version }}"
          token: "${{ secrets.FATTUREINCLOUD_BOT_TOKEN }}"
          delete-branch: true
          base: master
          commit-message: "${{ github.event.head_commit.message }}"
          title: "Updating SDK to ${{ env.sdk_version }}"
          body: "New SDK verson ${{ env.sdk_version }} generated by Github Action from OpenAPI Spec ${{ env.openapi_version }}"   
